/* CSS Document */

/*
+----------------------------------------------------------------+
Reset CSS for HTML5                 
+----------------------------------------------------------------+
*/

html,
body,
div,
span,
object,
iframe,
mark,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
    border: 0 none;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    list-style: none outside none;
    margin: 0;
    outline: 0 none;
    padding: 0;
    vertical-align: baseline;
    text-decoration: none;
    background: none;
}

ul,
ol {
    list-style: none;
}
section,
article,
aside,
header,
footer,
nav,
dialog,
figure {
    display: block;
    margin: 0;
}

/*--------------------------------------------------------------*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
    text-decoration: none;
}
/* remember to define focus styles! */
:focus {
    outline: 0;
}
body {
    /*! line-height: 1; */
    color: black;
    background: white;
}
ol,
ul {
    list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
    border-collapse: separate;
    border-spacing: 0;
}
caption,
th,
td {
    text-align: left;
    font-weight: normal;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
}
blockquote,
q {
    quotes: "" "";
}
button {
    cursor: pointer;
    background: #ccc;
    border-radius: 0;
    border: 0;
    -webkit-appearance: none;
}
input[type="submit"] {
    cursor: pointer;
    background: #ccc;
    border-radius: 0;
    border: 0;
    -webkit-appearance: none;
}

input {
    padding: 0;
    margin: 0;
    border-radius: 0;
}

input[type="radio"] {
    border-radius: 50%;
}

textarea {
    border-radius: 0;
}

body {
    position: absolute;
    width: 100%;
    min-height: 100%;
    overflow-x: hidden;
}
.full {
    width: 100%;
    float: left;
}
.center {
    width: 1200px;
    margin: 0 auto;
}
.right {
    float: right;
}
.left {
    float: left;
}
.all {
    position: fixed;
    width: 100%;
    height: 100%;
    display: none;
}
.black {
    background: rgba(0, 0, 0, 0.85);
}
strong {
    font-weight: bold;
}
input[type="text"] {
    transition: all 0.3s;
}
input[type="text"]:focus {
}
* {
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}
a {
    transition: opacity linear 0.2s;
}
a:hover {
    opacity: 0.8;
}
#ajaxBusy {
    display: none !important;
}

@font-face {
    font-family: "lb";
    src: url("/arquivos/lato-bold-webfont.eot.jpg");
    src: url("/arquivos/lato-bold-webfont.eot.jpg?#iefix") format("embedded-opentype"),
        url("/arquivos/lato-bold-webfont.woff2.jpg") format("woff2"),
        url("/arquivos/lato-bold-webfont.woff.jpg") format("woff"),
        url("/arquivos/lato-bold-webfont.ttf.jpg") format("truetype"),
        url("/arquivos/lato-bold-webfont.svg.jpg#latobold") format("svg");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "lh";
    src: url("/arquivos/lato-heavy-webfont.eot.jpg");
    src: url("/arquivos/lato-heavy-webfont.eot.jpg?#iefix") format("embedded-opentype"),
        url("/arquivos/lato-heavy-webfont.woff2.jpg") format("woff2"),
        url("/arquivos/lato-heavy-webfont.woff.jpg") format("woff"),
        url("/arquivos/lato-heavy-webfont.ttf.jpg") format("truetype"),
        url("/arquivos/lato-heavy-webfont.svg.jpg#latoheavy") format("svg");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "ll";
    src: url("/arquivos/lato-light-webfont.eot.jpg");
    src: url("/arquivos/lato-light-webfont.eot.jpg?#iefix") format("embedded-opentype"),
        url("/arquivos/lato-light-webfont.woff2.jpg") format("woff2"),
        url("/arquivos/lato-light-webfont.woff.jpg") format("woff"),
        url("/arquivos/lato-light-webfont.ttf.jpg") format("truetype"),
        url("/arquivos/lato-light-webfont.svg.jpg#latolight") format("svg");
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: "lm";
    src: url("/arquivos/lato-medium-webfont.eot.jpg");
    src: url("/arquivos/lato-medium-webfont.eot.jpg?#iefix") format("embedded-opentype"),
        url("/arquivos/lato-medium-webfont.woff2.jpg") format("woff2"),
        url("/arquivos/lato-medium-webfont.woff.jpg") format("woff"),
        url("/arquivos/lato-medium-webfont.ttf.jpg") format("truetype"),
        url("/arquivos/lato-medium-webfont.svg.jpg#latomedium") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "lr";
    src: url("/arquivos/lato-regular-webfont.eot.jpg");
    src: url("/arquivos/lato-regular-webfont.eot.jpg?#iefix") format("embedded-opentype"),
        url("/arquivos/lato-regular-webfont.woff2.jpg") format("woff2"),
        url("/arquivos/lato-regular-webfont.woff.jpg") format("woff"),
        url("/arquivos/lato-regular-webfont.ttf.jpg") format("truetype"),
        url("/arquivos/lato-regular-webfont.svg.jpg#latoregular") format("svg");
    font-weight: normal;
    font-style: normal;
}

.sprite-selo_digicert {
    position: relative;
    min-width: 91px;

    display: inline-block;
    min-height: 102px;
    float: left;
    margin-right: 10px;
}
.sprite-selo_digicert:before {
    position: absolute;
    background-image: url(../../arquivos/sprite.png);
    background-position: 0 -140px;
    width: 91px;
    height: 102px;
    content: "";
}

header,
footer {
    display: block !important;
}
#header,
#footer {
    display: none !important;
}

/*HEADER*/
header {
    padding: 15px 0;
    background: #fff;
}
header .sprite-logo {
    background: url(/arquivos/checkout_logo_header.png) left top no-repeat;
    width: 387px;
    height: 81px;
    overflow: hidden;
    text-indent: -1000px;
    float: left;
    box-sizing: content-box;
    margin-right: 20px;
    position: relative;
    z-index: 10;
}
header .selo_ambiente_seguro {
    float: right;
    background: url(/arquivos/checkout_ambiente_seguro.png) left top no-repeat;
    width: 179px;
    height: 72px;
    overflow: hidden;
    text-indent: -1000px;
    margin-top: 10px;
}
/*HEADER*/

/*FOOTER*/
.ft-checkout {
    width: 1200px;
    margin: 0 auto;
    padding-top: 30px;
}
footer {
    background: #c22229;
    border-top: 10px solid #e23f46;
}
footer .seguranca {
    width: 25%;
    float: left;
}
footer .formas-de-pagamento {
    width: 50%;
    float: left;
}
footer .local {
    width: 25%;
    float: left;
    color: #fff;
}
footer .local p {
    width: 72%;
    margin-top: 9px;
    float: right;
}
.sprite-ico_pin {
    display: inline-block;
    position: relative;
    min-width: 59px;
    min-height: 79px;
}
.sprite-ico_pin:before {
    position: absolute;
    background-image: url(../../arquivos/sprite.png);
    background-position: 0 -242px;
    width: 59px;
    height: 79px;
    content: "";
}
footer .precos {
    width: 100%;
    clear: both;
    color: #fff;
    margin-top: 120px;
    margin-bottom: 20px;
}
footer .copyright {
    color: white;
    background: #a31117;
    padding: 15px 75px 0px;
}
footer .direitos {
    width: auto;
    float: left;
    margin-top: 7px;
    margin-right: 40px;
}
footer .razao-social {
    width: 30%;
    float: left;
    margin-top: 7px;
}
footer .logo-sanders {
    margin-bottom: 8px;
}
/*FIM - FOOTER*/

/*CARRINHO*/
/*DESCRIÃƒâ€¡ÃƒÆ’O DO ALUNO*/
.check-aluno-descricao {
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    color: #c22229;
    margin-top: -20px;
}

.check-aluno-descricao span {
    display: block;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 7px;
}
/*FIM - DESCRIÃƒâ€¡ÃƒÆ’O DO ALUNO*/
.note.summary-note.hide {
    display: block !important;
    font-size: 0px;
}

#cart-note {
    width: 100%;
    border-radius: 3px;
}

.container-cart,
.container-order-form {
    width: 1200px !important;
}
.cart {
    border: 0px solid #cbcbcb;
    border-radius: 0;
}
.cart thead {
    font-family: "Open Sans";
    color: #a4a4a4;
    font-size: 12px;
    text-align: center;
}
.cart thead tr th {
    text-align: center;
    background-color: #e23f46;
    font-weight: 300;
    padding: 10px 8px;
    font-size: 18px;
    color: #fff;
    font-family: "lr";
    text-transform: uppercase;
}
.cart thead tr th.product {
    border-radius: 50px 0 0 50px;
}
.cart thead tr th.quantity-price {
    border-radius: 0 50px 50px 0;
}
.cart thead tr th {
    border: 0;
}
.quantity-price {
    width: 160px;
}

.cart thead tr th + th,
.cart thead tr th.product {
    border-right: 0;
}
.cart thead tr th.item-remove {
    background-color: transparent;
    border-top: 0 !important;
}
.cart table td {
    border-bottom: 1px solid #e8e8e8;
}
.cart table td + td {
    border-left: 0;
}
.cart table td:last-child {
    border: 0px solid #cbcbcb;
}

.cart table td.product-image,
.cart table td.product-name,
.cart table td.shipping-date,
.cart table td.product-price {
    border-right: 0 !important;
}

.cart table td a,
.cart table td {
    font-family: "lr";
    font-size: 17px;
    color: #161616;
    text-transform: uppercase;
}
.product-image img {
    color: transparent;
    height: 130px;
    max-width: 150px;
    width: 150px;
}

.new-product-price {
    font-family: "ll";
    font-size: 22px;
    color: #161616;
    text-transform: uppercase;
}
.total-selling-price {
    font-family: "lr";
    font-size: 22px;
    color: #161616;
    text-transform: uppercase;
    font-weight: 100;
}
.item-multiplier-label {
    display: none;
}
.cart table td.product-price .list-price {
    text-decoration: line-through;
}
.cart table td.product-price .best-price {
    font-weight: 700;
}

.cart table tbody {
    margin-top: 20px;
}
.cart table tbody tr.product-item td.quantity {
    position: relative;
    padding-right: 15px;
}
.cart table tbody tr.product-item td.quantity input {
    border: 1px solid #cccccc;
    font-size: 13px;
    color: #868686;
    border-radius: 0;
    width: 50px;
    height: 29px;
    line-height: 29px;
    box-sizing: border-box;
}
.item-quantity-change-decrement,
.item-quantity-change-increment {
    float: right;
    position: relative;
}
.item-quantity-change-increment {
    margin-right: -14px;
    z-index: 1;
    width: 14px;
    height: 10px;
    overflow: hidden;
    left: -20px;
}
.item-quantity-change-decrement {
    z-index: 2;
    width: 14px;
    height: 10px;
    overflow: hidden;
    top: 18px;
    left: -20px;
}
.item-quantity-change-decrement i {
    position: absolute;
    top: -9px;
    left: 0;
}
.icon-minus-sign:before,
.icon-plus-sign:before {
    font-size: 16px;
    width: 14px;
    height: 10px;
    z-index: 1;
    color: #23201d;
}
.icon-minus-sign:before {
    content: "\f0dd";
}
.icon-plus-sign:before {
    content: "\f0de";
}

.cart table td .item-link-remove {
    color: #ee0000;
    font-size: 18px;
}
.cart table td .item-link-remove:hover {
    color: #7c0404;
}

.link-coupon-add {
    font-size: 20px;
    color: #000000;
    font-family: "ll";
    background-color: transparent;
    padding: 5px 20px;
    text-decoration: underline;
}
.link-coupon-add:hover {
    text-decoration: none;
    color: #000;
}

.full-cart .summary-totalizers {
    margin: 0 30px 0 0;
    width: 340px;
    padding: 0;
    border: 0;
}

.cart-links-bottom {
    margin: 20px 30px 50px 0;
}
i.icon-lock {
    display: none;
}
.icon-remove-sign {
    font-size: 19px;
    color: #000;
}
.summary-template-holder table tbody tr td {
    background-color: #f6f6f6;
}
.summary-template-holder table tbody tr td,
.summary-template-holder table tbody tr td {
    font-size: 19px;
    color: #000;
    padding: 15px 0px 0 5px !important;
    font-family: "ll";
    font-weight: 100;
}
.summary-template-holder table tbody tr td a {
    text-decoration: none;
    color: #000;
}
a.btn.btn-mini.btn-default.dropdown-toggle.shipping-sla-button {
    margin-bottom: 10px;
}
.full-cart .postal-code-for-sla {
    font-size: 14px !important;
}
.summary-template-holder table tbody:first-child tr:first-child td:first-child {
    font-size: 19px;
    color: #000;
    padding: 15px 0px 0 20px !important;
    font-family: "ll";
    font-weight: 100;
}
.summary-template-holder table tbody:first-child tr:first-child td:last-child {
    width: 0px;
}
.summary-template-holder table tfoot {
    background-color: #eaedf0;
}
.summary-template-holder table tfoot tr td {
    font-size: 19px !important;
    color: #000;
    padding: 15px 0px 0 5px !important;
    font-family: "lb";
    font-weight: 500;
}
.summary-template-holder table tfoot tr td:nth-child(1) {
    /*background-color: #eaedf0;*/
}
.summary-template-holder table tfoot tr td:last-child {
    /*background-color: #eaedf0;*/
}

.full-cart .summary-totalizers tr {
    height: 40px;
}

a#cart-choose-more-products {
    margin-top: 30px;
    background: #e1e1e1;
    font-family: "ll";
    color: #000;
    text-decoration: underline;
    font-size: 22px;
    padding: 15px 50px;
    text-decoration: none;
    border-radius: 50px;
    text-transform: uppercase;
}

#cart-to-orderform {
    background: #e23f46;
    font-family: "lh";
    color: #fff;
    text-decoration: underline;
    font-size: 22px;
    padding: 0px 50px;
    text-decoration: none;
    border-radius: 50px;
    text-transform: uppercase;
    text-align: center;
    height: 55px;
    line-height: 55px;
}
#cart-to-orderform:hover {
    text-decoration: none;
}
/*CARRINHO*/

/*SMART CHECKOUT*/
.empty-cart-content h2,
.empty-cart-message {
    font-family: "Lato" !important;
    font-size: 22px;
    color: #121212 !important;
    font-weight: 700;
}
.empty-cart-message {
    font-size: 16px !important;
    font-weight: 700 !important;
}
.cart-template {
    margin-top: 30px;
}
#cart-title {
    display: none !important;
}

#cart-choose-products {
    background: #c50000;
    border-radius: 0;
    font-family: "Lato";
    font-size: 22px;
    color: #fff;
    border: 0 !important;
}
#cart-choose-products:hover {
    text-decoration: none;
}

.empty-cart-title,
.empty-cart-message {
    color: #535252;
    font-size: 16px;
    font-family: "Conv_AvenirLTStd-Medium";
}

#orderform-to-cart {
    color: #535252;
}

.client-pre-email {
    border-top: 0;
}
.orderform-template {
    margin-top: 15px;
}

h3.client-pre-email-h {
    margin-bottom: 60px;
}
h3.client-pre-email-h label {
    color: #131313;
    font-weight: 700;
    font-family: "lb";
    font-size: 34px;
    margin-top: 2%;
}

.client-pre-email h3 small {
    font-size: 32px;
    font-family: "ll";
    color: #131313;
}
h1#orderform-title {
    display: none !important;
}

div.client-email {
    margin-left: 135px !important;
    width: 71% !important;
}
.client-pre-email input {
    font-family: "ll";
    float: left;
    border: 0px solid #d6d6d6 !important;
    font-size: 20px !important;
    color: #131313 !important;
    width: 100%;
    height: 44px !important;
    line-height: 44px !important;
    padding: 0 35% 0 25px;
    border-radius: 40px;
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    background-color: #f3f3f3;
}
.client-pre-email .btn-success {
    position: absolute;
    z-index: 3;
    margin: 0px;
    border-radius: 40px;
    background: #c22229;
    width: 30%;
    height: 44px !important;
    top: 0;
    right: 0;
    font-weight: 500;
    transition: opacity 0.2s;
    text-align: center;
    text-transform: uppercase;
    font-family: "lr";
    font-size: 22px;
    color: #fff;
}
.client-pre-email .btn-success:hover {
    text-decoration: none;
    opacity: 0.8;
}

.client-pre-email .emailInfo {
    width: 100%;
    background: transparent;
    border: 0;
    margin-top: 20px;
}

.client-pre-email .emailInfo h3 {
    font-size: 24px;
    font-family: "lb";
    color: #131313;
    font-weight: 700;
    margin-bottom: 20px;
}
.client-pre-email .emailInfo ul {
    margin-bottom: 30px;
}
.client-pre-email .emailInfo ul li {
    font-size: 24px;
    font-family: "lr";
    color: #131313;
    margin-bottom: 5px;
}
.client-pre-email .emailInfo .icon-ok {
    color: #535252;
    float: left;
    margin: -8px 5px 0px 0;
}
.icon-ok:before {
    content: "\f111";
    font-size: 7px;
}

.client-pre-email .emailInfo .icon-lock {
    position: absolute;
    font-size: 95px;
    bottom: 0px;
    right: 145px;
    color: #505050;
    z-index: 1;
}
.icon-lock:before {
    margin-right: 10px;
}
i.icon-lock:after {
    content: "AMBIENTE SEGURO";
    font-size: 31px;
    float: right;
    width: 230px;
    margin-top: 10px;
    font-family: "AvenirLTStd-Light";
    letter-spacing: 10px;
}

#go-to-shipping,
.btn-go-to-payment,
#payment-data-submit {
    position: relative;
    border-radius: 40px;
    background: #c22229;
    height: 44px !important;
    line-height: 14px;
    font-family: "ll";
    font-size: 18px;
    color: #fff;
    transition: opacity 0.2s;
    text-transform: uppercase;
}
#go-to-shipping:hover,
.btn-go-to-payment:hover,
#payment-data-submit:hover,
#go-to-shipping:active,
.btn-go-to-payment:active,
#payment-data-submit:active,
#go-to-shipping:focus,
.btn-go-to-payment:focus,
#payment-data-submit:focus {
    opacity: 0.8;
    text-decoration: none;
    background: #c22229;
}

#payment-data-submit .icon-lock:before,
#payment-data-submit .icon-lock:after {
    content: "";
    display: none;
}
#payment-data-submit {
    line-height: 0;
}

.default-modal-security.payment-confirmation-security {
    width: 290px;
}

.default-modal-body {
    width: 610px;
}
.modal.fade {
    width: 610px;
}

#btn-identified-user-button {
    float: right;
    margin-top: -20px;
}

.body-order-placed {
    padding-bottom: 0;
    font-family: Arial;
}
.body-order-placed h1 {
    position: absolute;
    top: -10px;
    left: 190px;
    font-family: "AvenirLTStd-Light";
    font-size: 22px;
    color: #fff;
    letter-spacing: 10px;
    text-transform: uppercase;
}

.body-order-placed .main {
    margin-top: 50px;
}

.body-order-placed .page-header {
    border-bottom: 0;
}
/*SMART CHECKOUT*/

.desktop {
    display: block !important;
}
.mobile {
    display: none !important;
}

@media screen and (min-width: 1px) and (max-width: 1023px) {
    .desktop {
        display: none !important;
    }
    .mobile {
        display: block !important;
    }
    .center {
        width: 100%;
        padding: 0 10px;
    }

    /*HEADER*/
    .logo_mobile {
        float: left;
        width: 140px;
        height: 45px;
        background: url(/arquivos/checkout_mobile_logo.png) left top no-repeat;
        background-size: 100%;
        overflow: hidden;
        text-indent: -1000pc;
    }
    .ambiente_seguro_mobile {
        float: right;
        background: url(/arquivos/checkout_mobile_site_seguro.png) left top no-repeat;
        width: 91px;
        height: 34px;
        margin: 5px;
    }

    body .container {
        margin-top: 80px;
        width: 100% !important;
    }

    .full-cart .cart table tbody tr td.product-name,
    .full-cart .cart table tbody tr td.quantity {
        margin-left: 90px;
    }
    .full-cart .cart table tbody tr td.quantity {
        padding-right: 0;
        width: auto;
    }
    .item-quantity-change {
        display: none;
    }

    .client-pre-email .btn-success {
        width: auto;
    }
    div.client-email {
        margin-left: 0 !important;
        width: 100% !important;
        padding: 10px;
    }
    .client-pre-email {
        padding: 0px 10px;
    }
    .client-pre-email .emailInfo .icon-lock {
        right: 0 !important;
        float: left !important;
        position: relative !important;
    }
    i.icon-lock:after {
        position: absolute;
        top: 0;
        left: 70px;
        font-size: 28px;
    }

    #client-profile-data,
    #shipping-data,
    #payment-data,
    .cart-template.mini-cart.span4 {
        padding: 0px 10px;
    }
}

/*Mensagem checkout - Marcos - 24/01/2018 */
.mensagem-checkout {
    padding: 6px 0px;
    background: #cf982f;
    color: white;
    text-align: center;
    font-weight: bold;
}

/*CorreÃƒÂ§ÃƒÂµes - Marcos - 27/10/2017*/
.payment-description {
    font-size: 0px;
}
fieldset.box-payment-group2.box-payment-option.bankInvoicePaymentGroup .payment-description:after {
    content: "- O Boleto bancario sera exibido apÃ³s a confirmaÃ§Ã£o da compra,\A  o mesmo nÃ£o serÃ¡ enviado via correios.\A\A - A data de vencimento do Boleto serÃ¡ de 3 dias corridos apÃ³s o\A fechamento do pedido.\A\A  - Os pedidos efetuados atraves dessa modalidade, serÃ£o liberados\A para entrega apÃ³s o respectivo banco confirmar o pagamento\A (em atÃ© 3 dias Ãºteis).\A\A  - Na conta indicada neste boleto, nÃ£o serÃ¡ possivel fazer o pagamento\A atravÃ©s de DOC, Transferencia ou DepÃ³sito.\A\A  - AtenÃ§Ã£o: o pedido continuara valido somente por 5 (cinco) dias\A corridos a contar da data do seu fechamento.";
    font-size: 15px;
    white-space: pre;
    display: block;
}

fieldset.box-payment-group2.box-payment-option.custom201PaymentGroupPaymentGroup .payment-description:after {
    content: "Selecione um banco para realizar o pagamento atraves\A de depÃ³sito bancario:\A\A Banco: Itau\A Agencia: 0728\A Conta Corrente: 26850-9\A Favorecido: Edmond Habib Ghattas Ltda\A CNPJ: 61.506.598/0001-80\A\A Banco: Bradesco\A Agencia: 0103\A Conta-Corrente: 22500-2\A Favorecido: Edmond Habib Ghattas Ltda\A CNPJ: 61.506.598/0001-80\A\A Banco: Banco Do Brasil\A Agencia: 303-4\A Conta-Corrente: 102303-9\A Favorecido: Edmond Habib Ghattas Ltda\A CNPJ: 61.506.598/0001-80";
    font-size: 15px;
    white-space: pre;
    display: block;
}

/*MOBILE*/
@media screen and (max-width: 480px) {
    /*MOBILE - HEADER*/
    header .logotipo {
        width: 180px;
    }

    header .selo_ambiente_seguro {
        width: 100px;
        height: 50px;
        background-size: 100px;
        margin: 0px;
    }
    /*MOBILE - FIM - HEADER*/

    /*MOBILE - CARRINHO*/
    body .container {
        margin-top: 0px;
        width: 100% !important;
    }

    .body-cart {
        padding-bottom: 0px;
    }

    .checkout-container {
        padding: 0px 5px;
    }

    .product-image img {
        width: 80px;
        height: 80px;
    }

    .coupon.summary-coupon.pull-right {
        width: 100%;
        margin-bottom: 20px;
    }

    .span5.totalizers.summary-totalizers.cart-totalizers.pull-right {
        width: 100%;
        float: none;
    }

    .cart-links-bottom {
        margin: 30px 0px;
        line-height: 55px;
        text-align: center;
    }

    a#cart-choose-more-products {
        padding: 15px;
        font-size: 20px;
    }

    #client-profile-data,
    #shipping-data,
    #payment-data,
    .cart-template.mini-cart.span4 {
        padding: 0px;
    }

    .client-pre-email .btn-success {
        width: 100%;
        position: inherit;
        top: 55px;
    }

    div.client-email {
        padding: 0px;
    }

    .client-pre-email .emailInfo {
        margin-top: 50px;
    }

    .orderform-template-holder .client-profile-data input[type="email"] {
        padding: 0px 10px;
    }

    /*MOBILE - FIM - CARRINHO*/

    /*MOBILE - FOOTER*/
    .vtex_sanders {
        text-align: right;
    }

    .vtex_sanders a {
        margin-right: 10px;
    }

    .ft-checkout {
        width: 100%;
        padding: 0px 10px;
    }

    footer .seguranca,
    footer .formas-de-pagamento,
    footer .local,
    footer .precos {
        width: 100%;
        margin: 17px 0px;
    }
    footer .precos {
        text-align: center;
    }

    footer .copyright {
        text-align: center;
        padding: 0px 10px;
        height: auto;
    }

    footer .direitos,
    footer .razao-social {
        width: 100%;
        margin: 10px 0px;
    }
}