<div class="footer novo" style="display:none;">
    <div class="container">
        <div class="row_1">
            <div class="column">
                <p class="title">Formas de Pagamento</p>
                <ul class="bandeiras">
                    <li><img src="/arquivos/ico-visa.png"></li>
                    <li><img src="/arquivos/ico-master.png"></li>
                    <li><img src="/arquivos/ico-diners.png"></li>
                    <li><img src="/arquivos/ico-american.png"></li>
                    <li><img src="/arquivos/ico-depto.png"></li>
                    <li><img src="/arquivos/ico-bb.png"></li>
                    <li><img src="/arquivos/ico-itau.png"></li>
                    <li><img src="/arquivos/ico-bra.png"></li>
                    <li><img src="/arquivos/ico-hipercard.png"></li>
                    <li><img src="/arquivos/ico-boleto.png"></li>
                </ul>
            </div>

            <div class="column">
                <p class="title">Segurança</p>
                <ul>
                    <li>
                        <a href="https://letsencrypt.org/pt-br/" target="_blank" title="Lets Encrypt">
                            <img src="/arquivos/ico-lets-encrypt.png" alt="Lets Encrypt" />
                        </a>
                    </li>
                  
                  	<li>
                      <a id="seloEbit" href="http://www.ebit.com.br/45700/selo" target="_blank" data-noop="redir(this.href);"
                         title="Avaliado pelos consumidores"
                         oncontextmenu="alert(&quot;Cópia proibida ! A certificação e-bit é de uso exclusivo de lojas conveniadas à e-bit.&quot;);return false;"
                         value="1" style="display: block; overflow: hidden; position: relative; float: left;"><img
                                                                                                                   src="https://newimgebit-a.akamaihd.net/ebitBR/selo/img_45700.png" style="border: 0px;"></a>  
                  	</li>

                    <li>
                      <img src="/arquivos/ico-abrahm.png" alt="" />
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row_2">
        <p>EDMOND HABIB GHATTAS LTDA © 2018 - Todos os direitos reservados.Razão Social - CNPJ: 61.506.598/0001-80</p>
    </div>
</div>


<style>
    .seguranca {
        width: 35%;
    }

    .formas-de-pagamento {
        width: 40%;
    }

    @media screen and (max-width: 640px) {
        .seguranca {
            width: 100%;
        }

        .formas-de-pagamento {
            width: 100%;
        }

        ul.selos {
            width: 100%;
            float: left;
        }
    }
</style>

<div class="banner-ebit-orderplaced" style="text-align: center;">
    <a id="bannerEbit"></a>
</div>

<footer>
    <div class="ft-checkout">
        <div class="seguranca">
            <div class="sprite-selo_digicert"></div>
            <a id="seloEbit" href="http://www.ebit.com.br/45700/selo" target="_blank" data-noop="redir(this.href);"
                title="Avaliado pelos consumidores"
                oncontextmenu="alert(&quot;Cópia proibida ! A certificação e-bit é de uso exclusivo de lojas conveniadas à e-bit.&quot;);return false;"
                value="1" style="display: block; overflow: hidden; position: relative; float: left;"><img
                    src="https://newimgebit-a.akamaihd.net/ebitBR/selo/img_45700.png" style="border: 0px;"></a>
            <ul class="selos">
                <li>
                    <svg version="1.1" id="Camada_1" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 195 80"
                        style="enable-background:new 0 0 195 80;width: 220px;" xml:space="preserve">
                        <style type="text/css">
                            .st0 {
                                fill: #FFFFFF;
                            }

                            .st1 {
                                fill: none;
                                stroke: #FFFFFF;
                                stroke-width: 0.7087;
                                stroke-linecap: round;
                                stroke-linejoin: round;
                                stroke-miterlimit: 22.9256;
                            }

                            .st2 {
                                fill: none;
                                stroke: #FFFFFF;
                                stroke-width: 0.7087;
                                stroke-miterlimit: 22.9256;
                            }

                            .st3 {
                                fill: none;
                                stroke: #FFFFFF;
                                stroke-width: 0.7087;
                                stroke-linejoin: round;
                                stroke-miterlimit: 22.9256;
                            }

                            .st4 {
                                fill: none;
                                stroke: #FFFFFF;
                                stroke-width: 0.7821;
                                stroke-miterlimit: 22.9256;
                            }

                            .st5 {
                                fill: #FFFFFF;
                                stroke: #FFFFFF;
                                stroke-width: 0.75;
                                stroke-miterlimit: 10;
                            }
                        </style>
                        <g>
                            <g>
                                <path class="st0"
                                    d="M65.6,53.8c-0.9,0.1-1.8,0.5-2.4,1c-0.4,0.3-0.9,0.9-1.3,1.4c-0.3,0.5-0.7,0.9-1,1.4l-0.4,0.6l0.3-0.9                        c0.3-0.8,0.4-1.3,0.6-2.1c0.1-0.7,0.1-1.4,0.1-2c-0.2-1.6-0.6-2.9-0.9-4c-0.6,1.2-1.5,3.8-1.3,5.7c0.1,0.9,0.4,2.1,0.7,2.9                        c0.2,0.7,0.5,0.3,1.1,0.6c1.2,0.6,3.1,0.4,4.1-0.6c1.1-1,2.2-2.5,2.9-3.7C67.2,53.8,66.4,53.7,65.6,53.8z">
                                </path>
                                <path class="st0"
                                    d="M13.8,58.3c0.6-0.3,0.9,0.1,1.1-0.6c0.3-0.9,0.6-2,0.7-2.9c0.1-1.9-0.8-4.5-1.3-5.7c-0.3,1.1-0.7,2.5-0.9,4                        c-0.1,0.6,0,1.3,0.1,2c0.1,0.9,0.3,1.3,0.6,2.1l0.3,0.9l-0.4-0.6c-0.3-0.5-0.7-0.9-1-1.4c-0.4-0.6-0.9-1.1-1.3-1.4                        c-0.7-0.5-1.6-0.9-2.4-1c-0.8-0.1-1.7-0.1-2.1,0.2c0.6,1.2,1.8,2.7,2.9,3.7C10.7,58.7,12.5,58.9,13.8,58.3z">
                                </path>
                                <path class="st0"
                                    d="M59.4,59.9c-0.5,0.2-1.1,0.6-1.6,1c-0.5,0.3-0.9,0.7-1.3,1.1l-0.6,0.4l0.5-0.8c0.4-0.7,0.7-1.1,1-1.9                        c0.3-0.7,0.5-1.3,0.5-1.9c0.2-1.6,0.1-3,0.1-4.2c-0.8,1-2.3,3.3-2.7,5.2c-0.1,0.9-0.1,2.1,0,3c0,0.7,0.4,0.4,0.9,0.8                        c0.8,0.6,2,0.9,3,0.8c0,0,0,0,0,0c0,0,0,0,0,0c0.4,0,0.7-0.2,1-0.3c1.3-0.7,2.7-1.8,3.7-2.9c-0.4-0.3-1.2-0.6-2.1-0.7                        C61.1,59.5,60.2,59.6,59.4,59.9z">
                                </path>
                                <path class="st0"
                                    d="M18.4,62.7c0.5-0.4,0.9-0.1,0.9-0.8c0.1-0.9,0.1-2.1,0-3c-0.3-1.8-1.8-4.2-2.7-5.2c0,1.2-0.1,2.6,0.1,4.2                        c0,0.6,0.3,1.2,0.5,1.9c0.3,0.8,0.6,1.2,1,1.9l0.5,0.8l-0.6-0.4c-0.4-0.3-0.9-0.7-1.3-1.1c-0.6-0.4-1.2-0.8-1.6-1                        c-0.8-0.3-1.7-0.4-2.6-0.3c-0.8,0.1-1.6,0.3-2.1,0.7c0.9,1,2.4,2.2,3.7,2.9C15.4,63.9,17.3,63.6,18.4,62.7z">
                                </path>
                                <path class="st0"
                                    d="M54.8,64.4c-0.5,0.2-1.1,0.5-1.7,0.9c-0.5,0.3-0.9,0.6-1.4,1l-0.6,0.4l0.6-0.8c0.5-0.7,0.8-1,1.2-1.8                        c0.3-0.6,0.6-1.3,0.7-1.8c0.3-1.5,0.3-3,0.4-4.1C53,59,51.3,61.2,50.8,63c-0.2,0.9-0.3,2.1-0.3,3c0,0.7,0.4,0.5,0.8,0.9                        c1,1,2.8,1.4,4.1,0.9c1.4-0.6,2.9-1.6,3.9-2.5c-0.4-0.4-1.2-0.7-2-0.9C56.5,64.1,55.6,64.1,54.8,64.4z">
                                </path>
                                <path class="st0"
                                    d="M24,65.9c0-0.9-0.1-2.1-0.3-3c-0.5-1.8-2.2-4-3.1-4.9c0.1,1.2,0.1,2.6,0.4,4.1c0.1,0.6,0.3,1.2,0.7,1.8                        c0.4,0.8,0.7,1.1,1.2,1.8l0.6,0.8l-0.6-0.4c-0.5-0.3-0.9-0.6-1.4-1c-0.6-0.4-1.2-0.7-1.7-0.9c-0.8-0.3-1.8-0.3-2.6-0.1                        c-0.8,0.2-1.6,0.5-2,0.9c1,0.9,2.5,2,3.9,2.5c1.2,0.6,3,0.1,4.1-0.9C23.7,66.4,24,66.6,24,65.9z">
                                </path>
                                <path class="st0"
                                    d="M51.7,68.1c-0.8-0.4-1.7-0.6-2.5-0.6c-0.5,0-1.2,0.2-1.8,0.4c-0.5,0.2-1.1,0.4-1.6,0.6l-0.6,0.2l0.7-0.6                        c0.6-0.5,1-0.8,1.6-1.5c0.5-0.5,0.9-1.1,1.1-1.6c0.6-1.4,1-2.8,1.4-3.9c-1.1,0.7-3.3,2.4-4.1,4c-0.4,0.8-0.7,1.9-1,2.8                        c-0.2,0.7,0.3,0.5,0.6,1.1c0.8,1.2,2.4,2.1,3.7,1.8c1.5-0.2,3.2-0.8,4.4-1.5C53.1,69,52.4,68.5,51.7,68.1z">
                                </path>
                                <path class="st0"
                                    d="M29.3,69.2c0.3-0.5,0.8-0.4,0.6-1.1c-0.2-0.9-0.6-2-1-2.8c-0.9-1.6-3.1-3.3-4.1-4c0.4,1.1,0.7,2.5,1.4,3.9                        c0.2,0.5,0.6,1.1,1.1,1.6c0.6,0.6,0.9,0.9,1.6,1.5l0.7,0.6l-0.6-0.2c-0.5-0.2-1.1-0.4-1.6-0.6c-0.7-0.2-1.3-0.4-1.8-0.4                        c-0.8-0.1-1.8,0.2-2.5,0.6c-0.8,0.4-1.4,0.9-1.7,1.4c1.2,0.7,2.9,1.3,4.4,1.5C26.9,71.2,28.5,70.3,29.3,69.2z">
                                </path>
                                <path class="st0"
                                    d="M45.6,70.7c-0.7-0.5-1.5-0.9-2.4-1.1c-0.5-0.1-1.2,0-1.9,0.1c-0.6,0.1-1.1,0.2-1.7,0.3h-0.1                        c0-0.1,0-0.1,0-0.2l0.3-0.1c0.7-0.4,1.2-0.6,1.8-1.1c0.6-0.4,1.1-0.9,1.4-1.4c0.9-1.3,1.5-2.5,2.1-3.5c-1.2,0.4-3.6,1.7-4.8,3.1                        c-0.5,0.6-0.9,1.4-1.3,2.2c-0.4-0.4-0.9-0.6-1.5-0.6l0,0c0,0-0.1,0-0.1,0c0,0-0.1,0-0.1,0l0,0c-0.6,0-1.1,0.3-1.5,0.6                        c-0.4-0.7-0.8-1.6-1.3-2.2c-1.2-1.4-3.6-2.7-4.8-3.1c0.6,1,1.2,2.3,2.1,3.5c0.3,0.5,0.8,0.9,1.4,1.4c0.7,0.5,1.1,0.7,1.8,1.1                        l0.3,0.1c0,0.1,0,0.1,0,0.2H35c-0.6-0.1-1.1-0.2-1.7-0.3c-0.7-0.1-1.4-0.1-1.9-0.1c-0.8,0.1-1.7,0.5-2.4,1.1                        c-0.7,0.5-1.2,1.2-1.4,1.7c1.3,0.4,3.1,0.6,4.6,0.6c1.1,0,2.3-0.9,3-1.9c0.1,0.3,0.3,0.7,0.5,0.9c0.4,0.4,0.9,0.6,1.5,0.6                        c0,0,0.1,0,0.1,0c0,0,0.1,0,0.1,0c0.6,0,1.1-0.3,1.5-0.6c0.3-0.3,0.4-0.6,0.5-0.9c0.7,1,1.8,1.8,3,1.9c1.5,0.1,3.3-0.2,4.6-0.6                        C46.8,71.9,46.3,71.3,45.6,70.7z">
                                </path>
                                <path class="st0"
                                    d="M67.5,46.5c-0.8,0.3-1.6,0.9-2.1,1.6c-0.3,0.4-0.6,1.1-0.9,1.7l0,0c-0.2,0.5-0.4,1.1-0.6,1.6l-0.3,0.6l0-0.9                        c0-0.9,0.1-1.3,0-2.2c-0.1-0.7-0.2-1.4-0.4-1.9c-0.6-1.5-1.4-2.6-1.9-3.6c-0.2,1.3-0.5,4.1,0.2,5.9c0.3,0.8,0.9,1.9,1.4,2.6                        c0.4,0.6,0.6,0.1,1.2,0.2c1.4,0.2,3.1-0.5,3.8-1.7c0.8-1.3,1.5-3,1.8-4.4C69.1,46,68.3,46.2,67.5,46.5z">
                                </path>
                                <path class="st0"
                                    d="M10.6,52.1c0.6-0.1,0.8,0.3,1.2-0.2c0.5-0.8,1.1-1.8,1.4-2.6c0.6-1.8,0.4-4.6,0.2-5.9c-0.6,1-1.3,2.2-1.9,3.6                        C11.2,47.6,11,48.2,11,49c-0.1,0.9,0,1.3,0,2.2l0,0.9l-0.3-0.6c-0.2-0.5-0.4-1.1-0.6-1.6l0,0c-0.3-0.7-0.6-1.3-0.9-1.7                        c-0.5-0.7-1.3-1.2-2.1-1.6C6.3,46.2,5.6,46,5,46.1c0.3,1.4,1,3.1,1.8,4.4C7.5,51.6,9.2,52.3,10.6,52.1z">
                                </path>
                                <path class="st0"
                                    d="M65.9,40.6c-0.2,0.5-0.3,1.2-0.4,1.9l0,0c-0.1,0.6-0.1,1.2-0.2,1.8l-0.1,0.7L65,44.1                        c-0.2-0.8-0.3-1.3-0.6-2.1c-0.3-0.7-0.6-1.3-1-1.7c-1-1.2-2-2.1-2.9-2.9c0.1,1.3,0.7,4,1.8,5.5c0.5,0.7,1.4,1.5,2.1,2.1                        c0.5,0.4,0.6,0,1.2-0.1c1.4-0.2,2.8-1.4,3.2-2.7c0.4-1.5,0.6-3.3,0.5-4.7c-0.6,0.1-1.2,0.5-1.9,1C66.7,39.1,66.1,39.8,65.9,40.6z">
                                </path>
                                <path class="st0"
                                    d="M8.9,44.9c0.6,0.1,0.7,0.6,1.2,0.1c0.7-0.6,1.6-1.4,2.1-2.1c1.1-1.5,1.7-4.3,1.8-5.5                        c-0.8,0.8-1.9,1.7-2.9,2.9c-0.4,0.4-0.7,1-1,1.7c-0.3,0.8-0.4,1.3-0.6,2.1l-0.2,0.9l-0.1-0.7c-0.1-0.6-0.1-1.2-0.2-1.8l0,0                        c-0.1-0.7-0.2-1.4-0.4-1.9c-0.3-0.8-0.9-1.6-1.5-2.2c-0.6-0.6-1.4-1-1.9-1c-0.1,1.4,0.1,3.3,0.5,4.7C6.1,43.5,7.6,44.7,8.9,44.9z">
                                </path>
                                <path class="st0"
                                    d="M64.7,35.4c0.1,0.6,0.2,1.2,0.3,1.7l0.1,0.7l-0.5-0.8c-0.4-0.7-0.6-1.2-1.2-1.8c-0.4-0.6-0.9-1.1-1.4-1.4                        c-1.3-0.9-2.5-1.5-3.5-2c0.5,1.2,1.8,3.7,3.2,4.8c0.7,0.5,1.7,1.1,2.6,1.4c0.6,0.3,0.6-0.2,1.1-0.5c1.2-0.6,2.4-2.1,2.3-3.5                        c0-1.5-0.3-3.4-0.8-4.7c-0.5,0.2-1.1,0.8-1.6,1.5c-0.5,0.7-0.9,1.6-0.9,2.5C64.6,33.9,64.6,34.6,64.7,35.4L64.7,35.4z">
                                </path>
                                <path class="st0"
                                    d="M9.1,37.6c0.6,0.3,0.5,0.7,1.1,0.5c0.8-0.4,1.9-0.9,2.6-1.4c1.4-1.2,2.7-3.6,3.2-4.8c-1,0.5-2.2,1.1-3.5,2                        c-0.5,0.3-0.9,0.8-1.4,1.4c-0.5,0.7-0.7,1.1-1.2,1.8l-0.5,0.8l0.1-0.7c0.1-0.6,0.2-1.2,0.3-1.7l0,0c0.1-0.7,0.2-1.4,0.1-2                        c-0.1-0.9-0.4-1.8-0.9-2.5c-0.5-0.7-1.1-1.3-1.6-1.5C7,30.6,6.7,32.5,6.7,34C6.7,35.4,7.8,37,9.1,37.6z">
                                </path>
                                <path class="st0"
                                    d="M60.7,28.4c-0.5-0.4-1.1-0.7-1.5-0.9c-1.3-0.5-2.6-0.7-3.6-0.9c0.7,1,2.4,2.9,3.9,3.6                        c0.7,0.3,1.8,0.5,2.6,0.7c0.6,0.1,0.5-0.3,0.9-0.7c1-0.8,1.6-2.5,1.3-3.7c-0.3-1.4-1-3-1.8-4c-0.4,0.3-0.8,1-1.1,1.8                        c-0.3,0.8-0.4,1.7-0.3,2.5c0.1,0.5,0.3,1.1,0.6,1.7l0,0c0.2,0.5,0.5,1,0.7,1.5l0.3,0.6l-0.6-0.6C61.6,29.2,61.3,28.9,60.7,28.4z">
                                </path>
                                <path class="st0"
                                    d="M11.6,30.1c0.4,0.4,0.3,0.8,0.9,0.7c0.8-0.1,1.9-0.3,2.6-0.7c1.5-0.7,3.3-2.6,3.9-3.6c-1,0.2-2.3,0.5-3.6,0.9                        c-0.5,0.2-1,0.5-1.5,0.9c-0.6,0.5-0.9,0.8-1.5,1.4l-0.6,0.6l0.3-0.6c0.2-0.5,0.5-1,0.7-1.5l0,0c0.3-0.6,0.5-1.2,0.6-1.7                        c0.1-0.8,0-1.7-0.3-2.5c-0.3-0.8-0.6-1.4-1.1-1.8c-0.7,1.1-1.4,2.7-1.8,4C10,27.6,10.6,29.3,11.6,30.1z">
                                </path>
                                <path class="st0"
                                    d="M56.6,23.2c-0.6-0.2-1.2-0.3-1.8-0.3c-1.4,0-2.7,0.2-3.7,0.3c0.9,0.7,3.2,1.9,4.8,2.1c0.8,0,1.9-0.1,2.7-0.2                        c0.6-0.1,0.3-0.4,0.6-0.9c0.7-1.1,0.8-2.9,0.1-3.9c-0.7-1.2-1.9-2.5-2.9-3.2c-0.3,0.4-0.4,1.2-0.5,2c0,0.8,0.2,1.7,0.5,2.4                        c0.2,0.4,0.6,0.9,1.1,1.5l0,0c0.3,0.4,0.7,0.8,1.1,1.2l0.4,0.5L58.4,24C57.7,23.7,57.4,23.4,56.6,23.2z">
                                </path>
                                <path class="st0"
                                    d="M15.9,25c0.8,0.1,1.9,0.3,2.7,0.2c1.7-0.1,3.9-1.4,4.8-2.1c-1-0.1-2.3-0.3-3.7-0.3c-0.5,0-1.1,0.1-1.8,0.3                        c-0.7,0.3-1.1,0.5-1.8,0.8l-0.8,0.4l0.4-0.5c0.4-0.4,0.7-0.8,1.1-1.2l0,0c0.4-0.5,0.9-1,1.1-1.5c0.4-0.7,0.5-1.6,0.5-2.4                        c0-0.8-0.2-1.6-0.5-2c-1,0.8-2.1,2.1-2.9,3.2c-0.7,1.1-0.6,2.9,0.1,3.9C15.6,24.6,15.3,24.9,15.9,25z">
                                </path>
                                <path class="st0"
                                    d="M52,19.7c-0.6-0.1-1.2-0.1-1.6,0c-1.3,0.3-2.4,0.6-3.3,0.9c1,0.4,3.2,1.2,4.7,1c0.7-0.1,1.7-0.4,2.4-0.7                        c0.5-0.2,0.2-0.5,0.4-0.9c0.4-1.1,0.2-2.7-0.6-3.6c-0.9-0.9-2.1-1.9-3.1-2.4c-0.2,0.4-0.2,1.2-0.1,1.9c0.1,0.7,0.4,1.5,0.9,2.1                        c0.3,0.3,0.7,0.7,1.2,1.1l0,0c0.4,0.3,0.8,0.6,1.2,0.9l0.5,0.3l-0.7-0.2C53.1,20,52.7,19.8,52,19.7z">
                                </path>
                                <path class="st0"
                                    d="M20.4,21c0.7,0.3,1.6,0.6,2.4,0.7c1.5,0.2,3.7-0.6,4.7-1c-0.9-0.3-2-0.7-3.3-0.9c-0.5-0.1-1-0.1-1.6,0                        c-0.7,0.1-1.1,0.2-1.8,0.4l-0.7,0.2l0.5-0.3c0.4-0.3,0.8-0.6,1.2-0.9l0,0c0.5-0.4,0.9-0.8,1.2-1.1c0.5-0.6,0.7-1.3,0.9-2.1                        c0.1-0.7,0.1-1.4-0.1-1.9c-1,0.5-2.3,1.5-3.1,2.4c-0.8,0.8-1,2.4-0.6,3.6C20.2,20.5,19.9,20.8,20.4,21z">
                                </path>
                                <path class="st0"
                                    d="M46.9,17c-0.5-0.1-1-0.1-1.4,0c-1.1,0.2-2,0.6-2.8,0.8c0.8,0.4,2.7,1,4,0.9c0.6-0.1,1.4-0.3,2-0.6                        c0.5-0.2,0.2-0.4,0.3-0.8c0.3-0.9,0.2-2.3-0.5-3c-0.7-0.8-1.8-1.6-2.7-2c-0.1,0.4-0.2,1-0.1,1.6c0.1,0.6,0.4,1.3,0.7,1.8                        c0.2,0.3,0.6,0.6,1,0.9c0.3,0.3,0.7,0.5,1,0.7l0.4,0.3l-0.6-0.2C47.9,17.2,47.5,17.1,46.9,17z">
                                </path>
                                <path class="st0"
                                    d="M25.8,18.1c0.6,0.2,1.4,0.5,2,0.6c1.3,0.1,3.2-0.5,4-0.9C31,17.6,30.1,17.2,29,17c-0.4-0.1-0.9-0.1-1.4,0                        c-0.6,0.1-0.9,0.2-1.5,0.3l-0.6,0.2l0.4-0.3c0.3-0.3,0.7-0.5,1-0.7c0.4-0.3,0.8-0.6,1-0.9c0.4-0.5,0.6-1.1,0.7-1.8                        c0.1-0.6,0.1-1.2-0.1-1.6c-0.9,0.4-1.9,1.2-2.7,2c-0.7,0.7-0.9,2.1-0.5,3C25.6,17.7,25.3,17.9,25.8,18.1z">
                                </path>
                                <path class="st0"
                                    d="M42.4,14.9c-0.5,0-0.9,0.1-1.2,0.3c-0.9,0.4-1.7,0.9-2.3,1.3c0.8,0.2,2.6,0.3,3.7,0c0.5-0.2,1.2-0.6,1.7-0.9                        c0.4-0.3,0.1-0.4,0.2-0.8c0.1-0.9-0.3-2.1-1-2.6c-0.8-0.6-1.9-1-2.7-1.2c-0.1,0.4,0,0.9,0.3,1.4c0.2,0.5,0.6,1.1,1,1.4                        c0.3,0.2,0.7,0.4,1.1,0.6c0.3,0.2,0.7,0.3,1,0.4l0.4,0.2l-0.6,0C43.2,14.8,42.9,14.8,42.4,14.9z">
                                </path>
                                <path class="st0"
                                    d="M30.4,15.4c0.5,0.3,1.1,0.7,1.7,0.9c1.1,0.4,2.9,0.2,3.7,0c-0.6-0.4-1.4-0.9-2.3-1.3                        c-0.3-0.1-0.8-0.3-1.2-0.3c-0.6,0-0.9,0-1.4,0l-0.6,0l0.4-0.2c0.3-0.2,0.7-0.3,1-0.4c0.4-0.2,0.8-0.4,1.1-0.6                        c0.4-0.3,0.8-0.9,1-1.4c0.2-0.5,0.3-1.1,0.3-1.4c-0.9,0.2-1.9,0.7-2.7,1.2c-0.7,0.5-1.2,1.7-1,2.6C30.3,15,30,15.2,30.4,15.4z">
                                </path>
                                <ellipse class="st0" cx="37.2" cy="13.5" rx="1.1" ry="1.1"></ellipse>
                            </g>
                            <g>
                                <path class="st1" d="M54.2,34.1c-1.2-1.6-2.4-3.3-3.6-4.9l7,5.5L54.2,34.1z"></path>
                                <polygon class="st2" points="49.6,33.8 49.3,39.2 57.2,41.5 54.2,34.1   "></polygon>
                                <polygon class="st3" points="54.2,34.1 57.5,34.7 59.3,38.2   "></polygon>
                                <polygon class="st0" points="54.2,34.1 59.3,38.2 58.6,41.5 57.2,41.5   "></polygon>
                                <polygon class="st2" points="54.2,34.1 59.3,38.2 58.6,41.5 57.2,41.5   "></polygon>
                                <polygon class="st2"
                                    points="57.2,41.4 58.6,41.5 58.5,42.4 56.9,43.8 55.7,43.8 57.2,42   "></polygon>
                                <polygon class="st2" points="57.2,41.5 49.3,39.2 52.6,44.1 55.7,43.8 57.2,42   ">
                                </polygon>
                                <polygon class="st2" points="55.7,43.8 37.9,62.4 56.9,43.8   "></polygon>
                                <polygon class="st2" points="53.2,46.4 55.7,43.8 52.6,44.1 49.4,46.4   "></polygon>
                                <polygon class="st0" points="52.6,44.1 49.4,39.1 45.8,46.4 49.4,46.4   "></polygon>
                                <polygon class="st0" points="49.4,46.4 46,48.1 42.2,58 53.2,46.4   "></polygon>
                                <polygon class="st2" points="49.4,46.4 46,48.1 42.2,58 53.2,46.4   "></polygon>
                                <path class="st3"
                                    d="M42.2,58l-0.4,0.6l-3.9,3.8l1.5-3.9c2.2-3.5,4.4-7,6.6-10.4L42.2,58z"></path>
                                <polygon class="st0" points="46,48.1 41.9,47.8 39.4,58.5 45.9,48.2   "></polygon>
                                <polygon class="st2" points="46,48.1 41.9,47.8 39.4,58.5 45.9,48.2   "></polygon>
                                <line class="st2" x1="37.9" y1="41.1" x2="37.9" y2="62.4"></line>
                                <polygon class="st0" points="37.9,49 33.4,48.1 37.9,47.2 41.9,47.8   "></polygon>
                                <polygon class="st2" points="37.9,49 33.4,48.1 37.9,47.2 41.9,47.8   "></polygon>
                                <polygon class="st0" points="37.9,41.9 37.9,41.1 45.8,46.4 41.9,47.8   "></polygon>
                                <polygon class="st2" points="37.9,41.9 37.9,41.1 45.8,46.4 41.9,47.8   "></polygon>
                                <polygon class="st2" points="41.9,47.8 37.9,41.1 37.9,47.2   "></polygon>
                                <polygon class="st2" points="41.8,47.8 37.9,49 37.9,62.3 39.4,58.5   "></polygon>
                                <polygon class="st0" points="29.5,46.6 37.9,41.1 33.4,48.1   "></polygon>
                                <polygon class="st2" points="29.5,46.6 37.9,41.1 33.4,48.1   "></polygon>
                                <polygon class="st2" points="33.4,48.1 37.9,41.1 37.9,47.2   "></polygon>
                                <polygon class="st2" points="37.9,49 33.4,48.1 36.9,58.6 37.9,59.3   "></polygon>
                                <polygon class="st0" points="37.9,62.4 36.6,58.3 37.9,59.3   "></polygon>
                                <polygon class="st2" points="37.9,62.4 36.6,58.3 37.9,59.3   "></polygon>
                                <polygon class="st0" points="36.9,58.6 36.6,58.3 29.6,48.4 33.4,48.1   "></polygon>
                                <polygon class="st2" points="36.9,58.6 36.6,58.3 29.6,48.4 33.4,48.1   "></polygon>
                                <polygon class="st0" points="26.5,46.7 29.6,48.4 34.7,59.4 22.4,46.5   "></polygon>
                                <polygon class="st2" points="26.5,46.7 29.6,48.4 34.7,59.4 22.4,46.5   "></polygon>
                                <polygon class="st2" points="35,59.9 37.9,62.4 36.6,58.3 29.6,48.4   "></polygon>
                                <polygon class="st3" points="22.4,46.5 35,59.9 16.8,43 18.7,43.5   "></polygon>
                                <polygon class="st0" points="18.7,43.5 16.8,43 17.4,41.7   "></polygon>
                                <polygon class="st3" points="18.7,43.5 16.8,43 17.4,41.7   "></polygon>
                                <polygon class="st2" points="17.4,41.7 18.7,43.5 20,44.5 22.3,44.5 25.8,38.8   ">
                                </polygon>
                                <polygon class="st2" points="22.4,46.5 20,44.5 22.3,44.5 26.5,46.7   "></polygon>
                                <polygon class="st0" points="22.3,44.5 26.5,46.7 29.5,46.6 25.8,38.8   "></polygon>
                                <polygon class="st2" points="22.3,44.5 26.5,46.7 29.5,46.6 25.8,38.8   "></polygon>
                                <polygon class="st2" points="31.2,36.2 25.8,38.8 29.5,46.5 37.9,41.1   "></polygon>
                                <polygon class="st2" points="26.3,46.6 29.6,48.4 33.4,48.1 29.5,46.6   "></polygon>
                                <polygon class="st0" points="15.3,38.3 19.7,33.8 16.8,43   "></polygon>
                                <polygon class="st3" points="15.3,38.3 19.7,33.8 16.8,43   "></polygon>
                                <polygon class="st3" points="19.8,33.7 17.6,34.3 15.3,38.3   "></polygon>
                                <polygon class="st3" points="19.8,33.7 17.6,34.3 24.6,28.9   "></polygon>
                                <polygon class="st2" points="25.8,38.8 17.1,41.9 19.8,33.7 24.6,33.7   "></polygon>
                                <polygon class="st4"
                                    points="32.8,25.9 24.6,28.9 24.6,33.7 31.2,36.3 42.6,36.3 49.6,33.8 50.5,29.2 42.1,25.9   ">
                                </polygon>
                                <polygon class="st0" points="24.6,33.7 31.2,36.4 25.8,38.8   "></polygon>
                                <polygon class="st2" points="24.6,33.7 31.2,36.4 25.8,38.8   "></polygon>
                                <polygon class="st0" points="24.6,28.9 19.8,33.7 24.6,33.7   "></polygon>
                                <polygon class="st3" points="24.6,28.9 19.8,33.7 24.6,33.7   "></polygon>
                                <polygon class="st0" points="49.6,33.8 42.6,36.3 49.3,39.2   "></polygon>
                                <polygon class="st2" points="49.6,33.8 42.6,36.3 49.3,39.2   "></polygon>
                                <polygon class="st0" points="42.6,36.3 31.3,36.3 37.9,41.1   "></polygon>
                                <polygon class="st2" points="42.6,36.3 31.3,36.3 37.9,41.1   "></polygon>
                                <polygon class="st0" points="49.6,33.8 50.5,29.3 50.6,29.3 50.7,29.5 54.2,34.1   ">
                                </polygon>
                                <polygon class="st2" points="49.6,33.8 50.5,29.3 50.6,29.3 50.7,29.5 54.2,34.1   ">
                                </polygon>
                                <path class="st0"
                                    d="M47.5,33c-0.7,0.3-1.3,0.7-1.8,1.1c0,0,0,0-0.1,0c-0.1,0-0.3,0-0.4,0c0.3-0.2,0.6-0.4,0.9-0.6                        c0.3-0.2,0.6-0.3,0.9-0.5c0,0,0,0,0.1,0C47.2,33,47.4,33,47.5,33 M39,27.5c1.2,0.1,2.2,0.5,3.1,0.9c0.9,0.5,1.6,1,1.9,1.6                        c0.3,0.5,0.3,0.9,0,1.3c-0.3,0.4-0.8,0.8-1.6,1.2c0.6,0.1,1.6,0.2,2.9,0.2c0,0,0,0,0,0c-0.4,0-0.7,0-0.9,0c-0.9,0-1.8-0.1-2.6-0.3                        c0.9-0.3,1.5-0.7,1.8-1.1c0.3-0.4,0.3-0.9,0-1.4c-0.3-0.6-0.9-1.1-1.6-1.5C41.2,28.2,40.2,27.8,39,27.5C39,27.5,39,27.5,39,27.5z                         M39.2,32c0.3-0.2,0.4-0.5,0.5-0.8c0.1-0.3,0-0.7-0.1-1.1c-0.3-0.9-0.8-1.5-1.6-1.9c-0.8-0.4-1.9-0.6-3.3-0.6                        c-1.4,0-2.4,0.3-3.1,0.8c-0.7,0.5-1.2,1.1-1.3,2c0,0.4,0,0.7,0.2,1c0.2,0.3,0.5,0.6,1,0.8c0.9,0.4,2.3,0.6,3.9,0.6                        c0.7,0,1.4-0.1,2-0.2c-0.7-0.3-1.5-0.5-2.5-0.4c-0.1,0-0.2,0-0.4,0c0.3-0.1,0.7-0.3,1-0.4c0.7,0,1.7,0.2,2.8,0.4                        c0.1,0,0.1,0,0.2,0c0.1,0,0.2-0.1,0.4-0.2c0,0,0,0,0.1,0c-0.7-0.2-1.6-0.3-2.7-0.4c0.1,0,0.1-0.1,0.2-0.1c0.9,0.1,1.7,0.2,2.6,0.4                        C39.1,32,39.2,32,39.2,32z M40.3,32.7c1,0.3,2.2,0.4,3.6,0.3c0.7,0,1.5-0.1,2.3-0.2c0,0,0.1,0,0.1,0c-0.4,0.2-0.7,0.4-0.9,0.6                        c-0.3,0.2-0.6,0.4-0.9,0.6c0,0,0,0,0,0c-1.8,0-3.5-0.3-5-0.7c-1.1,0.2-2.1,0.3-3.3,0.3c-1.8,0-3.3-0.1-4.3-0.3c0,0,0,0,0.1,0                        c1.4,0.2,2.8,0.3,4,0.2c1.2,0,2.3-0.1,3.2-0.2c0,0-0.1,0-0.1,0c-0.2-0.1-0.3-0.1-0.5-0.2c-1,0.1-2,0.2-3,0.2c-1.3,0-2.4,0-3.5-0.2                        c-1-0.1-2-0.3-2.7-0.6c-0.8-0.3-1.3-0.6-1.6-0.9c-0.3-0.3-0.4-0.7-0.3-1.2c0.1-0.4,0.4-0.8,0.8-1.2s1-0.7,1.7-1                        c0.7-0.3,1.5-0.5,2.3-0.7c0.8-0.2,1.8-0.3,2.8-0.3c1,0,1.9,0,2.7,0.1c0.8,0.1,1.6,0.3,2.3,0.6c0.7,0.3,1.3,0.6,1.8,0.9                        s0.8,0.7,1,1.2c0.3,0.5,0.2,1-0.1,1.4C42.2,31.8,41.5,32.2,40.3,32.7C40.3,32.6,40.3,32.6,40.3,32.7z M37.2,28.1                        c-0.1,0-0.1,0-0.2,0C36.4,28,35.8,28,35.3,28c-1.2,0-2.2,0.3-2.7,0.7c-0.3,0.2-0.5,0.5-0.7,0.8c-0.2,0.3-0.3,0.7-0.3,1.2                        c0,0.5,0.2,1,0.7,1.3c0.5,0.3,1.3,0.6,2.4,0.7c0,0-0.1,0-0.2,0c-1.1-0.1-2-0.3-2.5-0.6c-0.6-0.4-0.8-0.9-0.8-1.5                        c0-0.5,0.1-0.9,0.3-1.2c0.2-0.3,0.4-0.6,0.7-0.8c0.6-0.4,1.6-0.7,2.9-0.7C36,27.9,36.7,27.9,37.2,28.1                        C37.2,28.1,37.2,28.1,37.2,28.1z">
                                </path>
                            </g>
                        </g>
                        <g>
                            <path class="st0" d="M80.3,24.2h-2.7v2.5h3v0.7h-3.9v-6.9h3.7v0.7h-2.8v2.2h2.7V24.2z"></path>
                            <path class="st0" d="M81.8,20.1h0.9v7.2h-0.9V20.1z"></path>
                            <path class="st0"
                                d="M84.7,25.1c0,1.2,0.8,1.7,1.7,1.7c0.6,0,1-0.1,1.4-0.3l0.2,0.6c-0.3,0.1-0.9,0.3-1.6,0.3c-1.5,0-2.4-1-2.4-2.5                       s0.9-2.7,2.3-2.7c1.6,0,2,1.4,2,2.3c0,0.2,0,0.3,0,0.4C88.1,25.1,84.7,25.1,84.7,25.1z M87.3,24.4c0-0.6-0.2-1.5-1.2-1.5                       c-0.9,0-1.3,0.8-1.4,1.5H87.3z">
                            </path>
                            <path class="st0"
                                d="M90.3,21.1c0,0.3-0.2,0.6-0.6,0.6c-0.3,0-0.5-0.3-0.5-0.6c0-0.3,0.2-0.6,0.6-0.6                       C90.1,20.5,90.3,20.7,90.3,21.1z M89.3,27.4v-4.9h0.9v4.9H89.3z">
                            </path>
                            <path class="st0"
                                d="M92.8,21v1.4H94v0.7h-1.3v2.7c0,0.6,0.2,1,0.7,1c0.2,0,0.4,0,0.5-0.1l0,0.7c-0.2,0.1-0.4,0.1-0.8,0.1                       c-0.4,0-0.8-0.1-1-0.4c-0.3-0.3-0.3-0.7-0.3-1.3v-2.7h-0.8v-0.7h0.8v-1.2L92.8,21z">
                            </path>
                            <path class="st0"
                                d="M99.5,24.9c0,1.8-1.3,2.6-2.5,2.6c-1.3,0-2.4-1-2.4-2.5c0-1.7,1.1-2.6,2.4-2.6C98.5,22.3,99.5,23.4,99.5,24.9z                        M95.5,24.9c0,1.1,0.6,1.9,1.5,1.9c0.9,0,1.5-0.8,1.5-1.9c0-0.8-0.4-1.9-1.5-1.9C96,23,95.5,24,95.5,24.9z">
                            </path>
                            <path class="st0"
                                d="M102.8,24.1c0-0.6,0-1.2,0-1.6h0.8l0,0.9h0c0.4-0.6,0.9-1,1.8-1c1.2,0,2.1,1,2.1,2.5c0,1.8-1.1,2.7-2.2,2.7                       c-0.6,0-1.2-0.3-1.5-0.8h0v2.7h-0.9L102.8,24.1L102.8,24.1z M103.6,25.4c0,0.1,0,0.3,0,0.4c0.2,0.6,0.7,1.1,1.3,1.1                       c0.9,0,1.5-0.8,1.5-1.9c0-1-0.5-1.8-1.5-1.8c-0.6,0-1.2,0.4-1.4,1.1c0,0.1-0.1,0.3-0.1,0.4L103.6,25.4L103.6,25.4z">
                            </path>
                            <path class="st0"
                                d="M109.1,25.1c0,1.2,0.8,1.7,1.7,1.7c0.6,0,1-0.1,1.4-0.3l0.2,0.6c-0.3,0.1-0.9,0.3-1.6,0.3                       c-1.5,0-2.4-1-2.4-2.5s0.9-2.7,2.3-2.7c1.6,0,2,1.4,2,2.3c0,0.2,0,0.3,0,0.4C112.5,25.1,109.1,25.1,109.1,25.1z M111.7,24.4                       c0-0.6-0.2-1.5-1.2-1.5c-0.9,0-1.3,0.8-1.4,1.5H111.7z">
                            </path>
                            <path class="st0" d="M113.7,20.1h0.9v7.2h-0.9V20.1z"></path>
                            <path class="st0"
                                d="M118.8,27.4l-0.1-0.6h0c-0.3,0.4-0.8,0.7-1.5,0.7c-1,0-1.5-0.7-1.5-1.4c0-1.2,1.1-1.8,3-1.8v-0.1                       c0-0.4-0.1-1.2-1.1-1.2c-0.5,0-0.9,0.1-1.3,0.4l-0.2-0.6c0.4-0.3,1-0.4,1.6-0.4c1.5,0,1.9,1,1.9,2v1.8c0,0.4,0,0.9,0.1,1.2H118.8z                        M118.7,24.9c-1,0-2.1,0.2-2.1,1.1c0,0.6,0.4,0.9,0.9,0.9c0.6,0,1.1-0.4,1.2-0.8c0-0.1,0-0.2,0-0.3L118.7,24.9L118.7,24.9z">
                            </path>
                            <path class="st5"
                                d="M124.3,25.2l-0.7,2.2h-0.9l2.3-6.9h1.1l2.4,6.9h-0.9l-0.7-2.2H124.3z M126.6,24.5l-0.7-2                       c-0.2-0.4-0.3-0.9-0.3-1.2h0c-0.1,0.4-0.2,0.8-0.3,1.2l-0.7,2H126.6z">
                            </path>
                            <path class="st5"
                                d="M129.5,20.6c0.4-0.1,1-0.1,1.6-0.1c0.9,0,1.5,0.2,1.9,0.5c0.3,0.3,0.6,0.7,0.6,1.2c0,0.7-0.4,1.2-1.2,1.5v0                       c0.6,0.2,1.4,0.7,1.4,1.7c0,0.6-0.2,1-0.6,1.4c-0.5,0.4-1.2,0.6-2.4,0.6c-0.6,0-1.1,0-1.4-0.1L129.5,20.6L129.5,20.6z M130.3,23.4                       h0.8c0.9,0,1.5-0.5,1.5-1.2c0-0.8-0.6-1.1-1.5-1.1c-0.4,0-0.6,0-0.8,0.1L130.3,23.4L130.3,23.4z M130.3,26.7c0.2,0,0.4,0,0.7,0                       c0.9,0,1.8-0.3,1.8-1.3c0-0.9-0.8-1.3-1.8-1.3h-0.7V26.7z">
                            </path>
                            <path class="st5"
                                d="M135,20.6c0.4-0.1,1.1-0.1,1.7-0.1c0.9,0,1.6,0.2,2,0.6c0.3,0.3,0.5,0.8,0.5,1.3c0,0.9-0.6,1.5-1.3,1.8v0                       c0.5,0.2,0.9,0.7,1,1.4c0.2,1,0.4,1.6,0.5,1.9h-0.9c-0.1-0.2-0.3-0.8-0.5-1.6c-0.2-0.9-0.6-1.3-1.4-1.3h-0.8v3H135L135,20.6                       L135,20.6z M135.9,23.7h0.9c0.9,0,1.5-0.5,1.5-1.3c0-0.9-0.6-1.3-1.6-1.3c-0.4,0-0.7,0-0.9,0.1L135.9,23.7L135.9,23.7z">
                            </path>
                            <path class="st5"
                                d="M141.7,25.2l-0.7,2.2H140l2.3-6.9h1.1l2.4,6.9h-0.9l-0.7-2.2H141.7z M143.9,24.5l-0.7-2                       c-0.2-0.4-0.3-0.9-0.3-1.2h0c-0.1,0.4-0.2,0.8-0.3,1.2l-0.7,2H143.9z">
                            </path>
                            <path class="st5" d="M147.7,20.5v2.9h3.3v-2.9h0.9v6.9H151v-3.2h-3.3v3.2h-0.9v-6.9H147.7z">
                            </path>
                            <path class="st5"
                                d="M159.2,24.4c0-1-0.1-2.1-0.1-3h0c-0.2,0.8-0.5,1.7-0.9,2.6l-1.2,3.3h-0.7l-1.1-3.3c-0.3-1-0.6-1.8-0.8-2.7h0                       c0,0.9-0.1,2-0.1,3l-0.2,3h-0.9l0.5-6.9h1.1l1.2,3.3c0.3,0.9,0.5,1.6,0.7,2.3h0c0.2-0.7,0.4-1.5,0.7-2.3l1.2-3.3h1.1l0.4,6.9h-0.9                       L159.2,24.4z">
                            </path>
                            <path class="st0"
                                d="M167.3,27.2c-0.2,0.1-0.8,0.3-1.4,0.3c-1.5,0-2.5-1-2.5-2.5c0-1.5,1-2.6,2.7-2.6c0.5,0,1,0.1,1.2,0.3l-0.2,0.7                       c-0.2-0.1-0.6-0.2-1-0.2c-1.1,0-1.8,0.8-1.8,1.9c0,1.2,0.7,1.8,1.7,1.8c0.5,0,0.9-0.1,1.1-0.3L167.3,27.2z">
                            </path>
                            <path class="st0"
                                d="M172.8,24.9c0,1.8-1.3,2.6-2.5,2.6c-1.3,0-2.4-1-2.4-2.5c0-1.7,1.1-2.6,2.4-2.6                       C171.8,22.3,172.8,23.4,172.8,24.9z M168.8,24.9c0,1.1,0.6,1.9,1.5,1.9c0.9,0,1.5-0.8,1.5-1.9c0-0.8-0.4-1.9-1.5-1.9                       C169.3,23,168.8,24,168.8,24.9z">
                            </path>
                            <path class="st0"
                                d="M173.9,23.8c0-0.5,0-0.9,0-1.3h0.8l0,0.8h0c0.3-0.5,0.7-0.9,1.5-0.9c0.7,0,1.2,0.4,1.4,1h0                       c0.2-0.3,0.3-0.5,0.6-0.6c0.3-0.2,0.6-0.3,1.1-0.3c0.6,0,1.6,0.4,1.6,2.1v2.9h-0.9v-2.8c0-0.9-0.3-1.5-1.1-1.5                       c-0.5,0-0.9,0.4-1.1,0.8c0,0.1-0.1,0.3-0.1,0.4v3H177v-2.9c0-0.8-0.3-1.4-1-1.4c-0.6,0-1,0.4-1.1,0.9c0,0.1-0.1,0.3-0.1,0.4v3h-0.9                       L173.9,23.8L173.9,23.8z">
                            </path>
                            <path class="st0"
                                d="M186.9,24.9c0,1.8-1.3,2.6-2.5,2.6c-1.3,0-2.4-1-2.4-2.5c0-1.7,1.1-2.6,2.4-2.6                       C185.9,22.3,186.9,23.4,186.9,24.9z M183,24.9c0,1.1,0.6,1.9,1.5,1.9c0.9,0,1.5-0.8,1.5-1.9c0-0.8-0.4-1.9-1.5-1.9                       C183.4,23,183,24,183,24.9z">
                            </path>
                            <path class="st0"
                                d="M81.2,37.1c0,1.8-1.3,2.6-2.5,2.6c-1.3,0-2.4-1-2.4-2.5c0-1.7,1.1-2.6,2.4-2.6C80.3,34.6,81.2,35.6,81.2,37.1z                        M77.3,37.2c0,1.1,0.6,1.9,1.5,1.9c0.9,0,1.5-0.8,1.5-1.9c0-0.8-0.4-1.9-1.5-1.9C77.7,35.3,77.3,36.2,77.3,37.2z">
                            </path>
                            <path class="st0"
                                d="M85.7,36c0-0.5,0-0.9,0-1.3h0.8l0,0.8h0c0.3-0.5,0.7-0.9,1.5-0.9c0.7,0,1.2,0.4,1.4,1h0                       c0.2-0.3,0.3-0.5,0.6-0.6c0.3-0.2,0.6-0.3,1.1-0.3c0.6,0,1.6,0.4,1.6,2.1v2.9h-0.9v-2.8c0-0.9-0.3-1.5-1.1-1.5                       c-0.5,0-0.9,0.4-1.1,0.8c0,0.1-0.1,0.3-0.1,0.4v3h-0.9v-3c0-0.8-0.3-1.4-1-1.4c-0.6,0-1,0.4-1.1,0.9c0,0.1-0.1,0.3-0.1,0.4v3h-0.9                       L85.7,36L85.7,36z">
                            </path>
                            <path class="st0"
                                d="M97.6,39.7L97.5,39h0c-0.3,0.4-0.8,0.7-1.5,0.7c-1,0-1.5-0.7-1.5-1.4c0-1.2,1.1-1.8,3-1.8v-0.1                       c0-0.4-0.1-1.2-1.1-1.2c-0.5,0-0.9,0.1-1.3,0.4L94.9,35c0.4-0.3,1-0.4,1.6-0.4c1.5,0,1.9,1,1.9,2v1.8c0,0.4,0,0.9,0.1,1.2                       L97.6,39.7L97.6,39.7z M97.5,37.1c-1,0-2.1,0.2-2.1,1.1c0,0.6,0.4,0.9,0.9,0.9c0.6,0,1.1-0.4,1.2-0.8c0-0.1,0-0.2,0-0.3L97.5,37.1                       L97.5,37.1z">
                            </path>
                            <path class="st0"
                                d="M101.4,33.3c0,0.3-0.2,0.6-0.6,0.6c-0.3,0-0.5-0.3-0.5-0.6c0-0.3,0.2-0.6,0.6-0.6                       C101.2,32.7,101.4,33,101.4,33.3z M100.4,39.7v-4.9h0.9v4.9H100.4z">
                            </path>
                            <path class="st0"
                                d="M107.9,37.1c0,1.8-1.3,2.6-2.5,2.6c-1.3,0-2.4-1-2.4-2.5c0-1.7,1.1-2.6,2.4-2.6                       C106.9,34.6,107.9,35.6,107.9,37.1z M103.9,37.2c0,1.1,0.6,1.9,1.5,1.9c0.9,0,1.5-0.8,1.5-1.9c0-0.8-0.4-1.9-1.5-1.9                       C104.4,35.3,103.9,36.2,103.9,37.2z">
                            </path>
                            <path class="st0"
                                d="M109.6,36.2c0-0.6,0-1.1,0-1.5h0.8l0,1h0c0.2-0.7,0.8-1.1,1.4-1.1c0.1,0,0.2,0,0.3,0v0.9c-0.1,0-0.2,0-0.3,0                       c-0.6,0-1.1,0.5-1.2,1.2c0,0.1,0,0.3,0,0.4v2.6h-0.9V36.2z">
                            </path>
                            <path class="st0"
                                d="M120.6,32.4v6c0,0.4,0,0.9,0,1.3h-0.8l0-0.9h0c-0.3,0.6-0.9,1-1.7,1c-1.2,0-2.1-1-2.1-2.5c0-1.6,1-2.7,2.2-2.7                       c0.8,0,1.3,0.3,1.5,0.8h0v-3H120.6z M119.7,36.7c0-0.1,0-0.3,0-0.4c-0.1-0.6-0.6-1-1.3-1c-0.9,0-1.5,0.8-1.5,1.9                       c0,1,0.5,1.8,1.5,1.8c0.6,0,1.2-0.4,1.3-1.1c0-0.1,0-0.3,0-0.4V36.7z">
                            </path>
                            <path class="st0"
                                d="M123.7,33.3c0,0.3-0.2,0.6-0.6,0.6c-0.3,0-0.5-0.3-0.5-0.6c0-0.3,0.2-0.6,0.6-0.6                       C123.5,32.7,123.7,33,123.7,33.3z M122.7,39.7v-4.9h0.9v4.9H122.7z">
                            </path>
                            <path class="st0"
                                d="M125.6,38.7c0.3,0.2,0.7,0.3,1.2,0.3c0.6,0,1-0.3,1-0.7c0-0.4-0.3-0.7-0.9-0.9c-0.9-0.3-1.3-0.8-1.3-1.4                       c0-0.8,0.6-1.5,1.7-1.5c0.5,0,0.9,0.1,1.2,0.3l-0.2,0.6c-0.2-0.1-0.6-0.3-1-0.3c-0.5,0-0.8,0.3-0.8,0.7c0,0.4,0.3,0.6,0.9,0.8                       c0.9,0.3,1.3,0.8,1.3,1.5c0,0.9-0.7,1.5-1.8,1.5c-0.5,0-1-0.1-1.4-0.3L125.6,38.7z">
                            </path>
                            <path class="st0"
                                d="M131.4,33.3v1.4h1.3v0.7h-1.3V38c0,0.6,0.2,1,0.7,1c0.2,0,0.4,0,0.5-0.1l0,0.7c-0.2,0.1-0.4,0.1-0.8,0.1                       c-0.4,0-0.8-0.1-1-0.4c-0.3-0.3-0.3-0.7-0.3-1.3v-2.7h-0.8v-0.7h0.8v-1.2L131.4,33.3z">
                            </path>
                            <path class="st0"
                                d="M134.4,36.2c0-0.6,0-1.1,0-1.5h0.8l0,1h0c0.2-0.7,0.8-1.1,1.4-1.1c0.1,0,0.2,0,0.3,0v0.9c-0.1,0-0.2,0-0.3,0                       c-0.6,0-1.1,0.5-1.2,1.2c0,0.1,0,0.3,0,0.4v2.6h-0.9V36.2z">
                            </path>
                            <path class="st0"
                                d="M139.3,33.3c0,0.3-0.2,0.6-0.6,0.6c-0.3,0-0.5-0.3-0.5-0.6c0-0.3,0.2-0.6,0.6-0.6                       C139.1,32.7,139.3,33,139.3,33.3z M138.3,39.7v-4.9h0.9v4.9H138.3z">
                            </path>
                            <path class="st0"
                                d="M141.3,39.7c0-0.3,0-0.8,0-1.3v-6h0.9v3.1h0c0.3-0.6,0.9-0.9,1.7-0.9c1.2,0,2.1,1,2.1,2.5                       c0,1.8-1.1,2.7-2.2,2.7c-0.7,0-1.3-0.3-1.7-0.9h0l0,0.8H141.3z M142.3,37.7c0,0.1,0,0.2,0,0.3c0.2,0.6,0.7,1.1,1.3,1.1                       c0.9,0,1.5-0.8,1.5-1.9c0-1-0.5-1.8-1.5-1.8c-0.6,0-1.2,0.4-1.4,1.1c0,0.1,0,0.2,0,0.4V37.7z">
                            </path>
                            <path class="st0"
                                d="M151.9,38.3c0,0.5,0,1,0,1.3h-0.8l0-0.8h0c-0.2,0.4-0.8,0.9-1.6,0.9c-0.8,0-1.7-0.4-1.7-2.2v-2.9h0.9v2.7                       c0,0.9,0.3,1.6,1.1,1.6c0.6,0,1-0.4,1.2-0.8c0-0.1,0.1-0.3,0.1-0.5v-3h0.9L151.9,38.3L151.9,38.3z">
                            </path>
                            <path class="st0"
                                d="M155,33.3c0,0.3-0.2,0.6-0.6,0.6c-0.3,0-0.5-0.3-0.5-0.6c0-0.3,0.2-0.6,0.6-0.6C154.8,32.7,155,33,155,33.3z                        M154,39.7v-4.9h0.9v4.9H154z">
                            </path>
                            <path class="st0"
                                d="M161.3,32.4v6c0,0.4,0,0.9,0,1.3h-0.8l0-0.9h0c-0.3,0.6-0.9,1-1.7,1c-1.2,0-2.1-1-2.1-2.5c0-1.6,1-2.7,2.2-2.7                       c0.8,0,1.3,0.3,1.5,0.8h0v-3H161.3z M160.4,36.7c0-0.1,0-0.3,0-0.4c-0.1-0.6-0.6-1-1.3-1c-0.9,0-1.5,0.8-1.5,1.9                       c0,1,0.5,1.8,1.5,1.8c0.6,0,1.2-0.4,1.3-1.1c0-0.1,0-0.3,0-0.4V36.7z">
                            </path>
                            <path class="st0"
                                d="M167.9,37.1c0,1.8-1.3,2.6-2.5,2.6c-1.3,0-2.4-1-2.4-2.5c0-1.7,1.1-2.6,2.4-2.6                       C166.9,34.6,167.9,35.6,167.9,37.1z M163.9,37.2c0,1.1,0.6,1.9,1.5,1.9c0.9,0,1.5-0.8,1.5-1.9c0-0.8-0.4-1.9-1.5-1.9                       C164.4,35.3,163.9,36.2,163.9,37.2z">
                            </path>
                            <path class="st0"
                                d="M169.6,36.2c0-0.6,0-1.1,0-1.5h0.8l0,1h0c0.2-0.7,0.8-1.1,1.4-1.1c0.1,0,0.2,0,0.3,0v0.9c-0.1,0-0.2,0-0.3,0                       c-0.6,0-1.1,0.5-1.2,1.2c0,0.1,0,0.3,0,0.4v2.6h-0.9V36.2z">
                            </path>
                            <path class="st0"
                                d="M180.6,32.4v6c0,0.4,0,0.9,0,1.3h-0.8l0-0.9h0c-0.3,0.6-0.9,1-1.7,1c-1.2,0-2.1-1-2.1-2.5c0-1.6,1-2.7,2.2-2.7                       c0.8,0,1.3,0.3,1.5,0.8h0v-3H180.6z M179.7,36.7c0-0.1,0-0.3,0-0.4c-0.1-0.6-0.6-1-1.3-1c-0.9,0-1.5,0.8-1.5,1.9                       c0,1,0.5,1.8,1.5,1.8c0.6,0,1.2-0.4,1.3-1.1c0-0.1,0-0.3,0-0.4V36.7z">
                            </path>
                            <path class="st0"
                                d="M183.2,37.3c0,1.2,0.8,1.7,1.7,1.7c0.6,0,1-0.1,1.4-0.3l0.2,0.6c-0.3,0.1-0.9,0.3-1.6,0.3                       c-1.5,0-2.4-1-2.4-2.5c0-1.5,0.9-2.7,2.3-2.7c1.6,0,2,1.4,2,2.3c0,0.2,0,0.3,0,0.4H183.2z M185.8,36.7c0-0.6-0.2-1.5-1.2-1.5                       c-0.9,0-1.3,0.8-1.4,1.5H185.8z">
                            </path>
                            <path class="st0"
                                d="M79.5,51.9l-0.1-0.6h0c-0.3,0.4-0.8,0.7-1.5,0.7c-1,0-1.5-0.7-1.5-1.4c0-1.2,1.1-1.8,3-1.8v-0.1                       c0-0.4-0.1-1.2-1.1-1.2c-0.5,0-0.9,0.1-1.3,0.4l-0.2-0.6c0.4-0.3,1-0.4,1.6-0.4c1.5,0,1.9,1,1.9,2v1.8c0,0.4,0,0.9,0.1,1.2                       L79.5,51.9L79.5,51.9z M79.3,49.4c-1,0-2.1,0.2-2.1,1.1c0,0.6,0.4,0.9,0.9,0.9c0.6,0,1.1-0.4,1.2-0.8c0-0.1,0-0.2,0-0.3L79.3,49.4                       L79.3,49.4z">
                            </path>
                            <path class="st0"
                                d="M84.8,51.7C84.5,51.8,84,52,83.4,52c-1.5,0-2.5-1-2.5-2.5c0-1.5,1-2.6,2.7-2.6c0.5,0,1,0.1,1.2,0.3l-0.2,0.7                       c-0.2-0.1-0.6-0.2-1-0.2c-1.1,0-1.8,0.8-1.8,1.9c0,1.2,0.7,1.8,1.7,1.8c0.5,0,0.9-0.1,1.1-0.3L84.8,51.7z">
                            </path>
                            <path class="st0"
                                d="M85.8,49.6c0,1.2,0.8,1.7,1.7,1.7c0.6,0,1-0.1,1.4-0.3l0.2,0.6c-0.3,0.1-0.9,0.3-1.6,0.3c-1.5,0-2.4-1-2.4-2.5                       c0-1.5,0.9-2.7,2.3-2.7c1.6,0,2,1.4,2,2.3c0,0.2,0,0.3,0,0.4H85.8z M88.5,49c0-0.6-0.2-1.5-1.2-1.5c-0.9,0-1.3,0.8-1.4,1.5H88.5z">
                            </path>
                            <path class="st0"
                                d="M89.9,51c0.3,0.2,0.7,0.3,1.2,0.3c0.6,0,1-0.3,1-0.7c0-0.4-0.3-0.7-0.9-0.9c-0.9-0.3-1.3-0.8-1.3-1.4                       c0-0.8,0.6-1.5,1.7-1.5c0.5,0,0.9,0.1,1.2,0.3l-0.2,0.6c-0.2-0.1-0.6-0.3-1-0.3c-0.5,0-0.8,0.3-0.8,0.7c0,0.4,0.3,0.6,0.9,0.8                       c0.9,0.3,1.3,0.8,1.3,1.5c0,0.9-0.7,1.5-1.8,1.5c-0.5,0-1-0.1-1.4-0.3L89.9,51z">
                            </path>
                            <path class="st0"
                                d="M93.6,51c0.3,0.2,0.7,0.3,1.2,0.3c0.6,0,1-0.3,1-0.7c0-0.4-0.3-0.7-0.9-0.9c-0.9-0.3-1.3-0.8-1.3-1.4                       c0-0.8,0.6-1.5,1.7-1.5c0.5,0,0.9,0.1,1.2,0.3l-0.2,0.6c-0.2-0.1-0.6-0.3-1-0.3c-0.5,0-0.8,0.3-0.8,0.7c0,0.4,0.3,0.6,0.9,0.8                       c0.9,0.3,1.3,0.8,1.3,1.5c0,0.9-0.7,1.5-1.8,1.5c-0.5,0-1-0.1-1.4-0.3L93.6,51z">
                            </path>
                            <path class="st0"
                                d="M101.8,49.4c0,1.8-1.3,2.6-2.5,2.6c-1.3,0-2.4-1-2.4-2.5c0-1.7,1.1-2.6,2.4-2.6                       C100.8,46.8,101.8,47.9,101.8,49.4z M97.9,49.4c0,1.1,0.6,1.9,1.5,1.9c0.9,0,1.5-0.8,1.5-1.9c0-0.8-0.4-1.9-1.5-1.9                       S97.9,48.5,97.9,49.4z M100.7,44.8l-1.2,1.5h-0.6l0.9-1.5H100.7z">
                            </path>
                            <path class="st0"
                                d="M102.5,48.5c0-0.6,0-1.1,0-1.5h0.8l0,1h0c0.2-0.7,0.8-1.1,1.4-1.1c0.1,0,0.2,0,0.3,0v0.9c-0.1,0-0.2,0-0.3,0                       c-0.6,0-1.1,0.5-1.2,1.2c0,0.1,0,0.3,0,0.4v2.6h-0.9V48.5z">
                            </path>
                            <path class="st0"
                                d="M106.5,45.6c0,0.3-0.2,0.6-0.6,0.6c-0.3,0-0.5-0.3-0.5-0.6c0-0.3,0.2-0.6,0.6-0.6                       C106.3,45,106.5,45.2,106.5,45.6z M105.5,51.9v-4.9h0.9v4.9H105.5z">
                            </path>
                            <path class="st0"
                                d="M112,49.4c0,1.8-1.3,2.6-2.5,2.6c-1.3,0-2.4-1-2.4-2.5c0-1.7,1.1-2.6,2.4-2.6C111,46.8,112,47.9,112,49.4z                        M108,49.4c0,1.1,0.6,1.9,1.5,1.9c0.9,0,1.5-0.8,1.5-1.9c0-0.8-0.4-1.9-1.5-1.9S108,48.5,108,49.4z">
                            </path>
                            <path class="st0"
                                d="M112.6,51c0.3,0.2,0.7,0.3,1.2,0.3c0.6,0,1-0.3,1-0.7c0-0.4-0.3-0.7-0.9-0.9c-0.9-0.3-1.3-0.8-1.3-1.4                       c0-0.8,0.6-1.5,1.7-1.5c0.5,0,0.9,0.1,1.2,0.3l-0.2,0.6c-0.2-0.1-0.6-0.3-1-0.3c-0.5,0-0.8,0.3-0.8,0.7c0,0.4,0.3,0.6,0.9,0.8                       c0.9,0.3,1.3,0.8,1.3,1.5c0,0.9-0.7,1.5-1.8,1.5c-0.5,0-1-0.1-1.4-0.3L112.6,51z">
                            </path>
                            <path class="st0"
                                d="M118.1,48.6c0-0.6,0-1.2,0-1.6h0.8l0,0.9h0c0.4-0.6,0.9-1,1.8-1c1.2,0,2.1,1,2.1,2.5c0,1.8-1.1,2.7-2.2,2.7                       c-0.6,0-1.2-0.3-1.5-0.8h0v2.7h-0.9L118.1,48.6L118.1,48.6z M119,49.9c0,0.1,0,0.3,0,0.4c0.2,0.6,0.7,1.1,1.3,1.1                       c0.9,0,1.5-0.8,1.5-1.9c0-1-0.5-1.8-1.5-1.8c-0.6,0-1.2,0.4-1.4,1.1c0,0.1-0.1,0.3-0.1,0.4L119,49.9L119,49.9z">
                            </path>
                            <path class="st0"
                                d="M126.2,51.9l-0.1-0.6h0c-0.3,0.4-0.8,0.7-1.5,0.7c-1,0-1.5-0.7-1.5-1.4c0-1.2,1.1-1.8,3-1.8v-0.1                       c0-0.4-0.1-1.2-1.1-1.2c-0.5,0-0.9,0.1-1.3,0.4l-0.2-0.6c0.4-0.3,1-0.4,1.6-0.4c1.5,0,1.9,1,1.9,2v1.8c0,0.4,0,0.9,0.1,1.2                       L126.2,51.9L126.2,51.9z M126.1,49.4c-1,0-2.1,0.2-2.1,1.1c0,0.6,0.4,0.9,0.9,0.9c0.6,0,1.1-0.4,1.2-0.8c0-0.1,0-0.2,0-0.3                       L126.1,49.4L126.1,49.4z">
                            </path>
                            <path class="st0"
                                d="M128,48.5c0-0.6,0-1.1,0-1.5h0.8l0,1h0c0.2-0.7,0.8-1.1,1.4-1.1c0.1,0,0.2,0,0.3,0v0.9c-0.1,0-0.2,0-0.3,0                       c-0.6,0-1.1,0.5-1.2,1.2c0,0.1,0,0.3,0,0.4v2.6H128V48.5z">
                            </path>
                            <path class="st0"
                                d="M133.6,51.9l-0.1-0.6h0c-0.3,0.4-0.8,0.7-1.5,0.7c-1,0-1.5-0.7-1.5-1.4c0-1.2,1.1-1.8,3-1.8v-0.1                       c0-0.4-0.1-1.2-1.1-1.2c-0.5,0-0.9,0.1-1.3,0.4l-0.2-0.6c0.4-0.3,1-0.4,1.6-0.4c1.5,0,1.9,1,1.9,2v1.8c0,0.4,0,0.9,0.1,1.2                       L133.6,51.9L133.6,51.9z M133.5,49.4c-1,0-2.1,0.2-2.1,1.1c0,0.6,0.4,0.9,0.9,0.9c0.6,0,1.1-0.4,1.2-0.8c0-0.1,0-0.2,0-0.3                       L133.5,49.4L133.5,49.4z">
                            </path>
                            <path class="st0"
                                d="M142.4,51.6c-0.4,0.1-1.2,0.4-2.1,0.4c-1,0-1.9-0.3-2.6-0.9c-0.6-0.6-1-1.5-1-2.6c0-2.1,1.4-3.6,3.7-3.6                       c0.8,0,1.4,0.2,1.7,0.3L142,46c-0.4-0.2-0.8-0.3-1.5-0.3c-1.7,0-2.8,1-2.8,2.8c0,1.8,1.1,2.8,2.7,2.8c0.6,0,1-0.1,1.2-0.2V49h-1.4                       v-0.7h2.3L142.4,51.6L142.4,51.6z">
                            </path>
                            <path class="st0"
                                d="M146.1,51.9l-0.1-0.6h0c-0.3,0.4-0.8,0.7-1.5,0.7c-1,0-1.5-0.7-1.5-1.4c0-1.2,1.1-1.8,3-1.8v-0.1                       c0-0.4-0.1-1.2-1.1-1.2c-0.5,0-0.9,0.1-1.3,0.4l-0.2-0.6c0.4-0.3,1-0.4,1.6-0.4c1.5,0,1.9,1,1.9,2v1.8c0,0.4,0,0.9,0.1,1.2                       L146.1,51.9L146.1,51.9z M146,49.4c-1,0-2.1,0.2-2.1,1.1c0,0.6,0.4,0.9,0.9,0.9c0.6,0,1.1-0.4,1.2-0.8c0-0.1,0-0.2,0-0.3L146,49.4                       L146,49.4z">
                            </path>
                            <path class="st0"
                                d="M147.8,51c0.3,0.2,0.7,0.3,1.2,0.3c0.6,0,1-0.3,1-0.7c0-0.4-0.3-0.7-0.9-0.9c-0.9-0.3-1.3-0.8-1.3-1.4                       c0-0.8,0.6-1.5,1.7-1.5c0.5,0,0.9,0.1,1.2,0.3l-0.2,0.6c-0.2-0.1-0.6-0.3-1-0.3c-0.5,0-0.8,0.3-0.8,0.7c0,0.4,0.3,0.6,0.9,0.8                       c0.9,0.3,1.3,0.8,1.3,1.5c0,0.9-0.7,1.5-1.8,1.5c-0.5,0-1-0.1-1.4-0.3L147.8,51z">
                            </path>
                            <path class="st0"
                                d="M152.6,45.5v1.4h1.3v0.7h-1.3v2.7c0,0.6,0.2,1,0.7,1c0.2,0,0.4,0,0.5-0.1l0,0.7c-0.2,0.1-0.4,0.1-0.8,0.1                       c-0.4,0-0.8-0.1-1-0.4c-0.3-0.3-0.3-0.7-0.3-1.3v-2.7H151v-0.7h0.8v-1.2L152.6,45.5z">
                            </path>
                            <path class="st0"
                                d="M154.5,48.5c0-0.6,0-1.1,0-1.5h0.8l0,1h0c0.2-0.7,0.8-1.1,1.4-1.1c0.1,0,0.2,0,0.3,0v0.9c-0.1,0-0.2,0-0.3,0                       c-0.6,0-1.1,0.5-1.2,1.2c0,0.1,0,0.3,0,0.4v2.6h-0.9V48.5z">
                            </path>
                            <path class="st0"
                                d="M161.8,49.4c0,1.8-1.3,2.6-2.5,2.6c-1.3,0-2.4-1-2.4-2.5c0-1.7,1.1-2.6,2.4-2.6                       C160.9,46.8,161.8,47.9,161.8,49.4z M157.9,49.4c0,1.1,0.6,1.9,1.5,1.9c0.9,0,1.5-0.8,1.5-1.9c0-0.8-0.4-1.9-1.5-1.9                       S157.9,48.5,157.9,49.4z">
                            </path>
                            <path class="st0"
                                d="M162.5,48.3c0-0.5,0-0.9,0-1.3h0.8l0,0.8h0c0.3-0.5,0.8-0.9,1.6-0.9c0.7,0,1.8,0.4,1.8,2.1v3h-0.9V49                       c0-0.8-0.3-1.5-1.2-1.5c-0.6,0-1.1,0.4-1.2,0.9c0,0.1-0.1,0.3-0.1,0.4v3h-0.9L162.5,48.3L162.5,48.3z">
                            </path>
                            <path class="st0"
                                d="M172.3,49.4c0,1.8-1.3,2.6-2.5,2.6c-1.3,0-2.4-1-2.4-2.5c0-1.7,1.1-2.6,2.4-2.6                       C171.3,46.8,172.3,47.9,172.3,49.4z M168.3,49.4c0,1.1,0.6,1.9,1.5,1.9c0.9,0,1.5-0.8,1.5-1.9c0-0.8-0.4-1.9-1.5-1.9                       S168.3,48.5,168.3,49.4z">
                            </path>
                            <path class="st0"
                                d="M173,48.3c0-0.5,0-0.9,0-1.3h0.8l0,0.8h0c0.3-0.5,0.7-0.9,1.5-0.9c0.7,0,1.2,0.4,1.4,1h0                       c0.2-0.3,0.3-0.5,0.6-0.6c0.3-0.2,0.6-0.3,1.1-0.3c0.6,0,1.6,0.4,1.6,2.1v2.9h-0.9v-2.8c0-0.9-0.3-1.5-1.1-1.5                       c-0.5,0-0.9,0.4-1.1,0.8c0,0.1-0.1,0.3-0.1,0.4v3h-0.9v-3c0-0.8-0.3-1.4-1-1.4c-0.6,0-1,0.4-1.1,0.9c0,0.1-0.1,0.3-0.1,0.4v3H173                       L173,48.3L173,48.3z">
                            </path>
                            <path class="st0"
                                d="M182.1,45.6c0,0.3-0.2,0.6-0.6,0.6c-0.3,0-0.5-0.3-0.5-0.6c0-0.3,0.2-0.6,0.6-0.6                       C181.9,45,182.1,45.2,182.1,45.6z M181.1,51.9v-4.9h0.9v4.9H181.1z">
                            </path>
                            <path class="st0"
                                d="M185.8,51.9l-0.1-0.6h0c-0.3,0.4-0.8,0.7-1.5,0.7c-1,0-1.5-0.7-1.5-1.4c0-1.2,1.1-1.8,3-1.8v-0.1                       c0-0.4-0.1-1.2-1.1-1.2c-0.5,0-0.9,0.1-1.3,0.4l-0.2-0.6c0.4-0.3,1-0.4,1.6-0.4c1.5,0,1.9,1,1.9,2v1.8c0,0.4,0,0.9,0.1,1.2                       L185.8,51.9L185.8,51.9z M185.7,49.4c-1,0-2.1,0.2-2.1,1.1c0,0.6,0.4,0.9,0.9,0.9c0.6,0,1.1-0.4,1.2-0.8c0-0.1,0-0.2,0-0.3                       L185.7,49.4L185.7,49.4z">
                            </path>
                            <path class="st0"
                                d="M76.7,60.5c0-0.5,0-0.9,0-1.3h0.8l0,0.8h0c0.3-0.5,0.8-0.9,1.6-0.9c0.7,0,1.8,0.4,1.8,2.1v3H80v-2.8                       c0-0.8-0.3-1.5-1.2-1.5c-0.6,0-1.1,0.4-1.2,0.9c0,0.1-0.1,0.3-0.1,0.4v3h-0.9L76.7,60.5L76.7,60.5z">
                            </path>
                            <path class="st0"
                                d="M86.3,61.6c0,1.8-1.3,2.6-2.5,2.6c-1.3,0-2.4-1-2.4-2.5c0-1.7,1.1-2.6,2.4-2.6C85.3,59.1,86.3,60.1,86.3,61.6z                        M82.3,61.7c0,1.1,0.6,1.9,1.5,1.9c0.9,0,1.5-0.8,1.5-1.9c0-0.8-0.4-1.9-1.5-1.9C82.8,59.8,82.3,60.8,82.3,61.7z">
                            </path>
                            <path class="st0"
                                d="M86.7,63.2c0.3,0.2,0.7,0.3,1.2,0.3c0.6,0,1-0.3,1-0.7c0-0.4-0.3-0.7-0.9-0.9c-0.9-0.3-1.3-0.8-1.3-1.4                       c0-0.8,0.6-1.5,1.7-1.5c0.5,0,0.9,0.1,1.2,0.3L89.3,60c-0.2-0.1-0.6-0.3-1-0.3c-0.5,0-0.8,0.3-0.8,0.7c0,0.4,0.3,0.6,0.9,0.8                       c0.9,0.3,1.3,0.8,1.3,1.5c0,0.9-0.7,1.5-1.8,1.5c-0.5,0-1-0.1-1.4-0.3L86.7,63.2z">
                            </path>
                            <path class="st0"
                                d="M94.5,64.1l-0.1-0.6h0c-0.3,0.4-0.8,0.7-1.5,0.7c-1,0-1.5-0.7-1.5-1.4c0-1.2,1.1-1.8,3-1.8v-0.1                       c0-0.4-0.1-1.2-1.1-1.2c-0.5,0-0.9,0.1-1.3,0.4l-0.2-0.6c0.4-0.3,1-0.4,1.6-0.4c1.5,0,1.9,1,1.9,2V63c0,0.4,0,0.9,0.1,1.2                       L94.5,64.1L94.5,64.1z M94.4,61.6c-1,0-2.1,0.2-2.1,1.1c0,0.6,0.4,0.9,0.9,0.9c0.6,0,1.1-0.4,1.2-0.8c0-0.1,0-0.2,0-0.3L94.4,61.6                       L94.4,61.6z">
                            </path>
                            <path class="st0"
                                d="M96.1,60.5c0-0.5,0-0.9,0-1.3h0.8l0,0.8h0c0.3-0.5,0.8-0.9,1.6-0.9c0.7,0,1.8,0.4,1.8,2.1v3h-0.9v-2.8                       c0-0.8-0.3-1.5-1.2-1.5c-0.6,0-1.1,0.4-1.2,0.9c0,0.1-0.1,0.3-0.1,0.4v3h-0.9L96.1,60.5L96.1,60.5z">
                            </path>
                            <path class="st0"
                                d="M105.6,61.6c0,1.8-1.3,2.6-2.5,2.6c-1.3,0-2.4-1-2.4-2.5c0-1.7,1.1-2.6,2.4-2.6                       C104.6,59.1,105.6,60.1,105.6,61.6z M101.7,61.7c0,1.1,0.6,1.9,1.5,1.9c0.9,0,1.5-0.8,1.5-1.9c0-0.8-0.4-1.9-1.5-1.9                       S101.7,60.8,101.7,61.7z">
                            </path>
                            <path class="st0"
                                d="M106,63.2c0.3,0.2,0.7,0.3,1.2,0.3c0.6,0,1-0.3,1-0.7c0-0.4-0.3-0.7-0.9-0.9c-0.9-0.3-1.3-0.8-1.3-1.4                       c0-0.8,0.6-1.5,1.7-1.5c0.5,0,0.9,0.1,1.2,0.3l-0.2,0.6c-0.2-0.1-0.6-0.3-1-0.3c-0.5,0-0.8,0.3-0.8,0.7c0,0.4,0.3,0.6,0.9,0.8                       c0.9,0.3,1.3,0.8,1.3,1.5c0,0.9-0.7,1.5-1.8,1.5c-0.5,0-1-0.1-1.4-0.3L106,63.2z">
                            </path>
                            <path class="st0"
                                d="M115.4,56.9v6c0,0.4,0,0.9,0,1.3h-0.8l0-0.9h0c-0.3,0.6-0.9,1-1.7,1c-1.2,0-2.1-1-2.1-2.5c0-1.6,1-2.7,2.2-2.7                       c0.8,0,1.3,0.3,1.5,0.8h0v-3H115.4z M114.5,61.2c0-0.1,0-0.3,0-0.4c-0.1-0.6-0.6-1-1.3-1c-0.9,0-1.5,0.8-1.5,1.9                       c0,1,0.5,1.8,1.5,1.8c0.6,0,1.2-0.4,1.3-1.1c0-0.1,0-0.3,0-0.4V61.2z">
                            </path>
                            <path class="st0"
                                d="M116.7,61.8c0,1.2,0.8,1.7,1.7,1.7c0.6,0,1-0.1,1.4-0.3l0.2,0.6c-0.3,0.1-0.9,0.3-1.6,0.3                       c-1.5,0-2.4-1-2.4-2.5c0-1.5,0.9-2.7,2.3-2.7c1.6,0,2,1.4,2,2.3c0,0.2,0,0.3,0,0.4L116.7,61.8L116.7,61.8z M119.4,61.2                       c0-0.6-0.2-1.5-1.2-1.5c-0.9,0-1.3,0.8-1.4,1.5H119.4z">
                            </path>
                            <path class="st5"
                                d="M122,64.1v-0.6l0.7-0.7c1.7-1.6,2.5-2.5,2.5-3.5c0-0.7-0.3-1.3-1.3-1.3c-0.6,0-1.1,0.3-1.4,0.6l-0.3-0.6                       c0.5-0.4,1.1-0.7,1.9-0.7c1.4,0,2,1,2,1.9c0,1.2-0.9,2.2-2.3,3.6l-0.5,0.5v0h3v0.7L122,64.1L122,64.1z">
                            </path>
                            <path class="st5"
                                d="M131.1,60.8c0,2.3-0.8,3.5-2.3,3.5c-1.3,0-2.2-1.2-2.2-3.4c0-2.2,1-3.4,2.3-3.4                       C130.2,57.4,131.1,58.7,131.1,60.8z M127.5,60.9c0,1.7,0.5,2.7,1.3,2.7c0.9,0,1.4-1.1,1.4-2.8c0-1.6-0.4-2.7-1.3-2.7                       C128,58.1,127.5,59,127.5,60.9z">
                            </path>
                            <path class="st5"
                                d="M133.2,58.4L133.2,58.4L132,59l-0.2-0.7l1.5-0.8h0.8v6.6h-0.9L133.2,58.4L133.2,58.4z">
                            </path>
                            <path class="st5"
                                d="M139.7,58.1c-0.2,0-0.4,0-0.7,0c-1.4,0.2-2.1,1.3-2.3,2.4h0c0.3-0.4,0.9-0.8,1.6-0.8c1.2,0,2,0.9,2,2.1                       c0,1.2-0.8,2.3-2.2,2.3c-1.4,0-2.4-1.1-2.4-2.8c0-1.3,0.5-2.3,1.1-3c0.6-0.5,1.3-0.9,2.1-1c0.3,0,0.5,0,0.6,0L139.7,58.1                       L139.7,58.1z M139.4,62c0-0.9-0.5-1.5-1.4-1.5c-0.5,0-1,0.3-1.3,0.8c-0.1,0.1-0.1,0.2-0.1,0.4c0,1.1,0.5,1.9,1.5,1.9                       C138.9,63.6,139.4,62.9,139.4,62z">
                            </path>
                            <path class="st0"
                                d="M141.8,65.4c0.2-0.6,0.5-1.7,0.6-2.4l1-0.1c-0.2,0.9-0.7,2-1,2.5L141.8,65.4z"></path>
                            <path class="st5"
                                d="M145.1,64.1v-0.6l0.7-0.7c1.7-1.6,2.5-2.5,2.5-3.5c0-0.7-0.3-1.3-1.3-1.3c-0.6,0-1.1,0.3-1.4,0.6l-0.3-0.6                       c0.5-0.4,1.1-0.7,1.9-0.7c1.4,0,2,1,2,1.9c0,1.2-0.9,2.2-2.3,3.6l-0.5,0.5v0h3v0.7L145.1,64.1L145.1,64.1z">
                            </path>
                            <path class="st5"
                                d="M154.2,60.8c0,2.3-0.8,3.5-2.3,3.5c-1.3,0-2.2-1.2-2.2-3.4c0-2.2,1-3.4,2.3-3.4                       C153.4,57.4,154.2,58.7,154.2,60.8z M150.6,60.9c0,1.7,0.5,2.7,1.3,2.7c0.9,0,1.4-1.1,1.4-2.8c0-1.6-0.4-2.7-1.3-2.7                       C151.1,58.1,150.6,59,150.6,60.9z">
                            </path>
                            <path class="st5"
                                d="M156.3,58.4L156.3,58.4l-1.2,0.6l-0.2-0.7l1.5-0.8h0.8v6.6h-0.9L156.3,58.4L156.3,58.4z">
                            </path>
                            <path class="st5" d="M163.3,57.5v0.6l-2.9,6h-0.9l2.9-5.9v0h-3.3v-0.7H163.3z"></path>
                            <path class="st0"
                                d="M166,61.8c0,1.2,0.8,1.7,1.7,1.7c0.6,0,1-0.1,1.4-0.3l0.2,0.6c-0.3,0.1-0.9,0.3-1.6,0.3c-1.5,0-2.4-1-2.4-2.5                       c0-1.5,0.9-2.7,2.3-2.7c1.6,0,2,1.4,2,2.3c0,0.2,0,0.3,0,0.4L166,61.8L166,61.8z M168.6,61.2c0-0.6-0.2-1.5-1.2-1.5                       c-0.9,0-1.3,0.8-1.4,1.5H168.6z">
                            </path>
                            <path class="st5"
                                d="M171.2,64.1v-0.6l0.7-0.7c1.7-1.6,2.5-2.5,2.5-3.5c0-0.7-0.3-1.3-1.3-1.3c-0.6,0-1.1,0.3-1.4,0.6l-0.3-0.6                       c0.5-0.4,1.1-0.7,1.9-0.7c1.4,0,2,1,2,1.9c0,1.2-0.9,2.2-2.3,3.6l-0.5,0.5v0h3v0.7L171.2,64.1L171.2,64.1z">
                            </path>
                            <path class="st5"
                                d="M180.3,60.8c0,2.3-0.8,3.5-2.3,3.5c-1.3,0-2.2-1.2-2.2-3.4c0-2.2,1-3.4,2.3-3.4                       C179.5,57.4,180.3,58.7,180.3,60.8z M176.6,60.9c0,1.7,0.5,2.7,1.3,2.7c0.9,0,1.4-1.1,1.4-2.8c0-1.6-0.4-2.7-1.3-2.7                       C177.2,58.1,176.6,59,176.6,60.9z">
                            </path>
                            <path class="st5"
                                d="M182.4,58.4L182.4,58.4l-1.2,0.6l-0.2-0.7l1.5-0.8h0.8v6.6h-0.9L182.4,58.4L182.4,58.4z">
                            </path>
                            <path class="st5"
                                d="M185,62.5c0-0.8,0.5-1.4,1.3-1.8v0c-0.7-0.3-1.1-0.9-1.1-1.5c0-1.1,0.9-1.8,2.1-1.8c1.3,0,1.9,0.8,1.9,1.6                       c0,0.6-0.3,1.2-1.1,1.5v0c0.8,0.3,1.3,0.9,1.3,1.7c0,1.2-1,1.9-2.3,1.9C185.9,64.3,185,63.4,185,62.5z M188.6,62.4                       c0-0.8-0.6-1.2-1.5-1.5c-0.8,0.2-1.2,0.7-1.2,1.4c0,0.7,0.5,1.3,1.3,1.3C188.1,63.6,188.6,63.1,188.6,62.4z M186.1,59.1                       c0,0.7,0.5,1,1.3,1.2c0.6-0.2,1-0.6,1-1.2c0-0.5-0.3-1.1-1.1-1.1C186.5,58.1,186.1,58.5,186.1,59.1z">
                            </path>
                            <path class="st0"
                                d="M189.8,63.6c0-0.4,0.3-0.6,0.6-0.6c0.3,0,0.6,0.3,0.6,0.6c0,0.4-0.2,0.6-0.6,0.6C190,64.3,189.8,64,189.8,63.6                       z">
                            </path>
                        </g>
                    </svg>
                </li>
            </ul>
        </div>

        <div class="formas-de-pagamento">
            <img src="/arquivos/checkout_bandeiras.png" />
        </div>

        <div class="local">
            <div class="sprite-ico_pin"></div>
            <p><strong>NOSSA LOJA!</strong><br />
                Rua Carlos Souza Nazaré, 230 - Centro (Trav. 25 de Março) - São Paulo - SP</p>
        </div>

        <div class="precos">
            <p>Preços e condições exclusivos para o site, podendo sofrer alterações sem prévia notificação.</p>
        </div>
    </div>

    <div class="copyright">
        <div class="direitos">
            <p>EDMOND HABIB GHATTAS LTDA 2018 - Todos os direitos reservados.</p>
        </div>

        <div class="razao-social">
            <p>Razão Social - CNPJ 61.506.598/0001-00</p>
        </div>

        <div class="vtex_sanders">
            <a href="https://www.vtex.com/" target="_blank"><img src="/arquivos/checkout_vtex.png"
                    alt="VTEX - A verdadeira plataforma de E-commerce" /></a>
            <a href="https://www.sandersdigital.com.br/" target="_blank"><img class="logo-sanders"
                    src="/arquivos/checkout_sanders.png" alt="Sanders Digital - E-commerce" /></a>
        </div>

    </div>

</footer>
<link rel="stylesheet" href="/arquivos/checkout-sanders.css" />
<div class="overlay"
    style="display:none;transition:300ms;background-color: #00000057;width: 100%;height: 100%;position: absolute;top: 0px;">
</div>