<header>
    <div class="container">
        <div class="row_1">
            <div class="column_0 hamburger dis-none">
                <i>
                    <span></span>
                    <span></span>
                    <span></span>
                </i>    
            </div>
            
            <div class="column_1 logo">
                <a href="/">
                    <img src="/arquivos/logo.png" alt="Rei da Cutelaria" class="color" />
                    <img src="/arquivos/logo_white.png" alt="Rei da Cutelaria" class="white dis-none" />
                </a>
            </div>
            
            <div class="column_2">
                <div class="search">
                    <div class="input">
                        <input type="text" placeholder="O que você procura?" />
                        <button></button>
                    </div>
                    
                    <div class="result"><ul></ul></div>
                </div>
            </div>
            
            <div class="column_3">
                <ul>
                    <li class="btn_whats_app">
                        <a href="https://api.whatsapp.com/send?phone=5511947902921" target="_blank">
                            <i><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 418.135 418.135" style="enable-background:new 0 0 418.135 418.135;" xml:space="preserve"><g><path style="fill:#7AD06D;" d="M198.929,0.242C88.5,5.5,1.356,97.466,1.691,208.02c0.102,33.672,8.231,65.454,22.571,93.536 L2.245,408.429c-1.191,5.781,4.023,10.843,9.766,9.483l104.723-24.811c26.905,13.402,57.125,21.143,89.108,21.631 c112.869,1.724,206.982-87.897,210.5-200.724C420.113,93.065,320.295-5.538,198.929,0.242z M323.886,322.197 c-30.669,30.669-71.446,47.559-114.818,47.559c-25.396,0-49.71-5.698-72.269-16.935l-14.584-7.265l-64.206,15.212l13.515-65.607 l-7.185-14.07c-11.711-22.935-17.649-47.736-17.649-73.713c0-43.373,16.89-84.149,47.559-114.819 c30.395-30.395,71.837-47.56,114.822-47.56C252.443,45,293.218,61.89,323.887,92.558c30.669,30.669,47.559,71.445,47.56,114.817 C371.446,250.361,354.281,291.803,323.886,322.197z"/><path style="fill:#7AD06D;" d="M309.712,252.351l-40.169-11.534c-5.281-1.516-10.968-0.018-14.816,3.903l-9.823,10.008 c-4.142,4.22-10.427,5.576-15.909,3.358c-19.002-7.69-58.974-43.23-69.182-61.007c-2.945-5.128-2.458-11.539,1.158-16.218 l8.576-11.095c3.36-4.347,4.069-10.185,1.847-15.21l-16.9-38.223c-4.048-9.155-15.747-11.82-23.39-5.356 c-11.211,9.482-24.513,23.891-26.13,39.854c-2.851,28.144,9.219,63.622,54.862,106.222c52.73,49.215,94.956,55.717,122.449,49.057 c15.594-3.777,28.056-18.919,35.921-31.317C323.568,266.34,319.334,255.114,309.712,252.351z"/></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg></i>
                            <p>Chame no <strong>Whatsapp</strong></p>
                        </a>
                    </li>
                
                    <li class="btn_account">
                        <a href="/account">
                            <i><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve"> <g> <g> <path d="M437.02,330.98c-27.883-27.882-61.071-48.523-97.281-61.018C378.521,243.251,404,198.548,404,148 C404,66.393,337.607,0,256,0S108,66.393,108,148c0,50.548,25.479,95.251,64.262,121.962 c-36.21,12.495-69.398,33.136-97.281,61.018C26.629,379.333,0,443.62,0,512h40c0-119.103,96.897-216,216-216s216,96.897,216,216 h40C512,443.62,485.371,379.333,437.02,330.98z M256,256c-59.551,0-108-48.448-108-108S196.449,40,256,40 c59.551,0,108,48.448,108,108S315.551,256,256,256z"></path> </g> </g> <g></g> <g></g> <g></g> <g></g> <g></g> <g></g> <g></g> <g></g> <g></g> <g></g> <g></g> <g></g> <g></g> <g></g> <g></g> </svg></i>
                            <div>
                                <p>Olá<span class="cliente_name"></span>!</p>
                                <p><small>Meu Perfil</small></p>
                            </div>
                        </a>
                        
                        <div class="hover dis-none">
                            <ul>
                                <li><a href="/account#/orders">Meus Pedidos</a></li>
                                <li><a href="/login">Cadastrar</a></li>
                                <li><a href="/account">Entrar</a></li>
                            </ul>
                        </div>
                    </li>
                    
                    <li class="btn_duvidas">
                        <a href="">
                            <i><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 511.999 511.999" style="enable-background:new 0 0 511.999 511.999;" xml:space="preserve"><g><g><path d="M498.827,377.633l-63.649-63.649c-17.548-17.547-46.102-17.547-63.649,0l-28.931,28.931 c-13.294,13.294-34.926,13.29-48.215,0.005l-125.4-125.507c-13.325-13.325-13.327-34.892,0-48.219 c4.66-4.66,18.041-18.041,28.931-28.931c17.471-17.47,17.715-45.935-0.017-63.665l-63.632-63.432 C116.717-4.381,88.164-4.381,70.663,13.12C57.567,26.102,53.343,30.29,47.471,36.111c-63.28,63.279-63.28,166.242-0.003,229.519 l198.692,198.796c63.428,63.429,166.088,63.434,229.521,0l23.146-23.145C516.375,423.733,516.375,395.181,498.827,377.633z M91.833,34.382c5.849-5.849,15.365-5.85,21.233,0.016l63.632,63.432c5.863,5.863,5.863,15.352,0,21.216l-10.609,10.608 l-84.81-84.81L91.833,34.382z M267.38,443.213L68.687,244.415c-48.958-48.958-51.649-125.833-8.276-178.006l84.564,84.564 c-22.22,25.189-21.294,63.572,2.787,87.653l125.396,125.501c0.001,0.001,0.003,0.003,0.004,0.004 c24.055,24.056,62.436,25.042,87.656,2.792l84.566,84.566C393.377,494.787,316.675,492.508,267.38,443.213z M477.612,420.065 l-10.609,10.609l-84.865-84.866l10.607-10.608c5.85-5.849,15.367-5.85,21.217,0l63.649,63.649 C483.461,404.699,483.461,414.217,477.612,420.065z"/></g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg></i>
                            <div class="">
                                <p>Dúvidas?</p>
                                <p><small>Fale Conosco</small></p>
                            </div>
                        </a>
                         <div class="hover2 dis-none">
                            <ul>
                                <li><strong>Loja Virtual: </strong> </li>
                                <li><a href="tel:113228-0300">(11) 3228-0300</a></li>
                                
                                <li><strong>Loja Física: </strong></li>
                                <li><a href="tel:113228-0500"><p> (11) 3228-0500</p></a></li>
                                
                                <li><strong>SAC: </strong></li>
                                <li><a href="tel:0800-14-0500"><p> 0800-14-0500</p></a></li>
                            </ul>
                        </div>
                    </li>
                    
                    <li class="cart">
                        <a href="/checkout">
                            <i><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 511.999 511.999" style="enable-background:new 0 0 511.999 511.999;width: 100%;height: 100%;" xml:space="preserve"><g><g><path d="M214.685,402.828c-24.829,0-45.029,20.2-45.029,45.029c0,24.829,20.2,45.029,45.029,45.029s45.029-20.2,45.029-45.029 C259.713,423.028,239.513,402.828,214.685,402.828z M214.685,467.742c-10.966,0-19.887-8.922-19.887-19.887 c0-10.966,8.922-19.887,19.887-19.887s19.887,8.922,19.887,19.887C234.572,458.822,225.65,467.742,214.685,467.742z"/></g></g><g><g><path d="M372.63,402.828c-24.829,0-45.029,20.2-45.029,45.029c0,24.829,20.2,45.029,45.029,45.029s45.029-20.2,45.029-45.029 C417.658,423.028,397.458,402.828,372.63,402.828z M372.63,467.742c-10.966,0-19.887-8.922-19.887-19.887 c0-10.966,8.922-19.887,19.887-19.887c10.966,0,19.887,8.922,19.887,19.887C392.517,458.822,383.595,467.742,372.63,467.742z"/></g></g><g><g><path d="M383.716,165.755H203.567c-6.943,0-12.571,5.628-12.571,12.571c0,6.943,5.629,12.571,12.571,12.571h180.149 c6.943,0,12.571-5.628,12.571-12.571C396.287,171.382,390.659,165.755,383.716,165.755z"/></g></g><g><g><path d="M373.911,231.035H213.373c-6.943,0-12.571,5.628-12.571,12.571s5.628,12.571,12.571,12.571h160.537 c6.943,0,12.571-5.628,12.571-12.571C386.481,236.664,380.853,231.035,373.911,231.035z"/></g></g><g><g><path d="M506.341,109.744c-4.794-5.884-11.898-9.258-19.489-9.258H95.278L87.37,62.097c-1.651-8.008-7.113-14.732-14.614-17.989 l-55.177-23.95c-6.37-2.767-13.773,0.156-16.536,6.524c-2.766,6.37,0.157,13.774,6.524,16.537L62.745,67.17l60.826,295.261 c2.396,11.628,12.752,20.068,24.625,20.068h301.166c6.943,0,12.571-5.628,12.571-12.571c0-6.943-5.628-12.571-12.571-12.571 H148.197l-7.399-35.916H451.69c11.872,0,22.229-8.44,24.624-20.068l35.163-170.675 C513.008,123.266,511.136,115.627,506.341,109.744z M451.69,296.301H135.619l-35.161-170.674l386.393,0.001L451.69,296.301z"/></g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg></i>
                            <span>0</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    
    <div class="row_2">
        <div class="container">
            
            <div class="head">
                <a href="/account/orders" class="btn_nossas_lojas">
                    Meus Pedidos
                </a>
                
                <a href="" class="go_back">Voltar</a>
            </div>
            <div class="head_v2" style="display: none;">
                <span class="title">Acesse sua conta</span>
                <a href="/account/">Entrar/ Cadastrar</a>
                
                <a href="" class="go_back">Voltar</a>
            </div>
            
            <div class="content">
                <div class="column_1">
                    <a href="">
                        <i>
                            <span></span>
                            <span></span>
                            <span></span>
                        </i>
                        
                        <span>Todos os Departamentos</span>
                    </a>
                    
                    <nav>
                        <div class="column_1">
                            <ul>
                                <li>
                                    <p>
                                        <a href="/facas" data-categoria="1">Facas</a>
                                        <span></span>
                                    </p>
                                    
                                </li>
                                
                                <li>
                                    <p>
                                        <a href="/cozinha" data-categoria="2">Cozinha</a>
                                        <span></span>
                                    </p>
                                    
                                </li>
                                
                                <li>
                                    <p>
                                        <a href="/canivetes" data-categoria="3">Canivetes</a>
                                        <span></span>
                                    </p>
                                    
                                </li>
                                
                                <li>
                                    <p>
                                        <a href="/tesouras" data-categoria="4">Tesouras</a>
                                        <span></span>
                                    </p>
                                    
                                </li>
                                
                                <li>
                                    <p>
                                        <a href="/beleza-pessoal" data-categoria="5">Beleza Pessoal</a>
                                        <span></span>
                                    </p>
                                    
                                </li>
                                
                                <li>
                                    <p class="no_sub">
                                        <a href="/marcas" data-categoria="6">Marcas</a>
                                        <span></span>
                                    </p>
                                    
                                </li>
                                
                                <li>
                                    <p>
                                        <a href="/outros" data-categoria="7">Outros</a>
                                        <span></span>
                                    </p>
                                </li>
                            
                            </ul>
                        </div>
                        
                        <div class="column_2">
                            <ul>
                                <li>
                                    <div class="content categoria_1">
                                        <div  class="column">
                                            <ul>
                                                <li class="title"><a href="/facas/cozinha">Cozinha</a></li>
                                                <li><a href="/facas/cozinha/chefe">Chefe</a></li>
                                                <li><a href="/facas/cozinha/cutelo">Cutelo</a></li>
                                                <li><a href="/facas/cozinha/desossa">Desossa</a></li>
                                                <li><a href="/facas/cozinha/filetar">Filetar</a></li>
                                                <li><a href="/facas/cozinha/legumes">Legumes</a></li>
                                                <li><a href="/facas/cozinha/pao">Pão</a></li>
                                                <li><a href="/facas/cozinha/santoku">Santoku</a></li>
                                                <li><a href="/facas/cozinha/sushi-sashimi">Sushi/Sashimi</a></li>
                                            </ul>
                                        </div>
                                        
                                        <div class="column">
                                            <ul>
                                                <li class="title"><a href="/facas/esportivas">Esportivas</a></li>
                                                <li><a href="/facas/esportivas/arremesso">Arremesso</a></li>
                                                <li><a href="/facas/esportivas/facao">Facão</a></li>
                                                <li><a href="/facas/esportivas/karambit">Karambit</a></li>
                                                <li><a href="/facas/esportivas/mergulho">Mergulho</a></li>
                                                <li><a href="/facas/esportivas/militar-tatica">Militar/Tática</a></li>
                                                <li><a href="/facas/esportivas/punhal">Punhal</a></li>
                                                <li><a href="/facas/esportivas/sobrevivencia">Sobrevivência</a></li>
                                            </ul>
                                        </div>
                                        
                                        <div class="column">
                                            <ul>
                                                <li class="title"><a href="/facas/afiadores">Afiadores</a></li>
                                                <li><a href="/facas/afiadores/afiadores">Afiador</a></li>
                                                <li><a href="/facas/afiadores/assentador-de-navalha">Assentador de Navalha</a></li>
                                                <li><a href="/facas/afiadores/chairas">Chairas</a></li>
                                                <li><a href="/facas/afiadores/pasta-de-afiar">Pasta de Afiar</a></li>
                                                <li><a href="/facas/afiadores/pedras">Pedras</a></li>
                                                <li><a href="/facas/afiadores/suporte-para-pedra">Suporte para Pedra</a></li>
                                            </ul>
                                        </div>
        
                                        <div class="column">
                                            <ul>
                                                <li class="title"><a href="/facas/outros">Outros</a></li>
                                                <li><a href="/facas/outros/acougue">Açougue</a></li>
                                                <li><a href="/facas/outros/ceramica">Cerâmica</a></li>
                                                <li><a href="/facas/outros/churrasco">Churrasco</a></li>
                                                <li><a href="/facas/outros/facas-premium">Facas Premium</a></li>
                                                <li><a href="/facas/outros/jogo-de-facas">Jogo de Facas</a></li>
                                                <li><a href="/facas/outros/machadinha">Machadinha</a></li>
                                                <li><a href="/facas/outros/protetores---bainhas">Protetores/Bainhas</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                
                                <li>
                                    <div class="content categoria_2">
                                        <div class="column">
                                                <ul>
                                                    <li class="title"><a href="/cozinha/utensilios">Utensílios</a></li>
                                                    <li><a href="/cozinha/utensilios/batedor-fouet">Batedor/Fouet</a></li>
                                                    <li><a href="/cozinha/utensilios/boleadores">Boleadores</a></li>
                                                    <li><a href="/cozinha/utensilios/espatulas">Espátulas</a></li>
                                                    <li><a href="/cozinha/utensilios/garfo-trinchante">Garfo Trinchante</a></li>
                                                    <li><a href="/cozinha/utensilios/pegadores-pincas">Pegadores/Pinças</a></li>
                                                    <li><a href="/cozinha/utensilios/peneiras">Peneiras</a></li>
                                                    <li><a href="/cozinha/utensilios/pinceis">Pincéis</a></li>
                                                    <li><a href="/cozinha/utensilios/raspador-limao">Raspador Limão</a></li>
                                                </ul>
                                            </div>
                                            
                                            <div class="column">
                                                <ul>
                                                    <li  class="title"><a href="/cozinha/utilidades">Utilidades</a></li>
                                                    <li><a href="/cozinha/utilidades/balancas">Balanças</a></li>
                                                    <li><a href="/cozinha/utilidades/descascadores">Descascadores</a></li>
                                                    <li><a href="/facas/cozinha">Facas</a></li>
                                                    <li><a href="/cozinha/utilidades/mandoline">Mandoline</a></li>
                                                    <li><a href="/cozinha/utilidades/moedores">Moedores</a></li>
                                                    <li><a href="/cozinha/utilidades/raladores-queijo">Raladores de Queijo</a></li>
                                                    <li><a href="/cozinha/utilidades/termometro">Termômetro</a></li>
                                                    <li><a href="/tesouras/cozinha">Tesouras</a></li>
                                                </ul>
                                            </div>
                                            
                                            <div class="column">
                                                <ul>
                                                    <li class="title"><a href="/cozinha/confeitaria">Confeitaria</a></li>
                                                    <li><a href="/cozinha/confeitaria/bicos-de-confeitar">Bicos de Confeitar</a></li>
                                                    <li><a href="/cozinha/confeitaria/cortador">Cortador</a></li>
                                                    <li><a href="/cozinha/confeitaria/espatulas-de-confeitar">Espátulas de Confeitar</a></li>
                                                    <li><a href="/cozinha/utilidades/medidores">Medidores</a></li>
                                                    <li><a href="/cozinha/confeitaria/raspador-de-massa">Raspador de Massa</a></li>
                                                    <li><a href="/cozinha/confeitaria/sacos-de-confeitar">Saco de Confeitar</a></li>
                                                    <li><a href="/cozinha/confeitaria/sifao-de-chantilly">Sifão de Chantilly</a></li>
                                                    <li><a href="/cozinha/confeitaria/tapete-de-silicone">Tapete de Silicone</a></li>
                                                </ul>
                                            </div>
            
                                            <div class="column">
                                                <ul>
                                                    <li class="title"><a href="/cozinha/outros">Outros</a></li>
                                                    <li><a href="/cozinha/outros/acessorios-para-massa">Acessórios para Massa</a></li>
                                                    <li><a href="/cozinha/outros/bolsa-para-facas-utensilios">Bolsa para Facas/Utensílios</a></li>
                                                    <li><a href="/cozinha/outros/churrasco">Churrasco</a></li>
                                                    <li><a href="/cozinha/outros/eletroportateis">Eletroportáteis</a></li>
                                                    <li><a href="/cozinha/outros/acessorios-para-massa/maquina-de-macarrao">Máquina de Macarrão</a></li>
                                                    <li><a href="/cozinha/outros/panelas">Panelas</a><a href="/cozinha/outros/tabuas">Tábuas</a></li>
                                                </ul>
                                            </div>
                                    </div>
                                </li>
                                
                                <li>
                                    <div class="content categoria_3">
                                        <div class="column">
                                            <ul>
                                                <li class="title"><a href="/canivetes/esportivo">Esportivo</a></li>
                                                <li><a href="/canivetes/esportivo/butterfly">Butterfly</a></li>
                                                <li><a href="/canivetes/esportivo/cartao">Canivete Cartão</a></li>
                                                <li><a href="/canivetes/esportivo/canivete-pesca">Canivete Pesca</a></li>
                                                <li><a href="/canivetes/esportivo/duas-laminas">Duas Lâminas</a></li>
                                                <li><a href="/canivetes/esportivo/formatos-especiais">Formatos Especiais</a></li>
                                                <li><a href="/canivetes/esportivo/karambit">Karambit</a></li>
                                                <li><a href="/canivetes/esportivo/militar">Militar</a></li>
                                                <li><a href="/canivetes/esportivo/multifuncao">Multifunção</a></li>
                                            </ul>
                                        </div>
                                            
                                        <div class="column">
                                            <ul>
                                                <li class="title"><a href="/canivetes/tradicionais">Tradicionais</a></li>
                                                <li><a href="/canivetes/tradicionais/caneta">Caneta</a></li>
                                                <li><a href="/canivetes/tradicionais/canivete-abridor">Canivete Abridor</a></li>
                                                <li><a href="/canivetes/tradicionais/chaveiro">Canivete Chaveiro</a></li>
                                                <li><a href="/canivetes/tradicionais/classico">Canivete Clássico</a></li>
                                                <li><a href="/canivetes/tradicionais/colheita">Canivete Colheita</a></li>
                                                <li><a href="/canivetes/tradicionais/suico">Canivete Suiço</a></li>
                                                <li><a href="/canivetes/tradicionais/pica-fumo">Pica Fumo</a></li>
                                            </ul>
                                        </div>
                                            
                                        <div class="column">
                                            <ul>
                                                <li class="title"><a href="/canivetes/outros">Outros</a></li>
                                                <li><a href="/canivetes/outros/abertura-frontal">Abertura Frontal</a></li>
                                                <li><a href="/canivetes/outros/automatico">Automáticos</a></li>
                                                <li><a href="/canivetes/outros/colecionaveis">Colecionáveis</a></li>
                                                <li><a href="/canivetes/outros/resgate">Resgate</a></li>
                                                <li><a href="/canivetes/outros/edicao-limitada">Edição Limitada</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                
                                <li>
                                    <div class="content categoria_4">
                                        <div class="column">
                                                <ul>
                                                    <li class="title"><a href="/tesouras/costura">Costura</a></li>
                                                    <li><a href="/tesouras/costura/arremate-tecelao">Arremate/Tecelão</a></li>
                                                    <li><a href="/tesouras/costura/bordar">Bordar</a></li>
                                                    <li><a href="/tesouras/costura/alfaiate">Corte</a></li>
            
                                                    <li class="second title"><a href="/tesouras/cozinha">Cozinha</a></li>
                                                    <li><a href="/tesouras/cozinha/frango">Frango</a></li>
                                                    <li><a href="/tesouras/cozinha/picotar-tempero">Picotar Tempero</a></li>
                                                    <li><a href="/tesouras/cozinha/uso-geral">Uso Geral</a></li>
                                                </ul>
                                            </div>
                                                
                                            <div class="column">
                                                <ul>
                                                    <li class="title"><a href="/tesouras/cabeleireiro">Cabeleireiro</a></li>
                                                    <li><a href="/tesouras/cabeleireiro/desbaste-dentada">Desbastar</a></li>
                                                    <li><a href="/tesouras/cabeleireiro/fio-laser">Fio Laser</a></li>
                                                    <li><a href="/tesouras/cabeleireiro/fio-navalha">Fio Navalha</a></li>
                                                
                                                    <li class="second title"><a href="/tesouras/outros">Outros</a></li>
                                                    <li><a href="/tesouras/outros/jardinagem">Jardinagem</a></li>
                                                    <li><a href="/tesouras/outros/resgate">Resgate</a></li>
                                                </ul>
                                            </div>
                                                
                                            <div class="column">
                                                <ul>
                                                    <li class="title"><a href="/tesouras/beleza-pessoal">Beleza Pessoal</a></li>
                                                    <li><a href="/tesouras/beleza-pessoal/nariz-orelha">Nariz/Orelha</a></li>
                                                    <li><a href="/tesouras/beleza-pessoal/tesoura-pinca">Tesoura Pinça</a></li>
                                                    <li><a href="/beleza-pessoal/tesoura/tesoura-unha">Unha</a></li>
                                                </ul>
                                            </div>
            
                                            <div class="column">
                                                <ul>
                                                    <li class="title"><a href="/tesouras/escolar">Escolar</a></li>
                                                    <li><a href="/tesouras/escolar/picotar">Picotar</a></li>
                                                    <li><a href="/tesouras/escolar/ponto-vermelho">Ponto Vermelho</a></li>
                                                    <li><a href="/tesouras/escolar/uso-geral">Uso Geral</a></li>
                                                </ul>
                                            </div>
                                    </div>
                                </li>
                                
                                <li>
                                    <div class="content categoria_5">
                                        <div class="column">
                                            <ul>
                                                <li class="title"><a href="/beleza-pessoal/barbearia">Barbearia</a></li>
                                                <li><a href="/beleza-pessoal/barbearia/aparelho-de-barbear">Aparelho de Barbear</a></li>
                                                <li><a href="/beleza-pessoal/barbearia/espanador">Espanador</a></li>
                                                <li><a href="/beleza-pessoal/barbearia/lamina">Lâminas</a></li>
                                                <li><a href="/beleza-pessoal/barbearia/navalha">Navalha</a></li>
                                                <li><a href="/beleza-pessoal/barbearia/navalhete">Navalhetes</a></li>
                                                <li><a href="/beleza-pessoal/barbearia/pente">Pente</a></li>
                                                <li><a href="/beleza-pessoal/barbearia/pincel-de-barbear">Pincéis de Barbear</a></li>
                                                <li><a href="/beleza-pessoal/barbearia/saboeira">Saboeira</a></li>
                                            </ul>
                                        </div>
                
                                        <div class="column">
                                            <ul>
                                                <li class="title"><a href="/beleza-pessoal/manicure">Manicure</a></li>
                                                <li><a href="/beleza-pessoal/manicure/alicate">Alicates</a></li>
                                                <li><a href="/beleza-pessoal/manicure/kit-manicure">Conjuntos</a></li>
                                                <li><a href="/beleza-pessoal/manicure/cortador-de-unha">Cortador de Unha</a></li>
                                                <li><a href="/beleza-pessoal/manicure/espatula-empurrador">Espátula/Empurrador</a></li>
                                                <li><a href="/beleza-pessoal/manicure/lixa-de-unha">Lixas</a></li>
                                                <li><a href="/beleza-pessoal/manicure/pinca">Pinças</a></li>
                                                <li><a href="/beleza-pessoal/manicure/pincel-maquiagem">Pincéis de Maquiagem</a></li>
                                                <li><a href="/tesouras/beleza-pessoal/tesoura-pinca">Tesoura Pinça</a></li>
                                            </ul>
                                        </div>
                
                                        <div class="column">
                                            <ul>
                                                <li class="title"><a href="/beleza-pessoal/tesoura">Tesoura</a></li>
                                                <li><a href="/beleza-pessoal/tesoura/cabeleireiro">Cabeleireiro</a></li>
                                                <li><a href="/tesouras/beleza-pessoal/nariz-orelha">Nariz/Orelha</a></li>
                                                <li><a href="/beleza-pessoal/tesoura/tesoura-unha">Unha</a></li>
                                            </ul>
                                        </div>
            
                                        <div class="column">
                                            <ul>
                                                <li class="title"><a href="/beleza-pessoal/outros">Outros</a></li>
                                                <li><a href="/beleza-pessoal/outros/borrifador">Borrifador</a></li>
                                                <li><a href="/beleza-pessoal/outros/pedra-hume">Pedra Hume</a></li>
                                                <li><a href="/beleza-pessoal/outros/talqueira">Talqueira</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                
                                <li>
                                    <div class="content categoria_6">
                                        <div class="column">
                                            <ul>
                                                <li><a href=""></a></li>
                                                <li><a href=""></a></li>
                                            </ul>
                                        </div>
                                        
                                        <div class="column">
                                            <ul>
                                                <li><a href=""></a></li>
                                                <li><a href=""></a></li>
                                            </ul>
                                        </div>
                                        
                                        <div class="column">
                                            <ul>
                                                <li><a href=""></a></li>
                                                <li><a href=""></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                
                                <li>
                                    <div class="content categoria_7">
                                        <div class="column">
                                            <ul>
                                                <li class="title"><a href="/outros/decoracao">Decoração</a></li>
                                                <li><a href="/outros/decoracao/abridor-de-cartas">Abridor de Cartas</a></li>
                                                <li><a href="/outros/decoracao/bengalas">Bengalas</a></li>
                                                <li><a href="/outros/decoracao/colecionaveis">Colecionáveis</a></li>
                                                <li><a href="/outros/decoracao/escudos">Escudos</a></li>
                                                <li><a href="/outros/decoracao/espadas">Espadas</a></li>
                                                <li><a href="/outros/decoracao/estatueta">Estatueta</a></li>
                                                <li><a href="/outros/decoracao/faca-adaga-punhal">Faca/Adaga/Punhal</a></li>
                                                <li><a href="/outros/decoracao/machados">Machados</a></li>
                                            </ul>
                                        </div>
                                        
                                        <div class="column">
                                            <ul>
                                                <li class="title"><a href="/outros/tabacaria-e-jogos">Tabacaria e Jogos</a></li>
                                                <li><a href="/outros/tabacaria-e-jogos/baralhos">Baralhos</a></li>
                                                <li><a href="/outros/tabacaria-e-jogos/bingo">Bingo</a></li>
                                                <li><a href="/outros/tabacaria-e-jogos/cachimbos">Cachimbos</a></li>
                                                <li><a href="/outros/tabacaria-e-jogos/chimarrao">Chimarrão</a></li>
                                                <li><a href="/outros/tabacaria-e-jogos/dados">Dados</a></li>
                                                <li><a href="/outros/tabacaria-e-jogos/desfiador-fumo">Desfiador de Fumo</a></li>
                                                <li><a href="/outros/tabacaria-e-jogos/domino">Dominó</a></li>
                                                <li><a href="/outros/tabacaria-e-jogos/isqueiros">Isqueiros</a></li>
                                            </ul>
                                        </div>
                                               
                                        <div class="column">
                                            <ul>
                                                <li class="title"><a href="/outros/acessorios-musicais">Acessórios Musicais</a></li>
                                                <li><a href="/outros/acessorios-musicais/afinadores">Afinadores</a></li>
                                                <li><a href="/outros/acessorios-musicais/capas-e-correias">Capas e Correia</a></li>
                                                <li><a href="/outros/acessorios-musicais/encordoamento">Encordoamento</a></li>
                                                <li><a href="/outros/acessorios-musicais/flauta">Flauta</a></li>
                                                <li><a href="/outros/acessorios-musicais/gaita">Gaita</a></li>
                                                <li><a href="/outros/acessorios-musicais/outros-acessorios">Outros Acessórios</a></li>
                                                <li><a href="/outros/acessorios-musicais/palhetas">Palhetas</a></li>
                                                <li><a href="/outros/acessorios-musicais/percussao">Percussão</a></li>
                                            </ul>
                                        </div>
                                               
                                        <div class="column">
                                            <ul>
                                                <li class="title"><a href="/outros/outros">Outros</a></li>
                                                <li><a href="/outros/outros/defesa-pessoal">Defesa Pessoal</a></li>
                                                <li><a href="/outros/outros/estilete">Estilete</a></li>
                                                <li><a href="/outros/outros/ferramentas">Ferramentas</a></li>
                                                <li><a href="/outros/outros/fluido-gas">Fluido/Gás</a></li>
                                                <li><a href="/outros/outros/macarico">Maçarico</a></li>
                                                <li><a href="/outros/outros/pesca">Pesca</a></li>
                                                <li><a href="/outros/outros/pet">Pet</a></li>
                                                <li><a href="/outros/outros/porta-bebidas">Porta Bebidas</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
                
                <div class="column_2">
                    <ul>

                        <li>
                            <p>
                                <a href="/facas">
                                    <span>Facas</span>
                                </a>
                                <span></span>
                            </p>
                            
                            <div class="submenu">
                                <div  class="column">
                                    <ul>
                                        <li class="title"><a href="/facas/cozinha">Cozinha</a></li>
                                        <li><a href="/facas/cozinha/chefe">Chefe</a></li>
                                        <li><a href="/facas/cozinha/cutelo">Cutelo</a></li>
                                        <li><a href="/facas/cozinha/desossa">Desossa</a></li>
                                        <li><a href="/facas/cozinha/filetar">Filetar</a></li>
                                        <li><a href="/facas/cozinha/legumes">Legumes</a></li>
                                        <li><a href="/facas/cozinha/pao">Pão</a></li>
                                        <li><a href="/facas/cozinha/santoku">Santoku</a></li>
                                        <li><a href="/facas/cozinha/sushi-sashimi">Sushi/Sashimi</a></li>
                                    </ul>
                                </div>
                                
                                <div class="column">
                                    <ul>
                                        <li class="title"><a href="/facas/esportivas">Esportivas</a></li>
                                        <li><a href="/facas/esportivas/arremesso">Arremesso</a></li>
                                        <li><a href="/facas/esportivas/facao">Facão</a></li>
                                        <li><a href="/facas/esportivas/karambit">Karambit</a></li>
                                        <li><a href="/facas/esportivas/mergulho">Mergulho</a></li>
                                        <li><a href="/facas/esportivas/militar-tatica">Militar/Tática</a></li>
                                        <li><a href="/facas/esportivas/punhal">Punhal</a></li>
                                        <li><a href="/facas/esportivas/sobrevivencia">Sobrevivência</a></li>
                                    </ul>
                                </div>
                                
                                <div class="column">
                                    <ul>
                                        <li class="title"><a href="/facas/afiadores">Afiadores</a></li>
                                        <li><a href="/facas/afiadores/afiadores">Afiador</a></li>
                                        <li><a href="/facas/afiadores/assentador-de-navalha">Assentador de Navalha</a></li>
                                        <li><a href="/facas/afiadores/chairas">Chairas</a></li>
                                        <li><a href="/facas/afiadores/pasta-de-afiar">Pasta de Afiar</a></li>
                                        <li><a href="/facas/afiadores/pedras">Pedras</a></li>
                                        <li><a href="/facas/afiadores/suporte-para-pedra">Suporte para Pedra</a></li>
                                    </ul>
                                </div>

                                <div class="column">
                                    <ul>
                                        <li class="title"><a href="/facas/outros">Outros</a></li>
                                        <li><a href="/facas/outros/acougue">Açougue</a></li>
                                        <li><a href="/facas/outros/ceramica">Cerâmica</a></li>
                                        <li><a href="/facas/outros/churrasco">Churrasco</a></li>
                                        <li><a href="/facas/outros/facas-premium">Facas Premium</a></li>
                                        <li><a href="/facas/outros/jogo-de-facas">Jogo de Facas</a></li>
                                        <li><a href="/facas/outros/machadinha">Machadinha</a></li>
                                        <li><a href="/facas/outros/protetores---bainhas">Protetores/Bainhas</a></li>
                                    </ul>
                                </div>
                                
                                <div class="column banner">
                                    <img src="/arquivos/menu_facas.png" />
                                </div>
                            </div>
                        </li>
                        
                        <li>
                            <p>
                                <a href="/cozinha">
                                    <span>Cozinha</span>
                                </a>
                                <span></span>
                            </p>
                            
                            <div class="submenu">
                                <div class="column">
                                    <ul>
                                        <li class="title"><a href="/cozinha/utensilios">Utensílios</a></li>
                                        <li><a href="/cozinha/utensilios/batedor-fouet">Batedor/Fouet</a></li>
                                        <li><a href="/cozinha/utensilios/boleadores">Boleadores</a></li>
                                        <li><a href="/cozinha/utensilios/espatulas">Espátulas</a></li>
                                        <li><a href="/cozinha/utensilios/garfo-trinchante">Garfo Trinchante</a></li>
                                        <li><a href="/cozinha/utensilios/pegadores-pincas">Pegadores/Pinças</a></li>
                                        <li><a href="/cozinha/utensilios/peneiras">Peneiras</a></li>
                                        <li><a href="/cozinha/utensilios/pinceis">Pincéis</a></li>
                                        <li><a href="/cozinha/utensilios/raspador-limao">Raspador Limão</a></li>
                                    </ul>
                                </div>
                                
                                <div class="column">
                                    <ul>
                                        <li  class="title"><a href="/cozinha/utilidades">Utilidades</a></li>
                                        <li><a href="/cozinha/utilidades/balancas">Balanças</a></li>
                                        <li><a href="/cozinha/utilidades/descascadores">Descascadores</a></li>
                                        <li><a href="/facas/cozinha">Facas</a></li>
                                        <li><a href="/cozinha/utilidades/mandoline">Mandoline</a></li>
                                        <li><a href="/cozinha/utilidades/moedores">Moedores</a></li>
                                        <li><a href="/cozinha/utilidades/raladores-queijo">Raladores de Queijo</a></li>
                                        <li><a href="/cozinha/utilidades/termometro">Termômetro</a></li>
                                        <li><a href="/tesouras/cozinha">Tesouras</a></li>
                                    </ul>
                                </div>
                                
                                <div class="column">
                                    <ul>
                                        <li class="title"><a href="/cozinha/confeitaria">Confeitaria</a></li>
                                        <li><a href="/cozinha/confeitaria/bicos-de-confeitar">Bicos de Confeitar</a></li>
                                        <li><a href="/cozinha/confeitaria/cortador">Cortador</a></li>
                                        <li><a href="/cozinha/confeitaria/espatulas-de-confeitar">Espátulas de Confeitar</a></li>
                                        <li><a href="/cozinha/utilidades/medidores">Medidores</a></li>
                                        <li><a href="/cozinha/confeitaria/raspador-de-massa">Raspador de Massa</a></li>
                                        <li><a href="/cozinha/confeitaria/sacos-de-confeitar">Saco de Confeitar</a></li>
                                        <li><a href="/cozinha/confeitaria/sifao-de-chantilly">Sifão de Chantilly</a></li>
                                        <li><a href="/cozinha/confeitaria/tapete-de-silicone">Tapete de Silicone</a></li>
                                    </ul>
                                </div>

                                <div class="column">
                                    <ul>
                                        <li class="title"><a href="/cozinha/outros">Outros</a></li>
                                        <li><a href="/cozinha/outros/acessorios-para-massa">Acessórios para Massa</a></li>
                                        <li><a href="/cozinha/outros/bolsa-para-facas-utensilios">Bolsa para Facas/Utensílios</a></li>
                                        <li><a href="/cozinha/outros/churrasco">Churrasco</a></li>
                                        <li><a href="/cozinha/outros/eletroportateis">Eletroportáteis</a></li>
                                        <li><a href="/cozinha/outros/acessorios-para-massa/maquina-de-macarrao">Máquina de Macarrão</a></li>
                                        <li><a href="/cozinha/outros/panelas">Panelas</a><a href="/cozinha/outros/tabuas">Tábuas</a></li>
                                    </ul>
                                </div>
                                
                                <div class="column banner">
                                    <img src="/arquivos/menu_cozinha.png" />
                                </div>
                            </div>
                        </li>
                        
                        <li>
                            <p>
                                <a href="/canivetes">
                                    <span>Canivetes</span>
                                </a>
                                <span></span>
                            </p>
                            
                            <div class="submenu">
                                <div class="column">
                                    <ul>
                                        <li class="title"><a href="/canivetes/esportivo">Esportivo</a></li>
                                        <li><a href="/canivetes/esportivo/butterfly">Butterfly</a></li>
                                        <li><a href="/canivetes/esportivo/cartao">Canivete Cartão</a></li>
                                        <li><a href="/canivetes/esportivo/canivete-pesca">Canivete Pesca</a></li>
                                        <li><a href="/canivetes/esportivo/duas-laminas">Duas Lâminas</a></li>
                                        <li><a href="/canivetes/esportivo/formatos-especiais">Formatos Especiais</a></li>
                                        <li><a href="/canivetes/esportivo/karambit">Karambit</a></li>
                                        <li><a href="/canivetes/esportivo/militar">Militar</a></li>
                                        <li><a href="/canivetes/esportivo/multifuncao">Multifunção</a></li>
                                    </ul>
                                </div>
                                
                                <div class="column">
                                    <ul>
                                        <li class="title"><a href="/canivetes/tradicionais">Tradicionais</a></li>
                                        <li><a href="/canivetes/tradicionais/caneta">Caneta</a></li>
                                        <li><a href="/canivetes/tradicionais/canivete-abridor">Canivete Abridor</a></li>
                                        <li><a href="/canivetes/tradicionais/chaveiro">Canivete Chaveiro</a></li>
                                        <li><a href="/canivetes/tradicionais/classico">Canivete Clássico</a></li>
                                        <li><a href="/canivetes/tradicionais/colheita">Canivete Colheita</a></li>
                                        <li><a href="/canivetes/tradicionais/suico">Canivete Suiço</a></li>
                                        <li><a href="/canivetes/tradicionais/pica-fumo">Pica Fumo</a></li>
                                    </ul>
                                </div>
                                
                                <div class="column">
                                    <ul>
                                        <li class="title"><a href="/canivetes/outros">Outros</a></li>
                                        <li><a href="/canivetes/outros/abertura-frontal">Abertura Frontal</a></li>
                                        <li><a href="/canivetes/outros/automatico">Automáticos</a></li>
                                        <li><a href="/canivetes/outros/colecionaveis">Colecionáveis</a></li>
                                        <li><a href="/canivetes/outros/resgate">Resgate</a></li>
                                    </ul>
                                </div>
                                
                                <div class="column banner">
                                    <img src="/arquivos/menu_canivetes.png" />
                                </div>
                            </div>
                        </li>
                        
                        <li>
                            <p>
                                <a href="/tesouras">
                                    <span>Tesouras</span>
                                </a>
                                <span></span>
                            </p>
                            
                            <div class="submenu">
                                <div class="column">
                                    <ul>
                                        <li class="title"><a href="/tesouras/costura">Costura</a></li>
                                        <li><a href="/tesouras/costura/arremate-tecelao">Arremate/Tecelão</a></li>
                                        <li><a href="/tesouras/costura/bordar">Bordar</a></li>
                                        <li><a href="/tesouras/costura/alfaiate">Corte</a></li>

                                        <li class="second title"><a href="/tesouras/cozinha">Cozinha</a></li>
                                        <li><a href="/tesouras/cozinha/frango">Frango</a></li>
                                        <li><a href="/tesouras/cozinha/picotar-tempero">Picotar Tempero</a></li>
                                        <li><a href="/tesouras/cozinha/uso-geral">Uso Geral</a></li>
                                    </ul>
                                </div>
                                
                                <div class="column">
                                    <ul>
                                        <li class="title"><a href="/tesouras/cabeleireiro">Cabeleireiro</a></li>
                                        <li><a href="/tesouras/cabeleireiro/desbaste-dentada">Desbastar</a></li>
                                        <li><a href="/tesouras/cabeleireiro/fio-laser">Fio Laser</a></li>
                                        <li><a href="/tesouras/cabeleireiro/fio-navalha">Fio Navalha</a></li>
                                    
                                        <li class="second title"><a href="/tesouras/outros">Outros</a></li>
                                        <li><a href="/tesouras/outros/jardinagem">Jardinagem</a></li>
                                        <li><a href="/tesouras/outros/resgate">Resgate</a></li>
                                    </ul>
                                </div>
                                
                                <div class="column">
                                    <ul>
                                        <li class="title"><a href="/tesouras/beleza-pessoal">Beleza Pessoal</a></li>
                                        <li><a href="/tesouras/beleza-pessoal/nariz-orelha">Nariz/Orelha</a></li>
                                        <li><a href="/tesouras/beleza-pessoal/tesoura-pinca">Tesoura Pinça</a></li>
                                        <li><a href="/beleza-pessoal/tesoura/tesoura-unha">Unha</a></li>
                                    </ul>
                                </div>

                                <div class="column">
                                    <ul>
                                        <li><a href="/tesouras/escolar">Escolar</a></li>
                                        <li><a href="/tesouras/escolar/picotar">Picotar</a></li>
                                        <li><a href="/tesouras/escolar/ponto-vermelho">Ponto Vermelho</a></li>
                                        <li><a href="/tesouras/escolar/uso-geral">Uso Geral</a></li>
                                    </ul>
                                </div>
                                
                                <div class="column banner">
                                    <img src="/arquivos/menu_tesouras.png" />
                                </div>
                            </div>
                        </li>
                        
                        <li>
                            <p>
                                <a href="/beleza-pessoal">
                                    <span>Beleza Pessoal</span>
                                </a>
                                <span></span>
                            </p>
                            
                            <div class="submenu">
                                <div class="column">
                                    <ul>
                                        <li class="title"><a href="/beleza-pessoal/barbearia">Barbearia</a></li>
                                        <li><a href="/beleza-pessoal/barbearia/aparelho-de-barbear">Aparelho de Barbear</a></li>
                                        <li><a href="/beleza-pessoal/barbearia/espanador">Espanador</a></li>
                                        <li><a href="/beleza-pessoal/barbearia/lamina">Lâminas</a></li>
                                        <li><a href="/beleza-pessoal/barbearia/navalha">Navalha</a></li>
                                        <li><a href="/beleza-pessoal/barbearia/navalhete">Navalhetes</a></li>
                                        <li><a href="/beleza-pessoal/barbearia/pente">Pente</a></li>
                                        <li><a href="/beleza-pessoal/barbearia/pincel-de-barbear">Pincéis de Barbear</a></li>
                                        <li><a href="/beleza-pessoal/barbearia/saboeira">Saboeira</a></li>
                                    </ul>
                                </div>

                                <div class="column">
                                    <ul>
                                        <li class="title"><a href="/beleza-pessoal/manicure">Manicure</a></li>
                                        <li><a href="/beleza-pessoal/manicure/alicate">Alicates</a></li>
                                        <li><a href="/beleza-pessoal/manicure/kit-manicure">Conjuntos</a></li>
                                        <li><a href="/beleza-pessoal/manicure/cortador-de-unha">Cortador de Unha</a></li>
                                        <li><a href="/beleza-pessoal/manicure/espatula-empurrador">Espátula/Empurrador</a></li>
                                        <li><a href="/beleza-pessoal/manicure/lixa-de-unha">Lixas</a></li>
                                        <li><a href="/beleza-pessoal/manicure/pinca">Pinças</a></li>
                                        <li><a href="/beleza-pessoal/manicure/pincel-maquiagem">Pincéis de Maquiagem</a></li>
                                        <li><a href="/tesouras/beleza-pessoal/tesoura-pinca">Tesoura Pinça</a></li>
                                    </ul>
                                </div>

                                <div class="column">
                                    <ul>
                                        <li class="title"><a href="/beleza-pessoal/tesoura">Tesoura</a></li>
                                        <li><a href="/beleza-pessoal/tesoura/cabeleireiro">Cabeleireiro</a></li>
                                        <li><a href="/tesouras/beleza-pessoal/nariz-orelha">Nariz/Orelha</a></li>
                                        <li><a href="/beleza-pessoal/tesoura/tesoura-unha">Unha</a></li>
                                    </ul>
                                </div>

                                <div class="column">
                                    <ul>
                                        <li class="title"><a href="/beleza-pessoal/outros">Outros</a></li>
                                        <li><a href="/beleza-pessoal/outros/borrifador">Borrifador</a></li>
                                        <li><a href="/beleza-pessoal/outros/pedra-hume">Pedra Hume</a></li>
                                        <li><a href="/beleza-pessoal/outros/talqueira">Talqueira</a></li>
                                    </ul>
                                </div>
                                
                                <div class="column banner">
                                    <img src="/arquivos/menu_beleza_pessoal.png" />
                                </div>
                            </div>
                        </li>
                        
                        <li>
                            <p class="no_sub">
                                <a href="/marcas">
                                    <span>Marcas</span>
                                </a>
                                <span></span>
                            </p>
                        </li>
                        
                        <li>
                            <p>
                                <a href="/outros">
                                    <span>Outros</span>
                                </a>
                                <span></span>
                            </p>

                            <div class="submenu">
                                <div class="column">
                                    <ul>
                                        <li class="title"><a href="/outros/decoracao">Decoração</a></li>
                                        <li><a href="/outros/decoracao/abridor-de-cartas">Abridor de Cartas</a></li>
                                        <li><a href="/outros/decoracao/bengalas">Bengalas</a></li>
                                        <li><a href="/outros/decoracao/colecionaveis">Colecionáveis</a></li>
                                        <li><a href="/outros/decoracao/escudos">Escudos</a></li>
                                        <li><a href="/outros/decoracao/espadas">Espadas</a></li>
                                        <li><a href="/outros/decoracao/estatueta">Estatueta</a></li>
                                        <li><a href="/outros/decoracao/faca-adaga-punhal">Faca/Adaga/Punhal</a></li>
                                        <li><a href="/outros/decoracao/machados">Machados</a></li>
                                    </ul>
                                </div>
                               
                                <div class="column">
                                    <ul>
                                        <li class="title"><a href="/outros/tabacaria-e-jogos">Tabacaria e Jogos</a></li>
                                        <li><a href="/outros/tabacaria-e-jogos/baralhos">Baralhos</a></li>
                                        <li><a href="/outros/tabacaria-e-jogos/bingo">Bingo</a></li>
                                        <li><a href="/outros/tabacaria-e-jogos/cachimbos">Cachimbos</a></li>
                                        <li><a href="/outros/tabacaria-e-jogos/chimarrao">Chimarrão</a></li>
                                        <li><a href="/outros/tabacaria-e-jogos/dados">Dados</a></li>
                                        <li><a href="/outros/tabacaria-e-jogos/desfiador-fumo">Desfiador de Fumo</a></li>
                                        <li><a href="/outros/tabacaria-e-jogos/domino">Dominó</a></li>
                                        <li><a href="/outros/tabacaria-e-jogos/isqueiros">Isqueiros</a></li>
                                    </ul>
                                </div>
                               
                                <div class="column">
                                    <ul>
                                        <li class="title"><a href="/outros/acessorios-musicais">Acessórios Musicais</a></li>
                                        <li><a href="/outros/acessorios-musicais/afinadores">Afinadores</a></li>
                                        <li><a href="/outros/acessorios-musicais/capas-e-correias">Capas e Correia</a></li>
                                        <li><a href="/outros/acessorios-musicais/encordoamento">Encordoamento</a></li>
                                        <li><a href="/outros/acessorios-musicais/flauta">Flauta</a></li>
                                        <li><a href="/outros/acessorios-musicais/gaita">Gaita</a></li>
                                        <li><a href="/outros/acessorios-musicais/outros-acessorios">Outros Acessórios</a></li>
                                        <li><a href="/outros/acessorios-musicais/palhetas">Palhetas</a></li>
                                        <li><a href="/outros/acessorios-musicais/percussao">Percussão</a></li>
                                    </ul>
                                </div>
                               
                                <div class="column">
                                    <ul>
                                        <li class="title"><a href="/outros/outros">Outros</a></li>
                                        <li><a href="/outros/outros/defesa-pessoal">Defesa Pessoal</a></li>
                                        <li><a href="/outros/outros/estilete">Estilete</a></li>
                                        <li><a href="/outros/outros/ferramentas">Ferramentas</a></li>
                                        <li><a href="/outros/outros/fluido-gas">Fluido/Gás</a></li>
                                        <li><a href="/outros/outros/macarico">Maçarico</a></li>
                                        <li><a href="/outros/outros/pesca">Pesca</a></li>
                                        <li><a href="/outros/outros/pet">Pet</a></li>
                                        <li><a href="/outros/outros/porta-bebidas">Porta Bebidas</a></li>
                                    </ul>
                                </div>
    
                                <div class="column banner">
                                    <img src="/arquivos/menu_outros.png" />
                                </div>
                            </div>
                        </li>
                        
                        <li class="dis-none">
                            <p class="oferta">
                                <a href="/ofertas">
                                    <span>Oferta 24h!</span>
                                </a>
                                <span></span>
                            </p>

                            <div class="subprat"></div>
                        </li>
                        
                        <li>
                            <p class="aluno no_sub">
                                <a href="/gastronomia">
                                    <span>Aluno de Gastronomia</span>
                                </a>
                                <span></span>
                            </p>
                        </li>

                    </ul>
                </div>
            </div>
            
            <div class="footer">
                <a href="https://api.whatsapp.com/send?phone=5511947902921">
                    <span>Contate a gente no Whatsapp:</span>
                    <strong>(11) 9 4790-2921</strong>
                </a>
            </div>
        </div>
        
        <div class="ico_close">X</div>
    </div>
</header>

<vtex.cmc:carrinho />