<!DOCTYPE html PUBLIC '-//W3C//DTD XHTML 1.0 Transitional//EN' 'http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd'>
<html>
<head>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
    <meta charset='utf-8'>
    <!-- Facebook sharing information tags -->
    <meta property='og:title' content='*|MC:SUBJECT|*' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap" rel="stylesheet"> 
    <title>{{_accountInfo.TradingName}}</title>
</head>
<style>
    body{
        font-family: 'Montserrat', sans-serif;
        color: #424242;
        max-width:100%;
    }
</style>
<body leftmargin='0' marginwidth='0' topmargin='0' marginheight='0' offset='0'>
	<center>
		<table border='0' cellpadding='0' cellspacing='0' height='100%' width='100%' style='font-size:14px; max-width: 600px;'>
			<tr>
				<td align='center' valign='top'>
					<table border='0' cellpadding='0' cellspacing='0' width='100%'>
						<tr>
							<td align='center' valign='top'>
								<!-- // Begin Template Body \\ -->
								<table border='0' cellpadding='0' cellspacing='0' width='100%'>
									<tr>
										<td style='width:100%;' align="center">
											<a href='http://{{_accountInfo.HostName}}.com.br' target='_blank' style='border:none;'>
												<img src='http://licensemanager.vtex.com.br/api/site/pub/accounts/{{_accountInfo.Id}}/logos/show' border='0' alt='{{_accountInfo.TradingName}}' style='border:none; width:240px;' />
											</a>
										</td>
									</tr>
                                    <tr sytle="padding-left: 60px;padding-right: 30px;">
                                        <td style="color:#333; font-weight:500;font-size: 14px;" align="center"><a>www.reidacutelaria.com.br</a></td>
                                    </tr>
									<tr>
										<td style="padding-left: 30px;padding-right: 30px;">
                                            <h2 style="margin-top: 45px;padding-top:30px; text-align:center;padding-left: 50px; padding-right: 50px;border-top:solid 1px #c1c1c1;">Eba!!! Chegou o produto que você está querendo!</h2>
                                            <p>
                                                <br />
                                                <br />
                                                Olá, <strong>{{addressee.name}}</strong>
                                                <br />
                                                <br />
                                                Conforme a sua solicitação, informamos que o produto abaixo encontra-se disponível para compra:
                                                <br />
                                                <br />
                                            </p>
                                            <p style="background:#F4F4F4; text-align:center;padding-top:30px;padding-bottom: 20px;">
                                                <a href="{{productLink}}" target="_blank" style="color: #424242; text-decoration:none;"><strong>{{productName}}</strong></a>
                                                <br/><br/>
                                                <a href="{{productLink}}" target="_blank"><img src="https://reidacutelaria.vteximg.com.br/arquivos/button_round_site.png"/></a>
                                                
                                            </p>
                                            <p>
                                                <br/>
                                                {{{productDescription}}}
                                            </p>
                                            <br/>
                                            <br/>
                                            <p style="text-align: center;font-size: 14px;">
                                                Dúvidas? Entre em contato   
                                            </p>
                                            <p  style="text-align: center; font-size: 16px;">
                                                <br/>
                                                <strong>SAC: <a href="tel:08000-14-0500" style="color: #434343; text-decoration: none;">08000-14-0500</a></strong> | <a href="mailto:vendas@reidacutelaria.com.br" style="color: #434343; text-decoration: none;">vendas@reidacutelaria.com.br</a>
                                            </p>
                                            <p style="text-align: center;font-size: 15px;">
                                                <br/>
                                                Atenciosamente, <br/>
Rei da Cutelaria.  
                                            </p>
										</td>
									</tr>
								</table>
								<!-- // End Template Body \\ -->
							</td>
						</tr>
					</table>
					<br />
				</td>
			</tr>
		</table>
	</center>
</body>
</html>