body#envelopamento_bf_2020{
    background: #000000 !important;
    .top_bar{
        background: #161616 !important;
    }
    .top_bar .display .item img{
        filter: invert(75%) sepia(74%) saturate(1698%) hue-rotate(219deg) brightness(101%) contrast(101%);
    }
    .top_bar .display .item p{
        color: #526BFF;
    }
    .full_banner .slick-dots li.slick-active button{
        background-color: #DE2328 !important;
    }
    .full_banner .slick-dots li button {
        background: transparent !important;
        border: 1px solid #393939;
    }
    .tns-controls button {
        color: #fff;
    }
    header nav{
        p{
            color: #000 !important;
        }
    }
    header{
        background: #000000;
        .row_2{
            background: #161616;
        }
        .logo{
            filter: brightness(0) invert(1);
        }
        p{
            color: #fff !important;
        }
        .hover2 p{
            color: #000 !important;
        }
        .column_3 .dis-none{
            border: 1px solid #000 !important;
        }
        .aluno {
            background-color: transparent !important;
            a{
                color: #F50305 !important;
            }
            
        }
        .row_2 .container > .content .column_2 > ul > li:last-child:hover{
            background: transparent;
        }
    }
    .three-promo-banner{
        margin-top: 35px;
    }
    .ordenador{
        background: #000000 !important;
        .performa-vitrine-title span, .prateleira > h2{
            color: #DE2328 !important;
            text-shadow: 0px 0px 7px #DE2328 !important;
        }
        .performa-name-vitrine, .performa-boleto-price-vitrine > e, .performa-installments-vitrine {
            color: #fff !important;
        }
        .performa-boleto-price-vitrine, .performa-price-vitrine, .performa-price-vitrine strong{
            color: #F4DE11 !important;
        }
        .product-name a, .boleto, .por{
            color: #fff !important;
        }
        .a-vista span, .best-price, .best-price span{
            color: #F4DE11 !important;
        }

        .home-category-section{
            .col-md-3 > h2{
                color: #fff !important;
            }
            .home-cactegory-description{
                p{
                    color: #fff !important;
                }
                p + a{
                    background-color: #fff;
                    color: #000000;
                }
                ul{
                    li{
                        a{
                            color: #fff !important;
                        }
                    }
                }
            }
        }
    }
    footer{
        border-top: 10px solid #151515 !important;
        background: #151515 !important; 
        .title, ul li a, .description, .copyright p, .copyright strong, ul li p{
            color: #fff;
        }
        .implantacao > ul:nth-child(1) > li:nth-child(2) {
            filter: brightness(0) invert(1);
        }
    }
    @media (max-width: 768px) {
        .brands-title{
            color: #fff;
        }
        main .brands{
            background: #000;
        }
        .brands > div:nth-child(1) > div:nth-child(2) {
            padding-top: 10px;
            padding-bottom: 10px;
            background: #fff;
        }
    }
    header .column_0 i span{
        background-color: #DE2328 !important;
    }
    .top_bar{
        background: #161616 !important;
    }
    .top_bar .display .item img{
        filter: invert(75%) sepia(74%) saturate(1698%) hue-rotate(219deg) brightness(101%) contrast(101%);
    }
    .top_bar .display .item p{
        color: #526BFF;
    }
    .full_banner .slick-dots li.slick-active button{
        background-color: #DE2328 !important;
    }
    .full_banner .slick-dots li button {
        background: transparent !important;
        border: 1px solid #393939;
    }
    header nav{
        p{
            color: #000 !important;
        }
    }
    header{
        background: #000000;
        .row_2{
            background: #161616;
        }
        .logo{
            filter: brightness(0) invert(1);
        }
        p{
            color: #fff !important;
        }
        .hover2 p{
            color: #000 !important;
        }
        .column_3 .dis-none{
            border: 1px solid #000 !important;
        }
        .aluno {
            background-color: transparent !important;
            a{
                color: #F50305 !important;
            }
            
        }
        .row_2 .container > .content .column_2 > ul > li:last-child:hover{
            background: transparent;
        }
    }
    footer{
        border-top: 10px solid #151515 !important;
        background: #151515 !important; 
        .title, ul li a, .description, .copyright p, .copyright strong, ul li p{
            color: #fff;
        }
        .implantacao > ul:nth-child(1) > li:nth-child(2) {
            filter: brightness(0) invert(1);
        }
    }
}