.bread-crumb {
    margin: 5px 0;
    
    ul {
        display: flex;
        text-transform: uppercase;
        font-size: 10px;

        // @media screen and (max-width:$mobile) {
        //     font-size: 10px;
        // }

        li {
            &:after {
                content: '/';
                margin: 0 15px;
                font-size: 14px;

                @media screen and (max-width:$mobile) {
                    margin: 0 8px;
                }
            }

            &:last-child {
                &:after {
                    opacity: 0;
                }
            }
        }
    }
}