@font-face {
    font-style: normal;
    font-weight: normal;
    font-family: 'LemonMilk';
    src: url('/arquivos/LEMONMILK-Regular.css') format('woff2'), url('/arquivos/LEMONMILK-Bold.css') format('woff');
}

.slick-countdown {
    position: relative;

    #cronometro {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        position: absolute;
        align-items: center;
        justify-content: center;
        font-family: 'LemonMilk';
        transition: opacity 1000ms;

        @media screen and (max-width:$mobile) {
            align-items: flex-end;
        }

        &:not(.active) {
            opacity: 0;
            visibility: hidden;
        }

        .content {
            @media screen and (min-width:$mobile) {
                text-align: right;
            }

            @media screen and (max-width:$mobile) {
                width: 100%;
                padding-bottom: 15px;
            }

            .box {
                width: 100%;
                height: auto;
                padding: 15px 0;
                max-width: 255px;
                border-radius: 20px;
                display: inline-block;
                background-color: $cor-principal;

                @media screen and (max-width:$iphone5) {
                    max-width: 150px;
                    padding: 10px 0;
                }

                @media screen and (min-width:$iphone5) and (max-width:$mobile) {
                    max-width: 170px;
                    padding: 10px 0;
                }

                .title {
                    color: #fff;
                    font-size: 20px;
                    font-weight: bold;
                    line-height: 20px;
                    text-align: center;
                    text-transform: uppercase;

                    @media screen and (max-width:$mobile) {
                        font-size: 17px;
                        line-height: 17px;
                    }
                }

                ol {
                    width: 100%;
                    height: auto;
                    display: flex;
                    align-items: start;
                    justify-content: center;

                    li {
                        color: #fff;
                        text-align: center;

                        i {
                            font-size: 40px;
                            font-weight: bold;
                            font-style: normal;

                            &:not(.finish) {
                                @media screen and (max-width:$iphone5) {
                                    font-size: 20px;
                                }
    
                                @media screen and (min-width:$iphone5) and (max-width:$mobile) {
                                    font-size: 27px;
                                }
                            }

                            //ENCERRADO
                            &.finish {
                                font-size: 30px;

                                @media screen and (max-width:$mobile) {
                                    font-size: 18px;
                                }
                            }
                        }

                        span {
                            display: block;
                            font-size: 16px;
                            font-weight: bold;
                            text-transform: uppercase;

                            @media screen and (max-width:$mobile) {
                                font-size: 11px;
                            }
                        }
                    }
                }
            }
        }
    }
}