.departamento {
    
    main {
        margin-bottom: 50px;
        
        .title_depto {
            overflow: hidden;
            background-color: #f6f6f6;
            margin-bottom: 25px;
            
            .titulo-sessao {
                font-size: 30px;
                font-weight: 300;
                text-transform: uppercase;
                text-align: center;
                margin: 20px 0;
            }

            img{
                width: 100%;
                height: auto;
            }
        }
        
        .search_navigator {
            @media screen and (min-width: $mobile) {
                margin-right: -15px;
            }
            
            @media screen and (max-width: $mobile) {
                position: fixed;
                width: 100%;
                height: 100%;
                bottom: -100%;
                z-index: 999;
                left: 0;
                transition: bottom 300ms;
                background-color: white;
                padding: 15px;
                
                &.active {
                    bottom: 0;
                }
            }
            
            .head {
                @media screen and (max-width: $mobile) {
                    display: block;
                    margin-bottom: 20px;
                    
                    p {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        font-size: 28px;
                        font-weight: 400;
                        color: #004b6c;
                        
                        span {
                            color: black;
                            font-weight: bold;
                        }
                    }
                }
            }
            
            .content {
                @media screen and (max-width:$mobile) {
                    overflow: scroll;
                    height: calc(100% - 110px);
                }
                
                .search-single-navigator {
                    display: block!important;
                    order: 1;
                    
                    @media screen and (max-width:$mobile) {
                        width: 100%;
                    }
                    
                    h3,
                    h4,
                    h5 {
                        font-size: 18px;
                        font-weight: 400;
                        padding: 10px 0;
                        margin-bottom: 15px;
                        border-bottom: 1px solid #dcdcdc;
                        color: #de2328;
                        
                        & + ul {
                            margin-bottom: 25px;
                        }
                        
                        &.HideMarca {
                            display: none;
                        }
                        
                        &:after{
                            content: '';
                            background-image: url('/arquivos/filter_arrowup.png');
                            width: 12px;
                            height: 8px;
                            float: right;
                        }
                        
                        &.active{
                            
                            &:after{
                                content: '';
                                background-image: url('/arquivos/filter_arrowdown.png');
                                width: 12px;
                                height: 8px;
                                float: right;
                            }
                        }
                    }
                    
                    ul {
                        &.Marca {
                            display: none;
                        }
                        
                        li {
                            margin-bottom: 7px;
                        }
                    }
                }
                
                .navigation-tabs {
                    .menu-departamento {
                        ul{
                            max-height: 320px;
                            overflow: auto;
                        }
                        /* width */
                        ::-webkit-scrollbar {
                            width: 7px;
                            height: 5px;
                        }
                        
                        /* Track */
                        ::-webkit-scrollbar-track {
                            border-radius: 50px;
                            background-color: #e4e4e4;
                            width: 1px;
                        }
                        
                        /* Handle */
                        ::-webkit-scrollbar-thumb {
                            background-color: $cor-principal;
                            border-radius: 50px;
                        }
                        
                        > div {
                            display: flex;
                            flex-wrap: wrap;
                            
                            .menu-navegue {
                                display: none !important;
                            }
                            
                            .search-multiple-navigator {
                                display: block !important;
                                order: 2;
                                margin-top: 30px;
                                
                                @media screen and (max-width:$mobile) {
                                    width: 100%;
                                }
                                
                                h3,
                                h4,
                                .bt-refinar {
                                    display: none;
                                }
                                
                                .bt-refinar {
                                    &+fieldset {
                                        h5 {
                                            border-top: 0;
                                            padding-top: 0;
                                        }
                                    }
                                }
                                
                                fieldset {
                                    &:last-child {
                                        div {
                                            margin-bottom: 0;
                                        }
                                    }
                                    
                                    h5 {
                                        font-size: 18px;
                                        font-weight: 400;
                                        padding: 10px 0;
                                        margin-bottom: 15px;
                                        color: $cor-principal;
                                        border-bottom: 1px solid #dcdcdc;
                                        
                                        & + ul {
                                            margin-bottom: 25px;
                                        }
                                    }
                                    
                                    .busca_filtro {
                                        width: 100%;
                                        height: 35px;
                                        display: flex;
                                        border: 1px solid #dcdcdc;
                                        background-color: #fff;
                                        margin-bottom: 15px;
                                        
                                        input[type="text"] {
                                            width: 100%;
                                            text-indent: 10px;
                                            background-image: url(/arquivos/ico-lupa.png);
                                            background-repeat: no-repeat;
                                            background-position: 95%;
                                        }
                                    }
                                    
                                    div {
                                        max-height: 400px;
                                        margin-bottom: 40px;
                                        overflow-x: hidden;
                                        overflow-y: scroll;
                                        
                                        label {
                                            display: flex;
                                            margin-bottom: 7px;
                                            cursor: pointer;
                                            
                                            input {
                                                width: 15px;
                                                height: 15px;
                                                margin-right: 10px;
                                                position: relative;
                                                cursor: pointer;
                                                bottom: -3px;
                                                
                                                &:checked {
                                                    &:after {
                                                        background-image: url('/arquivos/ico-checked.png?v=20');
                                                        background-color: $cor-principal;
                                                        background-repeat: no-repeat;
                                                        background-position: center;
                                                        background-size: 75%;
                                                    }
                                                }
                                                
                                                &:after {
                                                    content: "";
                                                    width: 15px;
                                                    height: 15px;
                                                    background-size: 0;
                                                    border: 1px solid #dcdcdc;
                                                    display: block;
                                                    background: white;
                                                    border-radius: 2px;
                                                    transition: all 300ms;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            
            .footer {
                @media screen and (max-width: $mobile) {
                    display: block;
                    padding: 10px 0;
                    
                    ul {
                        display: flex;
                        justify-content: space-between;
                        
                        li {
                            &.clear {
                                width: 40%;
                                
                                a {
                                    display: flex;
                                    align-items: center;
                                    color: #585858;
                                    height: 40px;
                                    line-height: 45px;
                                    font-size: 14px;
                                    font-weight: bold;
                                    
                                    svg {
                                        width: 20px;
                                        height: 20px;
                                        margin-left: 10px;
                                    }
                                }
                            }
                            
                            &.btn_aplicar {
                                width: 60%;
                                
                                a {
                                    width: 100%;
                                    height: 45px;
                                    line-height: 45px;
                                    color: white;
                                    display: block;
                                    font-size: 16px;
                                    font-weight: bold;
                                    text-align: center;
                                    text-transform: uppercase;
                                    background-color: $cor-principal;
                                    border-radius: 2px;
                                }
                            }
                        }
                    }
                }
            }
        }
        
        .sugestions {
            display: none; //flex
            flex-direction: row;
            flex-wrap: wrap;
            margin-bottom: 30px;
            
            @media screen and (max-width:$mobile) {
                display: block;
                margin-right: -15px;
                margin-bottom: 25px;
            }
            
            .content {
                ul {
                    padding: 10px 0;
                    display: flex;
                    
                    @media screen and (min-width:$mobile) {
                        flex-wrap: wrap;
                        justify-content: center;
                    }
                    
                    //SCROLL
                    @media screen and (max-width:$mobile) {
                        flex-wrap: nowrap;
                        overflow-x: auto;
                        -webkit-overflow-scrolling: touch;
                        -ms-overflow-style: -ms-autohiding-scrollbar;
                    }
                    
                    li {
                        height: 35px;
                        padding: 0 30px;
                        border-radius: 50px;
                        color: #448bcb;
                        border: 2px solid #448bcb;
                        margin-right: 10px;
                        margin-bottom: 10px;
                        
                        //SCROLL
                        @media screen and (max-width:$mobile) {
                            flex: 0 0 auto;
                        }
                        
                        a {
                            height: 100%;
                            display: flex;
                            align-items: center;
                            font-size: 14px;
                            font-weight: bold;
                        }
                    }
                }
            }
        }
        
        .filter_buttons {
            @media screen and (max-width: $mobile) {
                display: block;
                margin-bottom: 10px;
                
                ul {
                    display: flex;
                    justify-content: space-around;
                    background-color: #f5f5f5;
                    margin-right: -15px;
                    margin-left: -15px;
                    padding: 10px 0;
                    
                    li {
                        a {
                            display: flex;
                            align-items: center;
                            font-size: 16px;
                            font-weight: bold;
                            
                            svg {
                                width: 20px;
                                margin-right: 10px;
                                
                                path,
                                g {
                                    fill: $cor-principal;
                                }
                            }
                        }
                    }
                }
            }
        }
        
        .flags {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            
            @media screen and (min-width:$mobile) {
                margin-bottom: 20px;
            }
            
            .content {
                width: 100%;
                display: flex;
                align-items: center;
                
                @media screen and (max-width:$mobile) {
                    flex-direction: column;
                }
                
                ul {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    margin-right: 10px;
                    
                    @media screen and (max-width:$mobile) {
                        margin-right: 0;
                        margin-bottom: 10px;
                    }
                    
                    &:empty {
                        &+.clear {
                            display: none;
                        }
                    }
                    
                    li {
                        width: auto;
                        height: 30px;
                        line-height: 30px;
                        border-radius: 50px;
                        background-color: #e4e4e4;
                        padding: 0 20px;
                        cursor: pointer;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: space-between;
                        margin-right: 10px;
                        
                        @media screen and (max-width:$mobile) {
                            margin-bottom: 10px;
                        }
                        
                        &:last-child {
                            margin-right: 0;
                        }
                        
                        &.sr_on {
                            @media screen and (min-width:$mobile) {
                                display: none;
                            }
                        }
                        
                        p {
                            font-size: 14px;
                            font-weight: 400;
                        }
                        
                        span {
                            font-size: 16px;
                            font-weight: bold;
                            position: relative;
                            right: -6px;
                            top: -1px;
                        }
                    }
                }
                
                .clear {
                    width: auto;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    color: #585858;
                    font-size: 14px;
                    font-weight: 400;
                    display: block;
                    
                    svg {
                        width: 20px;
                        height: 20px;
                        margin-right: 8px;
                    }
                }
            }
        }
        
        .main {
            .searchResultsTime,
            .pager {
                display: none;
            }
            
            .sub {
                @media screen and (max-width:$mobile) {
                    margin-bottom: 30px;
                }
                
                .filterBy,
                .compare {
                    display: none;
                }
                
                .resultado-busca-filtro {
                    display: flex;
                    justify-content: flex-end;
                    border-bottom: 1px solid #dcdcdc;
                    
                    .orderBy {
                        width: 270px;
                        margin-bottom: 10px;
                        
                        label {
                            margin-right: 10px;
                        }
                        
                        label,
                        select {
                            width: auto;
                            height: 40px;
                            line-height: 40px;
                            float: left;
                        }
                        
                        select {
                            height: 40px;
                            border-radius: 10px;
                            border: 1px solid #dcdcdc;
                            text-indent: 10px;
                            appearance: none;
                        }
                    }
                }
            }
            
            .vitrine {
                .prateleira {
                    ul {
                        display: flex;
                        flex-wrap: wrap;
                        
                        li {
                            width: calc(100% / 4);
                            
                            @media screen and (max-width: $mobile) {
                                width: calc(100% / 2);
                                padding: 0;
                            }
                        }
                    }
                }
                
                .btn-load-more {
                    display: block;
                    margin: 0 auto 30px;
                    width: 220px;
                    height: 45px;
                    line-height: 45px;
                    text-align: center;
                    background-color: #b6b6b6;
                    border-radius: 50px;
                    color: #383838;
                    font-size: 16px;
                    font-weight: bold;
                    cursor: pointer;
                }
            }
        }
    }
}

#returnToTop {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 15%;
    bottom: 5%;
    border-radius: 50px;
    background-color: $cor-principal;
    cursor: pointer;
    
    @media screen and (max-width:$mobile) {
        right: 15px;
        bottom: 75px;
    }
    
    span {
        width: 20px;
        height: 20px;
        border-right: 2px solid white;
        border-bottom: 2px solid white;
        display: block;
        transform: rotate(225deg);
        margin-bottom: -10px;
    }
}

body > main > div:nth-child(3) > div:nth-child(2) > div.col-12.col-sm-12.col-md-10 > div.main > div:nth-child(5) {
    display: none!important;
}

.description.desktop{
    display: none !important;
}
.description.mobile{
    display: block !important;
    img{
        max-width: 100%;
        height: auto;
    }
}
@media (min-width: 768px){
    .description.desktop{
        display: block !important;
    }
    .description.mobile{
        display: none !important;
    }
}

article .flag span{
    display: block;
}