.pag_erros h1,
.pag_erros h1+p {
  margin-bottom: 40px;
  font-family: Lato, sans-serif
}

.gastronomia .faculdades a:hover {
  color: #c2222a;
  opacity: 1 !important
}

.pag_erros {
  background: url(/arquivos/bg_erros.jpg) right bottom no-repeat;
  min-height: 776px;
  padding-top: 145px;

  .center {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }
}

.pag_erros h1 {
  font-size: 130px;
  color: #c22229;
  font-weight: 700
}

.pag_erros h1+p {
  font-size: 30px;
  color: #131313
}

.pag_erros p {
  font-family: Lato, sans-serif;
  font-size: 26px;
  color: #131313;
  margin-bottom: 10px
}

.pag_erros p a {
  color: #131313;
  text-decoration: underline
}

.pag_erros .busca {
  float: left;
  margin-left: 0 !important;
  width: 550px;
  height: 40px;
  margin-top: 25px;
  position: relative
}

.pag_erros .busca fieldset input[type=text] {
  background-color: #dcdcdc;
  border: 0;
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  color: #131313;
  font-family: Lato, sans-serif
}

.pag_erros .busca fieldset input[type=button] {
  background: url(/arquivos/btn_busca_erro.png) left top no-repeat;
  width: 97px;
  height: 50px;
  right: 0
}

.busca {
  float: left;
  margin-left: 180px;
  width: 450px;
  position: relative;
  height: 40px;
  margin-top: 10px
}

.busca fieldset {
  margin-left: 0;
  margin-top: 0
}

.busca legend,
.busca label,
.busca fieldset select {
  display: none;
}

.busca fieldset input[type=text] {
  position: absolute;
  top: 0;
  left: 0;
  height: 40px;
  line-height: 40px;
  border-radius: 40px;
  border: 1px solid #d7d7d7;
  font-size: 13px;
  color: #9d9d9d;
  z-index: 1;
  width: 100%;
  padding: 0 45px 0 15px
}

.busca fieldset input[type=button] {
  width: 40px;
  height: 40px;
  text-indent: -9999pc;
  background: url(/arquivos/btn_busca.png) center center no-repeat;
  position: absolute;
  top: 0;
  right: 5px;
  z-index: 2;
  border: 0;
  cursor: pointer
}

@media screen and (min-width:1px) and (max-width:1024px) {
  .erro_404 .pag_erros h1,
  .erro_500 .pag_erros h1,
  .erro_buscavazia .pag_erros h1 {
    width: 100%;
    height: 210px;
    font-size: 0;
    background-size: 100%;
    background-repeat: no-repeat;
    max-width: 464px
  }

  .erro_buscavazia .pag_erros {
    background-image: none !important;
    padding-top: 0
  }

  .erro_buscavazia .pag_erros h1 {
    background-image: url(/arquivos/ops.jpg)
  }

  .erro_404 .pag_erros {
    background-image: none !important;
    padding-top: 0
  }

  .erro_404 .pag_erros h1 {
    background-image: url(/arquivos/404.jpg)
  }

  .erro_500 .pag_erros {
    background-image: none !important;
    padding-top: 0
  }

  .erro_500 .pag_erros h1 {
    background-image: url(/arquivos/500.jpg)
  }
}