#continue_buy {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 500px;
    margin-left: -250px;
    background-color: white;
    z-index: 1;
    display: block;
    height: 265px;
    margin-top: -132.5px;
    padding: 15px;
    z-index: 12;
    opacity: 0;
    visibility: hidden;
    transform: scale(0);
    transition: opacity 300ms;

    &.active {
        opacity: 1;
        visibility: visible;
        transform: scale(1);
    }

    @media screen and (max-width:$mobile) {
        width: calc(100% - 30px);
        height: auto;
        top: 20%;
        left: 15px;
        margin: 0;
    }

    &>.close {
        float: right;
        margin-top: -40px;
        font-weight: bold;
        color: white;
        font-size: 18px;
        margin-right: -15px;
    }

    .content {
        .head {
            padding: 20px 0;
            text-align: center;
            margin-bottom: 20px;
            border-bottom: 1px solid #dcdcdc;

            svg {
                width: 80px;
                height: 84px;
                margin-bottom: 25px;
            }

            p {
                font-size: 16px;
                font-weight: 400;
                text-align: center;
                text-transform: uppercase;

                @media screen and (max-width:$iphone5) {
                    font-size: 14px;
                }
            }
        }

        .footer {
            ul {
                display: flex;
                justify-content: space-between;

                @media screen and (max-width:$mobile) {
                    flex-direction: column;
                }

                li {
                    a {
                        width: 220px;
                        height: 35px;
                        line-height: 35px;
                        font-weight: bold;
                        text-align: center;
                        display: inline-block;
                        text-transform: uppercase;

                        @media screen and (max-width:$mobile) {
                            width: 100%;
                            margin-bottom: 10px;
                        }
                    }

                    &:nth-child(1) {
                        a {
                            font-weight: bold;
                            color: $cor-principal;
                            border: 1px solid $cor-principal;
                        }
                    }

                    &:nth-child(2) {
                        a {
                            background-color: $cor-cta;
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
}
.whats-float {
    display:block !important;
    position: fixed;
    bottom: 25px;
    width: 55px;
    right: 25px;
    z-index: 999;
    svg{
        background: #fff;
        border-radius: 28px 28px 29px 0px;
    }
}
footer {
    padding-top: 30px;
    background-color: #fcfcf9;
    border-top: 10px solid #a5a5a5;
    
    .title {
        display: block;
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 10px;
    }

    .row_1,
    .row_2 {
        display: flex;
        flex-wrap: wrap;
    }
    
    .row_1 {
        @media screen and (max-width:$mobile) {
            .column_1,
            .column_2,
            .column_3,
            .column_4 {
                width: 100%!important;
            }
            .column_1,
            .column_2,
            .column_3{
                .title{
                    font-size: 14px !important;
                    border-bottom: 1px solid #d2d2d2;
                    padding-bottom: 6px;
                    position: relative;
                    &:after{
                        content: '+';
                        position: absolute;
                        right: 15px;
                        display: block;
                        top: 0px;
                    }
                }
                ul{
                    display: none;
                }
                &.actived{
                    ul{
                        display: block;
                        margin-bottom: 15px;
                    }
                    .title{
                        &::after{
                            content: '-';
                        }
                    }
                }
            }
            .column_4{
                #newsletter_segmento{
                    margin-top: 5px;
                    padding: 0 0.7em;
                    .title{
                        margin-bottom: 2px;
                    }
                }
            }
        }
        
        .column_1 {
            width: 20%;
        }

        .column_2,
        .column_3 {
            width: 25%;
        }

        .column_4 {
            width: 30%;
        
            form {
                min-height: 194px;
                
                @media screen and (max-width:$mobile) {
                    display: flex;
                    align-items: center;
                }
                
                .description {
                    margin-bottom: 10px;
                }
                
                fieldset {
                    @media screen and (max-width:$mobile) {
                        width: 100%;;
                    }

                    &.success {
                        @media screen and (max-width:$mobile) {
                            text-align: center;
                        }
                    }

                    select,
                    input[type="text"],
                    input[type="email"] {
                        width: 100%;
                        height: 40px;
                        border: 1px solid #dcdcdc;
                        text-indent: 10px;
                        margin-bottom: 10px;
                        appearance: none;
                    }
                    
                    input[type="text"]{
                        display: none;
                    }

                    select {
                        background-color: #dcdcdc;
                    }

                    input[type="submit"] {
                        width: 150px;
                        line-height: 40px;
                        float: right;
                        cursor: pointer;
                        color: white;
                        font-size: 17px;
                        background-color:#137a74;
                        text-align: center;
                        appearance: none;
                    }
                }
            }
        }

        ul {
            display: flex;
            flex-wrap: wrap;

            li {
                width: 100%;
                margin-bottom: 6px;
            }
        }
    }

    .row_2 {
        margin: 30px 0;

        .column_1,
        .column_2,
        .column_3 {
            width: 33.3%;

            @media screen and (max-width:$mobile) {
                width: 100%!important;
                margin-bottom: 30px;
                text-align: center;
            }
            
        }

        .column_1 {
            svg {
                width: 40px;
                height: 40px;
            }
        }

        .column_1,
        .column_2,
        .column_3 
        {
            ul {
                display:flex;
                align-items: center;

                &.bandeiras {
                    flex-wrap: wrap;
                    
                    @media screen and (min-width:$mobile) {
                        max-width: 320px;
                    }
                
                    li {
                        width: 50px;
                        height: 33px;
                        margin-right: 5px;
                        margin-bottom: 5px;

                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }

                @media screen and (max-width:$mobile) {
                    justify-content: center;
                }

                li {
                    margin-right: 15px;

                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
        }
    }

    .row_3 {
        margin-bottom: 30px;

        ul {
            display: flex;
            justify-content: center;

            li {
                margin-right: 20px;

                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }

    .row_4 {
        background-color: transparent;
        width: 100%;
        
        p {
            font-size: 17.5px;
            font-weight: 300;
            display: block;
            text-align: center;
            color: #000;
            
            &:first-child{
                margin-bottom: 3px;
            }
        }
        
        @media screen and (max-width:767px) {
            display: block;
            
            p{
                font-size: 14.5px;
                
                &:first-child{
                    margin-bottom: 5px;
                }
                  
                &:last-child{
                    padding-bottom: 45px;
                }
            }
        }
    }
}

@media (max-width: 768px){
    footer{
        .row_1{
            .column_1, .column_2, .column_3{
                width: 100% !important;
            }
        }
    }
}