.gastronomia main {
    margin-bottom: 30px;
}

.gastronomia main p.description {
    font-size: 16px;
    color: #0d0d0d;
    margin-bottom: 30px;

    @media screen and (max-width:$mobile) {
        margin-top: 30px;
    }
}

.gastronomia main form label {
    font-size: 17px;
    color: #0d0d0d;
    font-weight: 500;
    display: block;
    margin-bottom: 10px;
}

.gastronomia main form input {
    float: left;
    width: 100%;
    max-width: 460px;
    height: 35px;
    line-height: 35px;
    border-radius: 35px;
    border: 1px solid #7d7d7d;
    padding: 0 25px;
    font-size: 14px;
    color: #0d0d0d;
}

.gastronomia main form a {
    text-transform: uppercase;
    font-size: 15px;
    color: #fff;
    background-color: #c2222a;
    height: 35px;
    float: left;
    margin-left: 10px;
    border-radius: 35px;
    line-height: 35px;
    cursor: pointer;
    padding: 0 25px;
    display: none !important;
}

.gastronomia {
    .full_banner {
        @media screen and (max-width:$mobile) {
            display: none;
        }

        img {
            position: relative;
            left: 50%;
            margin-left: -960px;
        }
    }

    .faculdades {
        width: 100%;
        clear: both;
        padding-top: 40px;

        a {
            float: left;
            width: 265px;
            height: 175px;
            border: 1px solid #b7b7b7;
            position: relative;
            color: #535353;
            padding: 5px;
            margin: 5px;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            @media screen and (max-width:$mobile) {
                width: 100%;
            }

            em {
                font-size: 15px;
                line-height: 18px;
                display: block;
            }

            span {
                top: 50%;
                display: table-cell;
                vertical-align: middle;

                em {
                    display: block;
                    top: -50%;
                }
            }

            &:hover {
                color: $cor-principal;
                opacity: 1 !important;
            }
        }
    }
}