body{
    -webkit-text-size-adjust: none;
}
@media screen and (max-width:$mobile) {
	body.active{
		header{
			z-index: 99991 !important;
		}
		.sugestions{
			position: relative;
			z-index: -1;
		}
	}
}
header {
	width: 100%;
	z-index: 3;
	background-color: white;
	transition: top 500ms;
	display: block !important;

	@media screen and (max-width:$mobile) {
		padding: 5px 0;
		position: relative;
		z-index: 12;

		/* !important is needed sometimes */
		::-webkit-scrollbar {
			width: 12px !important;
		}

		::-o-scrollbar {
			width: 12px !important;
		}

		::-ms-scrollbar {
			width: 12px !important;
		}

		/* Track */
		::-webkit-scrollbar-track {
			-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2) !important;
			-webkit-border-radius: 10px !important;
			border-radius: 10px !important;
		}

		::-o-scrollbar-track {
			-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2) !important;
			-webkit-border-radius: 10px !important;
			border-radius: 10px !important;
		}

		::-ms-scrollbar-track {
			-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2) !important;
			-webkit-border-radius: 10px !important;
			border-radius: 10px !important;
		}

		/* Handle */
		::-webkit-scrollbar-thumb {
			-webkit-border-radius: 10px !important;
			border-radius: 10px !important;
			background: $cor-principal !important;
		}

		::-o-scrollbar-thumb {
			-webkit-border-radius: 10px !important;
			border-radius: 10px !important;
			background: $cor-principal !important;
		}

		::-ms-scrollbar-thumb {
			-webkit-border-radius: 10px !important;
			border-radius: 10px !important;
			background: $cor-principal !important;
		}

		::-webkit-scrollbar-thumb:window-inactive {
			background: $cor-principal !important;
		}

		::-o-scrollbar-thumb:window-inactive {
			background: $cor-principal !important;
		}

		::-ms-scrollbar-thumb:window-inactive {
			background: $cor-principal !important;
		}
	}

	@media screen and (min-width:$mobile) {
		padding: 10px 0;

		&.neg {
			top: -100%;
		}

		&.fixed {
			top: 0 !important;

			.row_1 {
				.column_0 {
					width: 5%;
					display: flex;
				}

				.column_2 {
					width: 50%;
				}
			}

			.row_2 {
				display: none;
			}
		}
	}

	.no_sub {

		&:after,
		&:before {
			display: none;
			opacity: 0;
		}

		>span {
			display: none;
		}
	}

	@media screen and (min-width:$mobile) {
		padding-bottom: 0;
	}

	&+header {
		display: none !important;
	}

	.column_0 {
		width: 15%;
		display: none;
		align-items: center;

		@media screen and (min-width:$mobile) {
			margin-bottom: -10px;
		}

		@media screen and (max-width:$mobile) {
			display: flex;
			order: 1;
		}

		i {
			width: 35px;
			height: 25px;
			display: block;

			span {
				width: 100%;
				height: 3px;
				background-color: #3411cc;
				display: block;
				margin-bottom: 7px;

				&:last-child {
					width: 80%;
					margin-bottom: 0;
				}
			}
		}
	}

	.row_1 {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;

		@media screen and (min-width:$mobile) {
			position: relative;
			padding-bottom: 10px;
		}

		.column_1 {
			width: 25%;
			display: flex;
			align-items: center;

			img {
				width: 100%;
				height: auto;
			}

			@media screen and (max-width:$mobile) {
				width: 70%;
				order: 2;

				a {
					display: block;
					text-align: center;

					img {
						width: 88%;
					}
				}
			}
		}

		.column_2 {
			width: 35%; // 40
			display: flex;
			align-items: center;
			padding: 0 30px;

			>a {
				display: none;
			}

			@media screen and (max-width:$mobile) {
				order: 4;
				width: 100%;
				padding: 0;
				margin-top: 10px;
			}

			.search {
				width: 100%;

				@media screen and (max-width:$mobile) {
					position: relative;
				}

				.input {
					display: flex;
					align-items: center;
					height: 40px;
					border: 1px solid #dcdcdc;
					box-shadow: 0px 2px 0px 0.5px #dcdcdc;
					background-color: #fff;
					border-radius: 3px;

					input[type="text"] {
						width: 90%;
						text-indent: 10px;
					}

					button {
						width: 10%;
						cursor: pointer;
						height: 68%;
						font-size: 0;
						border-left: 1px solid #dcdcdc;
						background-size: 21px;
						background-color: white;
						background-position: center;
						background-repeat: no-repeat;
						background-image: url(/arquivos/ico-lupa.png);
					}
				}

				.result {
					position: absolute;
					width: 100%;
					height: auto;
					overflow: hidden;
					background-color: #fff;
					border-radius: 3px;
					z-index: 1;
					display: none;
					
					@media screen and (min-width:$mobile) {
						top:71px;
						left: 0;
					}

					/* width */
					::-webkit-scrollbar {
						width: 10px;
						height: 10px;
					}

					/* Track */
					::-webkit-scrollbar-track {
						border-radius: 50px;
						background-color: #e4e4e4;
					}

					/* Handle */
					::-webkit-scrollbar-thumb {
						background-color: $cor-principal;
						border-radius: 50px;
					}

					&.active {
						display: block;
					}

					&.loading {
						background-size: 150px;
						background-position: center;
						background-repeat: no-repeat;
						background-image: url(/arquivos/gif_loading.gif);
						overflow-x: hidden;

						ul {
							display: none;
						}
					}

					ul {
						display: flex;
						flex-wrap: nowrap;
						overflow-x: auto;
						-webkit-overflow-scrolling: touch;
						-ms-overflow-style: -ms-autohiding-scrollbar;
						transition: opacity 300ms;
						padding: 10px;

						&:empty {
							padding: 0;
						}

						li {
							width: 232px;
							text-align: center;
							flex: 0 0 auto;

							@media screen and (max-width:$mobile) {
								width: 150px;
							}

							a {
								display: block;

								.image {
									img {
										width: 100%;
										height: auto;
									}
								}

								.name {
									p {
										font-size: 14px;
										font-weight: 400;
										text-transform: uppercase;
									}
								}

								.box_price {
									p {
										&.parcelas {
											margin: 5px 0;
											color: #51b4e1;
											font-weight: bold;
											letter-spacing: 0.5px;
										}

										&.por_price {
											font-size: 12px;
											font-weight: bold;
										}
									}
								}
							}
						}
					}
				}
			}
		}

		.column_3 {
			width: 40%;
			display: flex;
			align-items: center;

			@media screen and (max-width:$mobile) {
				width: 15%;
				order: 3;
			}

			>ul {
				width: 100%;
				display: flex;
				align-items: center;
				justify-content: space-between;

				@media screen and (max-width:$mobile) {
					justify-content: center;
				}

				li {
					&.btn_whats_app {
						@media screen and (max-width:$mobile) {
							display: none;
						}

						a {
							display: flex;
							align-items: center;

							i {
								margin-right: 10px;

								svg {
									width: 30px;
									height: 30px;
								}
							}

							p {
								strong {
									display: block;
								}
							}
						}
					}

					&.btn_account {
						@media screen and (max-width:$mobile) {
							display: none;
						}

						a {
							div {
								p {
									&:nth-child(1) {
										position: relative;
										font-weight: bold;

										&:after {
											content: '';
											width: 7px;
											height: 7px;
											display: block;
											border-right: 1px solid $cor-principal;
											border-bottom: 1px solid $cor-principal;
											transform: rotate(45deg);
											position: absolute;
											top: 3px;
											right: 0;

										}
									}
								}
							}
						}
					}

					&.btn_duvidas {
						// pointer-events: none;
					}

					&.btn_duvidas,
					&.btn_account {
						@media screen and (max-width:$mobile) {
							display: none;
						}

						a {
							display: flex;
							align-items: center;

							i {
								margin-right: 5px;

								svg {
									width: 30px;
									height: 30px;
									fill: $cor-principal;
								}
							}
						}
					}

					&.btn_account {
						position: relative;
						padding-bottom: 20px;
						margin-bottom: -20px;

						&:hover {
							.hover {
								display: block;
							}
						}

						.hover {
							position: absolute;
							top: 50px;
							z-index: 1;
							background-color: white;
							padding: 10px;
							width: 150px;
						
							ul {
								&:before {
									content: '';
									display: block;
									margin-top: -20px;
									float: right;
									margin-right: 23px;
									width: 0;
									height: 0;
									border-style: solid;
									border-width: 0 5px 10px 5px;
									border-color: transparent transparent #ffffff transparent;
								}

								li {
									margin-bottom: 10px;

									&:last-child {
										margin-bottom: 0;
									}
								}
							}
						}
					}

					&.btn_duvidas {
						position: relative;
						padding-bottom: 20px;
						margin-bottom: -20px;
						
						li {
							padding-bottom: 7px;
						}

						&:hover {
							.hover2 {
								display: block;
							}
						}

						.hover2 {
							position: absolute;
							top: 50px;
							z-index: 1;
							background-color: white;
							padding: 10px;
							width: 150px;
													
						}
					}

					

					&.cart {
						position: relative;

						a {
							i {
								svg {
									width: 30px !important;
									height: 30px !important;
									fill: $cor-principal;
								}
							}

							span {
								width: 15px;
								height: 15px;
								line-height: 15px;
								display: block;
								border-radius: 50px;
								position: absolute;
								top: 0;
								right: -7px;
								background-color: black;
								color: white;
								font-size: 12px;
								text-align: center;
							}
						}
					}
				}
			}
		}
	}

	.row_2 {
		position: relative;
		display: block;
		background-color: $cor-principal;

		@media screen and (min-width:$mobile) {

			&:hover,
			&.active {
				display: block;
			}
		}

		.container {
			@media screen and (max-width:$mobile) {
				width: 80%;
				height: 100%;
				float: left;
				padding: 0;
			}
		}

		@media screen and (max-width:$mobile) {
			width: 100%;
			height: 100%;
			background-color: transparent;
			position: fixed;
			top: 0;
			left: -100%;
			z-index: 9;
			transition: left 300ms;
			z-index: 9999;
			&.active {
				left: 0;
			}
		}

		.container {
			@media screen and (min-width:$mobile) {
				position: relative;
			}

			.head {
				display: none !important;
				background-color: #fff;
				padding: 15px;

				@media screen and (max-width:$mobile) {
					display: block;

					a {
						width: 100%;
						height: 45px;
						line-height: 45px;
						text-align: center;
						color: white;
						font-weight: bold;
						background-color: $cor-principal;
						display: flex;
						align-items: center;
						justify-content: center;
						margin-bottom: 5px;

						&:last-child {
							margin-bottom: 0;
						}

						svg {
							width: 30px;
							height: 30px;
							fill: white;

							path {
								stroke: white;
							}
						}

						&.go_back {
							display: none;

							&.active {
								display: block;
							}
						}
					}
				}
			}
			.head_v2{
				
				@media screen and (max-width:$mobile) {
					display: block !important;
				}
				background: #930e12;
				padding-top: 15px;
				span, a{
					color: #fff;
					padding: 0 15px;
				}
				span{
					font-weight: bold;
					font-size: 20px;
					display: block;
				}
				a{
					font-weight: normal;
					display: block;
					line-height: 18px;
				}
				a:nth-child(2) {
					padding-bottom: 12px;
				}
				.go_back{
					background: #ededed;
					color: #242424;
					padding: 5px 15px;
					display: none;
					&.active {
						display: block;
					}
					&:before {
						width: 7px;
						height: 7px;
						content: "";
						display: inline-block;
						border-right: 1px solid #000;
						border-bottom: 1px solid #000;
						transform: rotate(135deg);
						margin-right: 6px;
					}
				}

			}
			>.content {
				display: flex;
				flex-wrap: wrap;
				flex-direction: row;
				align-items: center;

				@media screen and (max-width:$mobile) {
					position: relative;
					overflow: hidden;
					background-color: #fff;
					padding-bottom: 30px;
					height: 55%;
					min-height: 350px;
					align-content: start;
				}

				>.column_1 {
					width: 20%;
					position: relative;

					@media screen and (max-width:$mobile) {
						width: 100%;
						padding: 0 15px;
					}

					&:hover {
						nav {
							opacity: 1;
							visibility: visible;
						}
					}

					>a {
						height: 40px;
						display: flex;
						align-items: center;
						font-weight: bold;
						color: white;

						@media screen and (max-width:$mobile) {
							color: black;
						}

						i {
							width: 17px;
							height: 13px;
							display: flex;
							flex-wrap: wrap;
							margin-right: 8px;

							span {
								width: 100%;
								height: 1px;
								margin-bottom: 5px;
								background-color: white;
								display: block;

								@media screen and (max-width:$mobile) {
									background-color: black;
								}

								&:last-child {
									margin-bottom: 0;
								}
							}
						}
					}

					nav {
						display: flex;
						flex-wrap: wrap;
						flex-direction: row;
						position: absolute;
						z-index: 9;

						@media screen and (min-width:$mobile) {
							width: 1270px;
							height: 350px;
							opacity: 0;
							visibility: hidden;
							overflow: hidden;
						}

						@media screen and (max-width:$mobile) {
							width: 100%;
							top: 0;
							right: -100%;

							&.active {
								right: 0;
							}
						}

						&:hover {
							@media screen and (min-width:$mobile) {
								opacity: 1;
								visibility: visible
							}
						}

						>.column_1 {
							width: 20%;
							background-color: #fcfcf9;
							z-index: 1;

							@media screen and (min-width:$mobile) {
								box-shadow: 0 0 16px 2px #cacaca;
							}

							@media screen and (max-width:$mobile) {
								position: absolute;
								width: 100%;
								height: auto;
								box-shadow: none;
								background-color: white;
							}

							>ul {
								li {
									p {
										height: 50px;
										display: flex;
										align-items: center;
										justify-content: space-between;
										font-size: 14px;
										font-weight: 400;
										text-indent: 20px;

										@media screen and (max-width:$mobile) {
											height: 30px;
											margin-bottom: 10px;
										}

										a {
											width: 80%;
											font-weight: bold;

											@media screen and (min-width:$mobile) {
												width: 100%;
											}
										}

										span {
											width: 20%;
											text-align: center;

											@media screen and (min-width:$mobile) {
												display: none;
											}

											&:after {
												width: 9px;
												height: 9px;
												display: inline-block;
												content: '';
												border-right: 2px solid #141414;
												border-bottom: 2px solid #141414;
												margin-right: 15px;
												transform: rotate(-45deg);
											}
										}
									}
								}
							}
						}

						>.column_2 {
							width: 80%;
							overflow: hidden;
							position: relative;

							@media screen and (max-width:$mobile) {
								width: 100%;
								height: 600px;
								right: -100%;

								&.active {
									right: 0;
								}
							}

							.content {
								width: 100%;
								height: 100%;
								display: flex;
								flex-direction: row;
								justify-content: space-between;
								position: absolute;
								top: 0;
								transition: left 300ms;
								background-color: #fff;

								@media screen and (min-width:$mobile) {
									padding-left: 40px;
									padding-top: 15px;
									left: -100%;
									opacity: 0;

									&.active {
										opacity: 1;
										left: 0;
									}
								}

								@media screen and (max-width:$mobile) {
									height: 200%;
									z-index: 1;
									background-color: white;
									display: none;

									&.active {
										display: block;
									}
								}

								.column {
									width: 25%;

									@media screen and (max-width:$mobile) {
										width: 100%;
									}

									ul {
										li {
											a {
												font-size: 15px;
												display: block;
												margin-bottom: 10px;
											}
										}
									}
								}
							}
						}
					}
				}

				.column_2 {
					width: 80%;

					@media screen and (max-width:$mobile) {
						width: 100%;
						padding: 0 15px;
						overflow-y: auto;
						overflow-x: hidden;
						&.active{
							background-color: #fff;
							display: block;
							position: relative;
							z-index: 22;
						}
					}

					>ul {
						display: flex;
						flex-direction: row;

						@media screen and (max-width:$mobile) {
							position: relative;
							flex-direction: column;
						}

						>li {
							padding: 0 24px;
							
							&:hover{
								background-color: #12315c;
							}
							
							&:last-child{
								padding-right: 0;
								
								&:hover{
									background-color: #de2328;
								}
							}
							
							@media screen and (max-width:$mobile) {
								margin-top: 10px;
								padding: 0px;
								&:hover{
									background-color: transparent;
								}
								
							}

							@media screen and (min-width:$mobile) {
								&:hover {
									.submenu {
										display: flex;
									}
								}
							}

							>p {
								display: flex;
								align-items: center;
								position: relative;

								@media screen and (min-width:$mobile) {
									height: 40px;
								}

								&.oferta {
									>a {
										font-weight: bold;
									}
								}

								&.aluno {
									height: 30px;
									margin-top: 5px;
									padding: 0 15px;
									border-radius: 5px;
									background-color: #448ccb;

									a {
										color: white;
									}
									@media screen and (max-width:$mobile) {
										height: 40px;
										a{
											width: 100%;
											display: block;
											text-align: center;
										}
									}
								}

								>a {
									display: flex;
									align-items: center;
									color: white;

									@media screen and (max-width:$mobile) {
										width: 80%;
										color: black;
									}

									i {
										margin-right: 3px;
										display: block;
									}
								}

								>span {
									@media screen and (max-width:$mobile) {
										width: 20%;
										height: 24px;
										text-align: right;

										&:before {
											width: 8px;
											height: 8px;
											content: "";
											display: inline-block;
											border-right: 1px solid #000;
											border-bottom: 1px solid #000;
											transform: rotate(-45deg);
											position: relative;
											right: 5px;
										}
									}
								}
							}

							.submenu {
								display: none;
								flex-direction: row;
								background-color: #fff;
								width: calc(100% - 30px);
								position: absolute;
								left: 15px;
								padding: 30px 15px;
								z-index: 9;

								@media screen and (max-width:$mobile) {
									width: 115%;
									height: 120%;
									top: -40px;
									left: -15px;
									padding: 0 15px;

									&.active {
										display: block;
									}
								}

								.column {
									width: 33.3%;

									@media screen and (max-width:$mobile) {
										width: 100%;
										background-color: white;

										&.banner {
											display: none;
										}
									}

									ul {
										display: flex;
										flex-direction: column;

										li {
											margin-bottom: 10px;

											&.title {
												margin-bottom: 20px;

												@media screen and (max-width:$mobile) {
													margin-top: 20px;
												}

												a {
													font-weight: bold;
													color: $cor-principal;
												}

												&.second {
													margin-top: 20px;
												}
											}
										}
									}
								}
							}
						}
					}
				}
			}

			.footer {
				display: none;

				@media screen and (max-width:$mobile) {
					display: none;
					background-color: white;
					padding: 15px;

					a {
						width: 100%;
						height: 70px;
						display: flex;
						align-items: center;
						justify-content: center;
						flex-direction: column;
						background-color: #f1f1f1;

						strong {
							margin-top: 7px;
							font-weight: bold;
							color: black;
						}
					}
				}
			}
		}

		.ico_close {
			display: none;

			@media screen and (max-width:$mobile) {
				width: 45px;
				height: 45px;
				line-height: 44px;
				text-align: center;
				background-color: #7d1215;
				color: white;
				font-size: 22px;
				font-weight: bold;
				float: left;
				display: block;
			}
		}
	}
	@media (max-width: $mobile) {
		.row_3{
			display: block !important;
			background: #de2328;
			margin-top: 10px;
			ul{
				padding: 0;
				overflow: auto;
				white-space: nowrap;
				&::-webkit-scrollbar {
					display: none;
				}
				-ms-overflow-style: none;
				scrollbar-width: none;  
				li{					
					padding: 8px 12px;
					display: inline-block;
					a{
						color: #fff;
					}
				}
			}
		}		
	}

}

@media (min-width: 991px){
	.top_bar{
		display: block !important;
		background: #00439E;
		padding: 10px 0;
		.display{
			display: flex !important;
			.item{
				display: flex;
				justify-content: center;
				align-items: center;
				width: 20%;
				img{
					width: auto;
					height: auto;
					display: inline-block;
					margin-right: 10px;
				}
				p{
					display: inline-block;
					width: 55%;
				}
			}
			p{
				color: #fff;
				font-style: normal;
				font-weight: normal;
				font-size: 12px;
				line-height: 16px;
				text-transform: uppercase;
			}
		}
	}
}