@media (max-width: 768px) {
    performa.performaContainerInput {
        margin-top: 70px !important;
    }
}

.tns-controls button:before {
    content: '';
    background: #fff;
    box-shadow: rgba(0, 0, 0, .2) 0px 3px 5px 1px !important;
    position: absolute;
    top: -16px !important;
    left: -21px !important;
    opacity: .4;
    display: block;
    margin: 0;
    transform: rotate(-45deg);
    padding: 25px 25px !important;
    z-index: 0;
    border-radius: 50px;
}

.home {
    main {

        .full_banner {
            ul {
                &:not(.slick-slider) {
                    .box-banner {
                        &:not(:first-child) {
                            display: none;
                        } 
                    }
                }
                
                .slick-slide {
                    overflow: hidden;
                }
            }
            .slick-dots {
                margin-top: 10px;
                li {
                    button{
                        background-color: #EBEBEB !important;
                        width: 15px !important;
                        height: 15px !important;
                    }
                    &.slick-active{
                        button{
                            background-color: #C4C4C4 !important;
                            width: 15px !important;
                            height: 15px !important;
                        }
                    }
                }
            }
            &.desktop {
                img {
                    position: relative;
                    left: 50%;
                    margin-left: -960px;
                }
            }

            &.mobile {
                img {
                    width: 100%;
                    height: auto;
                }
            }
        }

        .tipbar {
            display: none !important;
            margin: -10px 0px 0px 0px;

            @media screen and (max-width:$mobile) {
                margin: -10px 0px 15px 0px;
            }

            ul {
                @media screen and (min-width:$mobile) {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                }

                li {
                    @media screen and (max-width:$mobile) {
                        text-align: center;

                        img {
                            display: inline-block;
                        }
                    }
                }
            }

            .desktop {
                display: block;
                // margin-bottom: 25px;
                
                @media screen and (max-width:$mobile) {
                    display: none;
                }
            }

            .mobile {
                display: none;
                margin-bottom: 25px;
                width: 100%;

                @media screen and (max-width:$mobile) {
                    display: block;
                }

                .box-banner {
                    display: flex;
                    justify-content: center;

                    a {
                        img {
                            height: 275px;
                        }
                    }
                }
            }
        }

        .three-promo-banner {
            .box-banner {
                margin: 0 auto !important;

                img {
                    width: 100%;
                    height: auto;
                }
            }
        }

        .brands {
            background-color: #fff;
            padding-bottom: 20px;
            // margin-top: 40px;

            #brandsCarousel {
                ul {
                    @media screen and (min-width:$mobile) {
                        padding: 0 70px;
                    }

                    a {
                        img {
                            width: 80%;
                            height: auto;

                            @media screen and (max-width:$mobile) {
                                width: 65%;
                                height: auto;
                                margin: 0 auto;
                            }
                        }
                    }
                }

                .slick-arrow {
                    width: 50px;
                    height: 50px;
                    border-radius: 50px;
                    display: block;
                    font-size: 0;
                    background-image: url(/arquivos/arrow-basic-left.png?v=10);
                    background-repeat: no-repeat;
                    background-position: center;
                    background-color: transparent !important;
                    position: absolute;
                    top: 45%;
                    margin-top: -25.5px;
                    z-index: 1;
                    box-shadow: none !important;

                    &.slick-prev {
                        left: 10px;
                    }

                    &.slick-next {
                        right: 10px;
                        transform: rotate(180deg);
                    }
                }

                @media screen and (max-width:$mobile) {
                    .slick-arrow {
                        width: 20px;
                        height: 20px;
                        top: 85%;

                        &.slick-prev {
                            left: 0px;
                        }

                        &.slick-next {
                            right: 0px;
                        }
                    }
                }
            }
        }

        .home-category-section {
            margin: 60px 0;


            .col-md-3 {
                h2 {
                    font-size: 30px;
                    font-weight: 300;
                    margin-bottom: 10px;
                    text-transform: uppercase;
                }

            }

            .home-cactegory-description {
                p {
                    margin-bottom: 40px;
                }

                a {
                    text-transform: uppercase;
                    border: 1px solid #737373;
                    padding: 10px 15px;
                    font-weight: 300;
                    font-size: 15px;

                    &:hover {
                        border: 1px solid #DE2328;
                    }
                }

                ul {
                    margin-top: 32px;

                    li {
                        margin: 14px 0;

                        a {
                            text-decoration: underline;
                            text-transform: capitalize;
                            font-size: 13px;
                            margin: 0;
                            border: 0;
                            padding: 0;

                            &:hover {
                                border: 0;
                            }
                        }
                    }
                }
            }

            .prateleira {
                >h2 {
                    display: none;
                }

                ul {
                    display: flex;
                    flex-wrap: wrap;
                }
            }

            &:last-child {
                padding-bottom: 40px;
                margin-bottom: 0;
            }
        }

        .brands-title {
            display: none;
        }

        @media screen and (max-width:768px) {
            .full-promo-banner {
                margin-bottom: 30px
            }

            .home-category-section {
                margin: 0px;

                h2 {
                    text-align: center;
                }

                .home-cactegory-description {
                    margin-bottom: 50px;
                    text-align: center;

                    ul {
                        display: none;
                    }
                }
            }

            .prateleira h2,
            .performa-vitrine-title span {
                margin-bottom: 0 !important;
                font-size: 26px !important;
            }

            .brands {
                margin-top: 30px;
            }

            .brands-title {
                display: block;
                font-family: "Source Sans Pro", sans-serif;
                font-size: 26px;
                font-weight: 300;
                color: #000;
                text-align: center;
                margin-bottom: 35px;
                position: relative;
            }

            .prateleira {
                li article {
                    margin-bottom: 0px;
                }

                li .product-name a {
                    min-height: 75px;
                    height: auto;
                    font-size: 10px !important;
                    font-size-adjust: none !important;
                }

                li .prateleira-cta {
                    width: 100%;
                    height: 36px;
                    line-height: 36px;
                    font-size: 11px;
                    margin-top: 14px;
                }

                .slick-arrow {
                    box-shadow: none;
                    background-color: transparent;
                    height: 25px;
                    width: 25px;

                    &.slick-prev {
                        left: 0px;
                    }

                    &.slick-next {
                        right: 0px;
                    }
                }

            }

            .full-promo-banner {
                @media screen and (max-width:$mobile) {
                    img {
                        width: 100%;
                        height: auto;
                    }
                }
            }

        }
    }
}

@media (min-width: 991px) {
    .ordenador {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .tipbar {
            display: none;
        }

        .brands {
            order: 1;
        }

        .three-promo-banner {
            order: 2;
        }

        #performa0 {
            order: 3;
        }

        .full-promo-banner {
            order: 4;

            img {
                max-width: 100%;
            }
        }

        .mais-vendidos {
            order: 5;
        }

        #performa2+.home-category-section {
            order: 6;
        }

        #performa1 {
            order: 7;
        }

        .home-category-section {
            order: 8;
        }
    }
}