.institucional {
  &.timeline {
    .full_banner {
      display: block;
    }

    h1,
    .col-md-8 {
      > .text {
        display: none;
      }
    }

    .timeline {
      display: block;

      > h2 {
        font-size: 22px;
        font-weight: 300;
        text-transform: uppercase;
        margin-bottom: 40px;
      }
      
      .content {
        position: relative;
        max-width: 700px;
        margin: 0 auto;

        &:after {
          content: '';
          display: block;
          width: 20px;
          height: 100%;
          position: absolute;
          top: 0;
          left: 50%;
          margin-left: -10px;
          border-radius: 50px;
          background-color: #dcdcdc;

          @media screen and (max-width:$mobile) {
            left: 0;
            margin-left: 0;
          }
        }

        ul {
          li {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            @media screen and (min-width:$mobile) {
              align-items: center;
            }

            &:nth-child(1),
            &:nth-child(3),
            &:nth-child(5),
            &:nth-child(7),
            &:nth-child(9),
            &:nth-child(11) {
              @media screen and (min-width:$mobile) {
                .text {
                  text-align: right;
  
                  h2 {
                    &:after {
                      left: auto;
                      right: -20px;
                    }
  
                    i {
                      right: -45px;
                      left: auto;
                    }
                  }
                }

                .image {
                  img {
                    margin-left: -30px;
                  }
                }
              }
            } 
            

            > div {
              width: 45%;

              @media screen and (max-width:$mobile) {
                width: 100%;
                text-align: right;

                &.text {order: 1;}
                &.image {order: 2;}
              }

              &.image {
                margin: 20px 0;

                img {
                  @media screen and (max-width:$mobile) {
                    width: 100%;
                    height: auto;
                  }

                  @media screen and (min-width:$mobile) {
                    width: calc(100% + 30px);
                    height: auto;
                    margin-left: auto;
                  }
                }
              }
  
              &.text {
                h2 {
                  position: relative;
                  font-size: 35px;
                  font-weight: 300;
                  text-transform: uppercase;
                  margin-bottom: 15px;

                  i {
                    display: block;
                    width: 20px;
                    height: 20px;
                    border-radius: 50px;
                    background-color: white;
                    position: absolute;
                    left: -45px;
                    bottom: -15px;
                    z-index: 1;
                    box-shadow: 0px 0px 0px 7px #dcdcdc;

                    @media screen and (max-width:$mobile) {
                      left: 0;
                    }
                  }

                  &:after {
                    content: '';
                    display: block;
                    width: 100%;
                    height: 2px;
                    background-color: #dcdcdc;
                    position: relative;
                    bottom: -5px;
                    
                    @media screen and (min-width:$mobile) {
                      left: -20px;
                    }
                  }
                }
  
                p {
                  font-size: 16px;
                  font-weight: 400;

                  @media screen and (max-width:$mobile) {
                    padding-left: 10%;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.institucional .full_banner {
  overflow: hidden;
}

.institucional.sobre-nos .full_banner {
  .banner_desktop {
    display: block;
    img {
      position: relative;
      left: 50%;
      margin-left: -960px;
    }
  }
  .slider_banner{
    display: none;
  }
}



.institucional main h1 {
  font-weight: 300;
  margin: 20px 0;
  text-transform: uppercase;
}

.institucional main .text h2 {
  margin: 20px 0;
  font-weight: 300;
}

.institucional main .text h2:first-child {
  margin-top: 0;
}

.institucional main .text iframe {
  width: 100%;
  height: 400px;
}

.institucional main {
  margin-bottom: 40px;
}

.institucional main .menu {
  padding: 10px 0;
  border-top: 1px solid #dcdcdc;
  border-bottom: 1px solid #dcdcdc;
}

.institucional main .menu ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.institucional main article h2 {
  font-size: 24px;
  font-weight: 300;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.institucional main article h2 i {
  margin-right: 5px;
}

.institucional main article {
  padding: 30px;
  background-color:#f8f8f8;
  box-shadow: 0px 0px 10px 4px #dcdcdc;
}

.institucional main article fieldset p select,
.institucional main article fieldset p input {
  width: 100%;
  height: 40px;
  text-indent: 10px;
  background-color: white;
  border: 1px solid #dcdcdc;
  border-radius: 3px;
  margin-bottom: 15px;
}

.institucional main article fieldset p textarea {
  width: 100%;
  height: 150px;
  background-color: white;
  border: 1px solid #dcdcdc;
  border-radius: 3px;
  padding: 10px;
  resize: none;
}

.institucional main .two.column {
  margin-top: 15px;
  margin-bottom: 30px;
  height: 40px;
}

.institucional main .file {
  opacity: 0;
  visibility: hidden;
}

.institucional main article form .two .file,
.institucional main article form .two .submit {
  width: 50%;
  float: left;
}

.institucional main input[type="submit"] {
  color: white;
  width: 100%;
  height: 50px;
  line-height: 50px;
  font-size: 17px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  padding: 0 20px;
  background-color: #37a96d;
  cursor: pointer;
  border-radius: 3px;
}

.institucional main article form ul + span {
  color: #838383;
  margin-top: 15px;
  display: block;
}

.institucional main article form ul li {
  margin-bottom: 10px;
}

.institucional main article form ul li:before {
  content:'\00bb';
}

.institucional main article form ul li:last-child {
  margin-bottom: 0;
}

.institucional #accordion h3 {
  cursor: pointer;
  padding: 20px 0 20px 20px;
  margin-top: 0;
  border-bottom: 1px solid #dcdcdc;
  transition: background-color 300ms;
}

.institucional #accordion h3.active,
.institucional #accordion h3.active + div {
  background-color: #f8f8f8;
  border-bottom: 0;
}

.institucional #accordion div {
  transition: background-color 300ms;
  padding: 10px 0 20px;
  display: none;
}

.institucional #accordion div p {
  border-left: 3px solid $cor-principal;
  margin-left: 30px;
  padding-left: 10px;
  padding-bottom: 10px;
}
@media screen and (max-width:1024px) {
  .banner_desktop {
    .box-banner {
      &:first-child {
        img {
          padding: 0 120px 0 160px;
        }
      }
      &:last-child {
        img {
          padding: 0 100px;
        }
      }
    }
  }
}

@media screen and (max-width:$mobile) {
  .institucional main article {
      margin-top: 40px;
  }

  .institucional main .menu .wrapper_menu_mobile{
    width: 97%;
    border: 1px solid #000;
    margin: 0 auto;
    position: relative;
    h2 {
      display: block !important;
      font-size: 18px;
      padding: 8px;
      // border-bottom: 1px solid #000;
      width: 100%;
      &::after {
        content: '';
        border: solid #000;
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 4px;
        position: absolute;
        right: 16px;
        top: 13px;
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        transition: 325ms;
      }
      &.actived {
        &::after {
          -ms-transform: rotate(225deg);
          transform: rotate(225deg);
          -webkit-transform: rotate(225deg);
          top: 17px;
        }
      }
    } 
    ul {
      display: none;
      border: 1px solid #000;
      border-top: none;
      width: 100%;
      transition: linear 350ms;
      li {
        padding: 8px;
        a {
          letter-spacing: 1px;
          text-transform: uppercase;
          font-size: 16px;
          font-weight: 600;
        }
      }
     &.colapsed {
        display: inline-block;
        z-index: 100000;
        position: absolute;
        background: #fff;
        -webkit-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.26);
        -moz-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.26);
        box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.26);
     }
    }
  }
  .institucional.sobre-nos .full_banner {
    .banner_desktop {
      display: none;
    }
    .slider_banner{
      display: block;
    }
    .slick-dots {
      margin-bottom: 13px;
      display: flex;
      justify-content: center;
      list-style: none;
      position: absolute;
      bottom: -15px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 999;
      .slick-active {
          button {
             background: #00439e;
             border-color: #00439e;
          }
      }
      li {
          margin-right: 10px;
          &:last-child {
              margin-right: 0;
          }
          button {
              cursor: pointer;
              outline: none;
              width: 15px;
              height: 15px;  
              border: 1px solid #000;
              border-radius: 50%;
              font-size: 0;
              background: transparent;
              position: relative;
          }
      }
    }
    img {
      // position: relative;
      left: 0;
      margin-left: 0;
      max-width: 100%;
      height: auto;
      padding: 10px 5px 25px 5px;
    }
  }
}

