.marcas-sanders {
    h1 {
        font-size: 42px;
        margin: 20px 0;

    }

    .p_filtrar {
        font-size: 28px;
        margin-bottom: 30px;
    }

    #tabs {
        ul {
            height: 50px;

            li {
                float: left;
                margin-right: 1px;

                a {
                    font-family: Lato, sans-serif;
                    font-size: 18px;
                    color: #3d3d3d;
                    width: 39px;
                    height: 39px;
                    line-height: 44px;
                    border-radius: 45px;
                    text-align: center;
                    float: left;
                    transition: background .3s;
                }
            }
        }
    }
}

.marcas-sanders #tabs ul li a:hover,
.marcas-sanders #tabs ul li.active a,
.marcas-sanders #tabs ul li.ui-state-active a {
    background-color: #c22229;
    color: #fff;
    opacity: 1 !important;
}

.marcas-sanders .array-marcas .box-marca {
    display: inline-block;
    float: left;
    width: 150px;
    height: 100px;
}

.marcas-sanders ul.array-marcas a {
    width: calc(100% / 7);
    height: 100px;
    float: left;
    text-align: center;
    margin: 5px;
}

@media screen and (max-width:$mobile) {
    .marcas-sanders ul.array-marcas a {
        width: calc(100% / 2);
        margin: 0 0 15px;
    }

    .marcas-sanders #tabs ul {
        height: 150px;
    }

    .marcas-sanders #tabs ul li {
        margin-right: 0px;
    }
}