@import url('http://fonts.cdnfonts.com/css/monotype-corsiva?styles=21147');
.montar-meu-kit{
    .kit_page{
        margin: 0px 0px 30px 0;
    }
    .banner{
        margin-bottom: 35px;
    }
    .kit_container{
        background-color: hsl(0, 0%, 96%);
        padding: 32px 28px;
        select{
            padding: 10px 7px;
            border: 1px solid #DCDCDC;
            box-sizing: border-box;
            border-radius: 3px;
            -moz-appearance:none; /* Firefox */
            -webkit-appearance:none; /* Safari and Chrome */
            appearance:none;
        }
        .display_header{
            margin-bottom: 20px;
            p{
                font-style: normal;
                font-weight: 600;
                font-size: 36px;
                line-height: 16px;
                color: #363636;
            }
        }
        .display_faculdade{
            position: relative;
            p{
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 16px;
                color: #363636;
                margin-bottom: 9px;
            }
            select{
                width: 100%;
                &.alert{
                    border-color: #fb3d3d;
                    background: #ffd7d7;
                }
            }
            p.obs_logo {
                margin-top: 9px;
                font-size: 14px;
                display: flex;
                img {
                    width: 23px;
                    height: auto;
                }
                // a.whatsapp-kit {
                // }
            }
            &:before{
                content: '';
                display: block;
                position: absolute;
                right: 15px;
                top: 39px;
                border: solid #5F5F5F;
                border-width: 0 1px 1px 0;
                display: inline-block;
                padding: 3px;
                transform: rotate(45deg);
                -webkit-transform: rotate(45deg);
            }
            .input-check{
                margin-top: 10px;
                display: flex;
                p{
                    margin-left: 8px;
                    display: inline-block;
                    margin-bottom: 0;
                    font-size: 14px;
                }
            }
        }
        .display_kit{
            margin-bottom: 25px;
            display: flex;
            flex-wrap: wrap;
            .selection_01{
                order: 1;
            }
            .display_bordado{
                order: 2;
            }
            .selection_02, .selection_03, .selection_04, .selection_05, .selection_06, .selection_07 {
                order: 3;
            }
            .selection{
                width: 100%;
                display: flex;
                margin-top: 17px;
                &.have_sizes.alert{
                    .prod_size{
                        border-color: #fb3d3d;
                        background: #ffd7d7;
                    }
                }
                &.selection_03, &.selection_04, &.selection_06, &.selection_07{
                    .input{
                        min-width: 75%;
                    }
                }
            }
            .input{
                margin-right: 10px;
                position: relative;
                &:nth-child(1){
                    min-width: calc(52.5% - 10px);
                }
                &:nth-child(2){
                    min-width: 22.5%;
                }
                select{
                    display: block;
                    width: 100%;
                    padding-right: 34px;
                }
                p{
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 16px;
                    color: #363636;
                    margin-bottom: 9px;
                }
                &:before{
                    content: '';
                    display: block;
                    position: absolute;
                    right: 15px;
                    top: 41px;
                    border: solid #5F5F5F;
                    border-width: 0 1px 1px 0;
                    display: inline-block;
                    padding: 3px;
                    transform: rotate(45deg);
                    -webkit-transform: rotate(45deg);
                }
            }
            .quantity{
                min-width: calc(25% - 10px);
                p{
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 16px;
                    color: #363636;
                    margin-bottom: 9px;
                }
            }
            .qnt_input{
                padding: 5px;
                background: #FFFFFF;
                border: 1px solid #DCDCDC;
                box-sizing: border-box;
                border-radius: 3px;
                display: flex;
                justify-content: space-between;
                input{
                    text-align: center;
                    width: 35px;
                    user-select: none;
                    background: #fff;
                    color: #363636;
                    -moz-appearance: textfield;
                    &:-webkit-outer-spin-button,
                    &:-webkit-inner-spin-button {
                        -webkit-appearance: none;
                        margin: 0;
                    }
                }
                .plus{
                    background: #5F5F5F;
                    color: #fff;
                    width: 29px;
                    height: 29px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                }
                .minus{
                    background: #DCDCDC;
                    color: #5F5F5F;
                    width: 29px;
                    height: 29px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                }
            }
        }
        .display_bordado{
            margin-top: 17px;
            margin-bottom: 20px;
            &.actived{
                .input{
                    // &:nth-child(2){
                    //     // display: inline !important;
                    //     pointer-events: inherit;
                    //     opacity: 1;
                    // }
                    &:nth-child(3){
                        display: block !important;
                    }
                }
            }
            &.desabilitar {
                .input{
                    &:nth-child(2){
                        pointer-events: none;
                        opacity: 0.7;
                    }
                }
            }
            .input{
                p{
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 16px;
                    color: #363636;
                    margin-bottom: 9px;
                }
                &:nth-child(1), &:nth-child(2){
                    display: inline-block;
                    input, select{
                        width: 100%;
                    }
                }
                &:nth-child(1){
                    min-width: 185px;
                    margin-right: 10px;
                    position: relative;
                    &:before{
                        content: '';
                        display: block;
                        position: absolute;
                        right: 15px;
                        top: 41px;
                        border: solid #5F5F5F;
                        border-width: 0 1px 1px 0;
                        display: inline-block;
                        padding: 3px;
                        transform: rotate(45deg);
                        -webkit-transform: rotate(45deg);
                    }
                }
                &:nth-child(2){
                    margin-right: 0;
                    width: calc(100% - 195px);
                    &:before{
                        display: none;
                    }
                    input{
                        padding: 7px 8px;
                        border: 1px solid #DCDCDC;
                        box-sizing: border-box;
                        border-radius: 3px;
                        font-family: 'Monotype Corsiva', sans-serif;
                        font-size: 20px;
                        &.alert{
                            border-color: #fb3d3d;
                            background: #ffd7d7;
                        }
                    }
                }
                &:nth-child(3){
                    display: none;
                    margin-top: 17px;
                    .show_name{
                        height: 100px;
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background: #fff;
                        border: 1px solid #DCDCDC;
                        box-sizing: border-box;
                        border-radius: 3px;
                        font-size: 32px;
                        font-family: 'Monotype Corsiva', sans-serif;
                    }
                }
                span{
                    display: inline-block;
                    margin-top: 4px;
                    margin-right: 25px;
                    font-size: 13px;
                    &::before{
                        content: '';
                        width: 8px;
                        height: 8px;
                        display: inline-block;
                        background: #333;
                        border-radius: 7px;
                        position: relative;
                        margin-left: 5px;
                        margin-right: 6px;
                    }
                }
            }
        }
        .display_footer{
            .price_display{
                font-weight: normal;
                font-size: 18px;
                line-height: 16px;
                color: #363636;
                margin-bottom: 25px;
                span{
                    font-weight: 600;
                }
            }
            .parcela_display {
                .parcelamento-kit {
                    font-weight: normal;
                    font-size: 18px;
                    line-height: 16px;
                    color: #363636;
                    margin-bottom: 25px;
                    span{
                        font-weight: 600;
                    } 
                }
            }
            .buttons{
                display: flex;
                justify-content: space-between;
                a{
                    padding: 14px 0;
                    text-align: center;
                    min-width: calc(50% - 10px);
                    font-weight: 700;
                    &:hover{
                        color: #363636;
                    }
                }
                a:nth-child(1){
                    border: 1px solid #005299;
                    box-sizing: border-box;
                    border-radius: 3px;
                    background: #005299;
                    color: #fff !important;
                    padding: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    span{
                        margin-right: 7px;
                    }
                    &:hover{
                        color: #fff;
                    }
                }
                a:nth-child(2){
                    border: 1px solid #DCDCDC;
                    background: #DCDCDC;
                    border-radius: 3px;
                }
            }
            .buy_button{
                margin-top: 15px;
                background: #37A96D;
                border-radius: 3px;
                display: block;
                font-style: normal;
                font-weight: bold;
                font-size: 20px;
                line-height: 25px;
                text-align: center;
                color: #FFFFFF;
                padding: 18px 0;
                a{
                    &:hover{
                        color: #FFFFFF !important;
                    }
                }
            }
            .disclaimer{
                margin-top: 25px;
            }
        }
    }
    .display_kit-images{
        display: none;
        &.actived{
            display: block;
        }
        img{
            max-width: 100%;
        }
    }
    .description{
        margin-top: 60px;
        background: #F5F5F5;
        padding: 75px 0;
        .col-xs-12{
            width: 100%;
        }
        h2{
            font-family: Source Sans Pro;
            font-style: normal;
            font-weight: 300;
            font-size: 40px;
            line-height: 16px;
        }
        .tabs{
            margin-top: calc(55px + 17px);
            font-style: normal;
            font-weight: normal;
            font-size: 22px;
            line-height: 26px;
            span{
                display: inline-block;
                cursor: pointer;
                padding: 12px 35px;
                &.actived{
                    background-color: #fff;
                    font-weight: bold;
                }
            }
        }
        .ref_tab{
            display: none;
            background: #fff;
            padding: 35px;
            h4{
                font-size: 20px;
                margin-top: 30px;
            }
            &.actived{
                display: block;
            }
        }

    }
    @media (max-width: 768px ) {
        .kit_container{
            margin-top: 30px;
            padding: 22px 15px;
            margin-left: -15px;
            margin-right: -15px;
            .display_kit{
                .qnt_input{
                    min-width: 105px;
                }
                .selection{
                    &.have_sizes{
                        flex-wrap: wrap;
                        .input:nth-child(1){
                            width: 100%;
                            margin-right: 0;
                            margin-bottom: 10px;
                        }
                        .input:nth-child(2){
                            width: calc(100% - 115px);
                        }
                    }
                    &:not(.have_sizes){
                        .input:nth-child(1){
                            min-width: calc(100% - 115px);
                        }
                    }
                }
            }
            .display_bordado{
                .input:nth-child(1), .input:nth-child(2){
                    width: 100%;
                    margin-bottom: 15px;
                }
                .input:nth-child(3) {
                    margin-top: 5px;
                    .show_name{
                        font-size: 22px;
                    }
                }
            }
            .display_footer{
                .buttons{
                    display: block;
                    a{
                        display: block;
                    }       
                    a:nth-child(1){
                        margin-bottom: 15px;
                    }
                }
            }
        }
        .description{
            h2{
                font-size: 26px;
                margin-left: 15px;
            }
            .tabs{
                span{
                    padding: 12px 31px;
                    font-size: 16px;
                }
            }
            img{
                max-width: 100%;
            }
            .ref_tab{
                padding: 20px;
            }
        }
    }
}