// PRATELEIRA PERFORMA

.performa-price-vitrine{
    color: black !important;
    font-size: 17px !important;
    font-weight: 400 !important;
    letter-spacing: normal !important;
    
    strong{
        color: #448bcb !important;
        font-size: 20px !important;
    }
}

//FLAGS DE PRATELEIRA E PG  DE PRODUTO
.prateleira .product-flags,
.produto .product_box_image .flags {
    .flag {
        font-size: 0;

        &.desconto10,
        &.desconto20,
        &.desconto30,
        &.desconto40,
        &.desconto50 {
            width: 60px;
            height: 60px;
            display: block;
            background-size: 100%;
            background-position: center;
            background-repeat: no-repeat;
        }

        &.desconto10 {
            background-image: url(/arquivos/flag_desconto_10.png);
        }

        &.desconto20 {
            background-image: url(/arquivos/flag_desconto_20.png);
        }

        &.desconto30 {
            background-image: url(/arquivos/flag_desconto_30.png);
        }

        &.desconto40 {
            background-image: url(/arquivos/flag_desconto_40.png);
        }

        &.desconto50 {
            background-image: url(/arquivos/flag_desconto_50.png);
        }
    }
}

.prateleira {
    > h2 {
        font-size: 40px;
        font-weight: 300;
        color: black;
        text-align: center;
        margin: 30px 0;
    }

    li {
        width: calc(100% / 3);
        display: inline-block;
        text-align: center;
        padding: 10px;

        article {
            position: relative;
            height: auto;
            transition: all .3s;
            margin-bottom: 40px;
            padding-bottom: 40px;
            border: 1px solid transparent;

            &[data-available="False"],
            &[data-category="Kit Aluno Gastronomia"] {
                //VISUALIZAR
                .prateleira-view {
                    display: inline-block!important;
                    // background-color: #b7b7b7;
                    background-color: #37a96d;
                }

                //COMPRAR
                .prateleira-cta {
                    display: none;
                }
            }

            &[data-available="False"] {
                .sold_out {display: none;}
            }

            @media screen and (max-width:$mobile) {
                height: auto;
            }

            &:hover {
                box-shadow: 0 0 14px 1px #e4e4e4;

                .prateleira-view,
                .prateleira-cta {
                    opacity: 1
                }
            }
        }

        .product-photo {
            position: relative;
            a{
                display: block;
                overflow: hidden;
            }
            img {
                max-width: 100%;
                height: auto;
            }
        }

        .marcas-img{
            display: none;

            // .marcas-img{
            //     display:block;
            //     position: absolute;
            //     width: 100px;
            //     height: 50px;
            //     top: 5px;
            //     left: 5px;
            //     text-align: center;
            
            //     p{
            //         font-size: 0;
            //         width: 100%;
            //         height: 100%;
            //         max-width: 100px;
            //         max-height: 50px;
            //         background-size: contain;
            //         background-position: center;
            //         background-repeat: no-repeat;
            
            //         &.zwilling{
            //             background-image: url('/arquivos/zwilling.png');
            //             background-repeat: no-repeat;
                        
            //         }
            
            //         &.global{
            //             background-image: url('/arquivos/global.png');
            //             background-repeat: no-repeat;
            //         }
            
            //         &.staub{
            //             background-image: url('/arquivos/staub.png');
            //             background-repeat: no-repeat;
            //         }
            
            //         &.bsf{
            //             background-image: url('/arquivos/bsf.png');
            //             background-repeat: no-repeat;
            //         }
            
            //         &.ballarini{
            //             background-image: url('/arquivos/ballarini.png');
            //             background-repeat: no-repeat;
            //         }
            
            //         &.victorinox{
            //             background-image: url('/arquivos/victorinox.png');
            //             background-repeat: no-repeat;
            //         }
            
            //         &.leatherman{
            //             background-image: url('/arquivos/leatherman.png');
            //             background-repeat: no-repeat;
            //         }
            
            //         &.wusthof{
            //             background-image: url('/arquivos/wusthof.png');
            //             background-repeat: no-repeat;
            //         }
            //     }
            
            // }
        }

        .marca-logo{
            display:block !important;
            position: absolute;
            // top: 5px;
            // left: 5px;
            bottom: 0px;
            left: 50%;
            transform: translatex(-50%);
            text-align: center;
            
            img{
                max-width: 100px;
                max-height: 50px;
            }
        }

        .product-name {
            margin: 15px 0;
            
            a {
                height: 60px;
                display: block;
                font-size: 12px;
                line-height: 15px;
                text-transform: uppercase;
                color: black;
                font-family: 'Open Sans', sans-serif;
                font-weight: normal;

                @media screen and (max-width:$iphone5) {
                    font-size: 12px;
                }
            }
        }

        .product-flags {
            position: absolute;
            top: 5px;
            right: 5px;
            text-align: center;
        }

        .product-price {
            height: 91px;
            margin: 15px 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            .sold_out {color: $cor-principal;}

            .list-price {
                height: 18px;
                text-decoration: line-through;
                display: block;
            }

            .best-price{
                display: block;
                color: black;
                font-size: 16px;
                font-weight: 400;

                span{
                    color: #448bcb;
                    font-weight: 700;
                    font-size: 19px;
                }
            }

            .por {
                font-size: 14px;
                font-weight: 400;

            }

            .a-vista {
                font-size: 16px;
                font-weight: 400;

                span{
                    color: #d17d4d;
                    font-weight: 700;
                    font-size: 19px;
                }
            }

            .boleto {
                display: block;
                font-size: 14px;
                font-weight: 400;
                &:after{
                    content: '';
                    display: block;
                    height: 1px;
                    width: 100%;
                    background-color: #7a7a7a;
                    margin: 7px 0 5px;
                }
            }
        }

        .prateleira-view {
            display: none;
        }

        .prateleira-view,
        .prateleira-cta {
            width: 80%;
            position: absolute;
            background-color: $cor-cta;
            color: #fff;
            text-transform: uppercase;
            height: 50px;
            line-height: 50px;
            text-align: center;
            display: inline-block;
            bottom: -20px;
            opacity: 0;
            transition: all .3s;
            left: 10%;
            border-radius: 4px;
            // font-size: 20px;
            font-size: 15px;
            font-weight: bold;
            background-repeat: no-repeat;
            background-position: center;
            background-size: 40px;

            &.loading {
                pointer-events: none;
                font-size: 0;
                background-image: url(/arquivos/ico_loading_white.gif);
            }

            @media screen and (max-width:$mobile) {
                position: static;
                opacity: 1;
            }
        }
        
        .buyTogethe-cta {
            width: 80%;
            position: absolute;
            background-color: #fff;
            color: $cor-cta;
            text-transform: uppercase;
            border: 1px solid $cor-cta;
            height: 50px;
            line-height: 50px;
            text-align: center;
            display: inline-block;
            bottom: -20px;
            opacity: 1;
            transition: all .3s;
            left: 10%;
            border-radius: 3px;
            font-size: 20px;
            font-weight: bold;
            background-repeat: no-repeat;
            background-position: center;
            background-size: 40px;

            &.loading {
                font-size: 0;
                border: 0;
                color: #fff;
                display: flex;
                justify-content: center;
                // pointer-events: none;
                background-color: $cor-cta;
                
                @media screen and (max-width:$mobile) {
                    margin: 0 auto;
                }
                
                &:before{
                    content: '';
                    display: block;
                    width: 16px;
                    height: 13px;
                    margin-top: 18px;
                    margin-right: 12px;
                    background-image: url('/arquivos/checkAdd.png');
                    
                    @media screen and (max-width:$mobile) {
                        margin-right: 7px;
                    }
                }
                
                &:after{
                    content: 'Adicionado';
                    font-size: 20px;
                    
                    @media screen and (max-width:$mobile) {
                        font-size: 14px;
                    }
                }
            }

            @media screen and (max-width:$mobile) {
                font-size: 14px;
                position: static;
                opacity: 1;
            }
        }
    }
}

.departamento .prateleira li .prateleira-cta{
    left: 0;
    width: 100%;
    @media (max-width: 768px) {
        left: 2.5% !important;
        width: 95%;
        font-size: 12px;   
    }
}

.box_compre_junto .prateleira figure{
    display: none !important;
}