html {
    overflow-x: hidden;
}
.produto {
    overflow-x: hidden;

    @media screen and (min-width: 768px) {
        position: relative;
        width: 100%;
        height: 100%;
    }

    [id*="performa"] {
        display: none;
    }

    &.actived {
        @media screen and (min-width: 768px) {
            overflow: hidden;
            // overflow: scroll;
            // -webkit-overflow-scrolling: touch;
        }
    }

    &.produto-look {
        .valor-por-kit {
            display: block;
            font-size: 20px;
            font-weight: 700;
            display: block;
            color: #448bcb;
            letter-spacing: 1px;
        }
    }

    .marcas-prod {
        display: block !important;
        position: absolute;
        width: 100px;
        height: 50px;
        top: 10px;
        left: 105px;
        z-index: 1000;
        text-align: center;

        .brandName{
            font-size: 0;
            width: 100%;
            height: 100%;
            max-width: 100px;
            max-height: 50px;
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;

            &.Zwilling {
                background-image: url("/arquivos/zwilling-1.png");
                background-repeat: no-repeat;
            }

            &.Global {
                background-image: url("/arquivos/global.png");
                background-repeat: no-repeat;
            }

            &.Staub {
                background-image: url("/arquivos/staub.png");
                background-repeat: no-repeat;
            }

            &.BSF {
                background-image: url("/arquivos/bsf.png");
                background-repeat: no-repeat;
            }

            &.Ballarini {
                background-image: url("/arquivos/ballarini.png");
                background-repeat: no-repeat;
            }

            &.Victorinox {
                background-image: url("/arquivos/victorinox.png");
                background-repeat: no-repeat;
            }

            &.Leatherman {
                background-image: url("/arquivos/leatherman.png");
                background-repeat: no-repeat;
            }

            &.Wusthof {
                background-image: url("/arquivos/wusthof.png");
                background-repeat: no-repeat;
            }

            a {
                display: none;
            }
        }
        
    }

    .product_box_image {
        //FLAGS DE PROMOÇÃO - ESTILO:prateleira.scss
        .flags {
            position: absolute;
            right: 10px;
            top: 10px;
            z-index: 2;
        }

        .apresentacao {
            @media screen and (min-width: $mobile) {
                margin-right: -15px;
            }

            #show {
                display: flex;
                flex-wrap: wrap;
                flex-direction: row;

                @media screen and (max-width: $mobile) {
                    width: 100%;
                }

                #include {
                    @media screen and (min-width: $mobile) {
                        order: 2;
                        width: 88%;
                    }

                    @media screen and (max-width: $mobile) {
                        width: 100%;
                    }

                    #image {
                        text-align: center;

                        @media screen and (max-width: $mobile) {
                            *:not(iframe) {
                                pointer-events: none;
                            }

                            img {
                                width: 100%;
                                height: 100%;
                            }
                        }
                    }
                }

                .thumbs {
                    @media screen and (min-width: $mobile) {
                        width: 10%;
                        margin-right: 2%;
                    }

                    @media screen and (max-width: $mobile) {
                        display: flex;
                    }

                    li {
                        border: 1px solid #dcdcdc;

                        @media screen and (min-width: $mobile) {
                            width: 100%;
                            height: 80px;
                            margin-bottom: 10px;
                        }

                        @media screen and (max-width: $mobile) {
                            width: 70px;
                            height: 70px;
                            margin-right: 5px;
                        }

                        &:last-child {
                            margin-bottom: 0;
                        }

                        a {
                            height: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            img {
                                width: 80%;
                                height: auto;
                            }
                        }
                    }
                }
            }
        }
    }

    .product_box_info {
        padding: 20px;
        border: 1px solid #dcdcdc;

        @media screen and (max-width: $mobile) {
            margin-top: 5px;
        }

        .productName {
            font-size: 24px;
            font-weight: 300;
            margin-bottom: 10px;
        }

        .product_ref {
            display: block;
            margin-bottom: 15px;
            padding-bottom: 15px;
            border-bottom: 1px solid #dcdcdc;
            font-size: 14px;
            font-weight: 300;
            color: #747474;

            .productReference {
                margin-left: 5px;
            }

            .code {
                display: flex;
            }
        }

        .product_sku {
            display: inline-block;

            ul {
                li {
                    &:last-child {
                        margin-top: 10px;
                    }
                }
            }

            input[type="radio"] {
                display: none;

                + label {
                    color: #000;
                    cursor: pointer;
                    border-radius: 50%;
                    border: 2px solid #000;
                    background-color: transparent;
                    font-size: 14px;
                    padding: 5px 7px;
                    margin: 5px 2.4px;
                    display: inline-block;
                }

                &.checked + label {
                    background-color: #292929;
                    color: #d9d9d9;
                    font-weight: bold;
                }

                &.item_unavailable + label {
                    background-color: #dadada;
                    border: none;
                    color: #8e8e8e;
                    font-weight: 300;
                }
            }

            .portal-notify-me-ref {
                .notifyme {
                    .notifyme-title {
                        font-size: 20px;
                        text-transform: uppercase;
                    }

                    form {
                        .sku-notifyme-form {
                            p {
                                margin-top: 5px;
                                font-size: 14.5px;
                            }

                            input {
                                &[type="text"] {
                                    font-size: 15px;
                                    border: 1px solid #7a7a7a;
                                    padding: 5px 7px;
                                    border-radius: 5px;
                                }

                                &.sku-notifyme-client-name {
                                    margin-top: 10px;
                                }

                                &.sku-notifyme-client-email {
                                    margin: 10px 0;
                                }

                                &[type="button"] {
                                    font-size: 15px;
                                    border: 0;
                                    padding: 5px 9px;
                                    border-radius: 4px;
                                    text-transform: capitalize;
                                    background-color: #3ca96c;
                                    color: #fefefe;
                                    margin-left: 5px;
                                }
                            }
                        }
                    }
                }
            }
        }

        .star {
            display: flex;
            margin-top: 15px;

            strong {
                display: none;
            }

            span {
                font-size: 0;
                width: 94px;
                height: 16px;
                display: flex;
                background-repeat: no-repeat;
                background-image: url("/arquivos/sprite-star.png");

                &.avaliacao0 {
                    background-position: 0 0;
                    filter: grayscale(1);
                }

                &.avaliacao1 {
                    background-position: 0 -73px;
                }

                &.avaliacao2 {
                    background-position: 0 -56px;
                }

                &.avaliacao3 {
                    background-position: 0 -40px;
                }

                &.avaliacao4 {
                    background-position: 0 -20px;
                }

                &.avaliacao5 {
                    background-position: 0 0;
                }
            }

            a {
                color: #707070;
                margin-left: 10px;
                text-decoration: underline;
            }
        }

        .product_rating {
            display: none;
        }

        .Avista {
            display: block;

            p {
                font-size: 21px !important;
                font-weight: 700;
                color: #d17d4d;
            }
        }

        .product_boleto {
            p {
                display: flex;
                font-size: 16px;
                color: black;
            }

            &:after {
                content: "";
                display: block;
                height: 1px;
                width: 70%;
                background-color: #7a7a7a;
                margin: 8px 0 5px;

                @media screen and (max-width: $mobile) {
                    width: 75%;
                }
            }
        }

        .product_box_price {
            margin-top: 0;

            .descricao-preco {
                .valor-dividido {
                    display: block !important;
                    margin: 0px 0 5px;
                    font-style: normal;

                    span {
                        font-size: 16px;
                        color: #000;
                        display: flex;
                        align-items: flex-end;

                        strong {
                            font-weight: 400;

                            .skuBestInstallmentValue {
                                margin-left: 2px;
                                position: relative;
                                font-size: 16px;
                            }
                        }

                        > span {
                            display: flex;
                            font-size: 0;

                            &:before {
                                content: "em até";
                                font-size: 16px;
                            }

                            &:after {
                                content: "de";
                                font-size: 16px;
                            }

                            label {
                                font-size: 16px;
                                display: flex;
                                margin: 0 3px;
                            }
                        }
                    }
                }

                .price-best-price {
                    display: block !important;

                    &.valor-por {
                        color: black;
                        font-size: 0;
                        font-weight: 400;
                        &.or_none{
                            &::before{
                                display: none !important;
                            }
                        }
                        &:before {
                            content: "ou";
                            margin-right: 3px;
                            font-size: 18px;
                        }

                        strong {
                            color: #448bcb;
                            font-size: 21px;
                        }
                    }
                }

                .price-list-price {
                    &.valor-de {
                        margin-right: 2px;
                        text-decoration: line-through;
                    }
                }

                &.with_promo {
                    .valor-dividido {
                        span {
                            > span {
                                &:before {
                                    content: "em até";
                                }
                            }
                        }
                    }

                    .price-best-price {
                        &.valor-por {
                            display: none !important;
                        }
                    }

                    .price-list-price {
                        &.valor-de {
                            display: inline-block !important;
                        }
                    }
                }
            }

            .preco-a-vista {
                display: none !important;
                font-size: 0;

                &:before {
                    content: "À vista por ";
                    font-size: 18px;
                }

                .skuPrice {
                    font-size: 21px !important;
                    color: #d17d4d;
                }
            }
        }

        .buy-in-page-quantity {
            display: none !important;
        }

        .buy-in-page-button,
        .buyButtonPerso {
            display: block;
            width: 100%;
            height: 50px;
            line-height: 50px;
            text-align: center;
            font-weight: bold;
            background-color: #3ca96c;
            color: white;
            border-radius: 3px;
            margin: 20px 0;
            font-size: 0;
            text-transform: uppercase;

            &:before {
                content: "COMPRAR"; //"Adicionar ao carrinho"
                font-size: 23px;
            }

            &.disabled {
                opacity: 0.8;
                pointer-events: none;
            }

            &.loading {
                cursor: wait;

                &:before {
                    content: "Aguarde...";
                    font-size: 23px;
                }
            }
        }

        .product_frete {
            display: block !important;
            padding-top: 10px;
            border-top: 1px solid #dcdcdc;

            form {
                .content {
                    display: flex;

                    .column_1 {
                        width: 30%;

                        p {
                            display: block !important;
                        }
                    }

                    .column_2 {
                        width: 70%;

                        .input {
                            width: 100%;
                            height: 40px;
                            display: flex !important;
                            align-items: center;
                            border: 1px solid #dcdcdc;
                            border-radius: 3px;

                            input[type="text"] {
                                width: 65%;
                                text-indent: 10px;
                            }

                            input[type="submit"] {
                                width: 35%;
                                background-color: transparent;
                                border-left: 1px solid #dcdcdc;
                                color: #448bcb;
                                font-weight: bold;
                                cursor: pointer;
                            }
                        }
                    }
                }
            }

            .result {
                table {
                    display: block;
                    margin-top: 20px;
                    font-size: 13px;
                    font-weight: 400;

                    thead {
                        width: 100%;
                        background-color: #eee;
                        display: flex;
                        justify-content: space-between;
                        margin-bottom: 10px;
                        padding: 5px;

                        tr {
                            display: block;
                            width: 100%;

                            th {
                                &:nth-child(1) {
                                    width: 35%;
                                }
                            }
                        }
                    }

                    tbody {
                        display: block;

                        tr {
                            width: 100%;
                            display: block;
                            margin-bottom: 10px;
                            padding-bottom: 10px;
                            border-bottom: 1px solid #dcdcdc;

                            &:last-child {
                                border-bottom: none;
                            }

                            td {
                                &:nth-child(1) {
                                    width: 30%;
                                    text-align: center;
                                }
                                &:nth-child(2) {
                                    padding-left: 35px;
                                }
                            }
                        }
                    }
                }
            }
        }

        .product_btn_view {
            width: 100%;
            height: 40px;
            line-height: 40px;
            display: block;
            text-align: center;
            background-color: #eeeeee;
            border-radius: 3px;
            margin-top: 20px;
        }
    }

    .parcelamento_prod {
        margin-top: 20px;
        p {
            cursor: pointer;
            display: flex;
            font-size: 14px;
            color: black;

            &:before {
                content: "";
                display: block;
                width: 24px;
                height: 16px;
                margin-right: 8px;
                background-image: url("/arquivos/credit-card.png");
                background-repeat: no-repeat;
                background-size: auto;
            }

            &:after {
                content: "";
                width: 8px;
                height: 8px;
                border-right: 2px solid #000;
                border-bottom: 2px solid #000;
                display: block;
                transform: rotate(45deg);
                margin-top: 4px;
                margin-left: 9px;
            }

            &.upp {
                &:after {
                    content: "";
                    width: 8px;
                    height: 8px;
                    border-right: 2px solid #000;
                    border-bottom: 2px solid #000;
                    display: block;
                    transform: rotate(224deg);
                    margin-top: 8px;
                    margin-left: 9px;
                }
            }
        }

        .titulo-parcelamento,
        .see-other-payment-method-link {
            display: none;
        }

        .other-payment-method-ul {
            padding: 15px 10px 10px;
            // border
        }
    }

    .product_description {
        margin-top: 20px;
        padding-top: 20px;
        border-top: 1px solid #dcdcdc;

        @media screen and (max-width: $mobile) {
            width: 100%;
            height: auto;
        }

        h2,
        h3 {
            font-size: 40px;
            font-weight: 300;
            margin-bottom: 25px;
        }

        h3 {
            margin-top: 20px;
            padding-top: 15px;
            border-top: 1px solid #dcdcdc;

            &:empty {
                display: none;
            }
        }

        img {
            display: block;
            margin: 0 auto;
        }

        ul {
            li {
                padding: 10px;

                &:nth-child(2n + 1) {
                    background-color: #eeeeee;
                }
            }
        }

        .descricao-faca {
            width: 70%;
            @media screen and (max-width: 768px) {
                width: 100%;
            }

            h3 {
                font-size: 40px;
                font-weight: 300;
                margin-bottom: 25px;
                font-size: 25px;
            }

            h3 {
                margin-top: 20px;
                padding-top: 15px;
                border-top: 1px solid #dcdcdc;

                &:empty {
                    display: none;
                }
            }

            img {
                display: block;
                margin: 0 auto;
            }

            ul {
                li {
                    padding: 10px;

                    &:nth-child(odd) {
                        background-color: #eeeeee;
                    }
                }
            }
        }

        .img-faca {
            width: 30%;

            @media screen and (max-width: 768px) {
                width: 100%;
            }

            img {
                width: 100%;
                height: auto;
            }
        }
    }

    #resenha {
        .media {
            display: none;
        }

        h4 {
            font-size: 0px;
            font-weight: 300;
            margin-bottom: 25px;
            padding-top: 60px;
            margin-top: 40px;
            border-top: 1px solid #dcdcdc;

            &:before {
                content: "Avaliações";
                font-size: 40px;
            }
        }

        h2 {
            color: #515151;
            font-size: 42px;
            position: relative;
            margin-bottom: 15px;
        }

        #opcoes-avalie {
            margin: 28px 0 30px;

            > p {
                display: none;
            }

            input {
                float: left;
                margin-top: 3px;
                margin-right: 5px;
            }
        }

        .rating {
            width: 60%;
            float: left;
            font-size: 0;

            @media screen and (max-width: $mobile) {
                width: 100%;
                float: unset;
            }
        }

        .rating li {
            margin-bottom: 10px;
            height: 20px;

            @media screen and (max-width: $mobile) {
                display: flex;
                flex-direction: row;
            }
        }

        .links-resenha-usuario {
            clear: both;
            margin-top: 10px;
        }

        .publique {
            a {
                background-color: #4d5051;
                width: 189px;
                height: 42px;
                float: left;
                font-size: 15px;
                color: #fefefe;
                line-height: 42px;
                border-radius: 30px;
                margin-top: 110px;
                font-weight: 300;
            }
        }

        li .voteRatingStar strong {
            background: url(/arquivos/sprite-star.png) no-repeat;
            width: 94px;
            height: 15px;
            margin-bottom: 10px;
            float: left;
        }

        .voteRatingStar .avaliacao50 {
            background-position: 0 0;
        }

        .voteRatingStar .avaliacao40 {
            background-position: 0 -15px;
        }

        .voteRatingStar .avaliacao30 {
            background-position: 0 -30px;
        }

        .voteRatingStar .avaliacao20 {
            background-position: 0 -45px;
        }

        .voteRatingStar .avaliacao10 {
            background-position: 0 -60px;
        }

        .voteRatingBar {
            float: left;
            width: 63%;
            margin-left: 10px;
            background-color: #f0f0f0;
            height: 100%;

            @media screen and (max-width: $mobile) {
                width: 40%;
            }
        }

        .voteRatingBar span {
            background: #f1e6c6;
            float: left;
            height: 100%;
            margin-bottom: 10px;
        }

        .voteRatingBar ~ span {
            font-size: 11px;
            color: #969696;
            margin-left: 8px;
            font-weight: 700;
            margin-top: 5px;
            float: left;
        }

        .avalie-produto {
            float: left;
            width: 18%;
            margin-left: 15px;

            @media screen and (max-width: $mobile) {
                width: 100%;
            }

            #lnkPubliqueResenha {
                position: absolute;
                top: 270px;
                right: 13px;
                border-radius: 30px;
            }
        }

        .avalie-produto h5 {
            color: #212121;
            font-size: 16px;
            font-weight: 700;
            margin-bottom: 10px;
        }

        .publique a {
            text-align: center;

            @media screen and (max-width: $mobile) {
                width: 100%;
                margin-top: 20px;
            }
        }

        .ver-todos-comentarios a {
            font-weight: 300;
            border-radius: 20px;

            right: 0;
            text-align: center;
            margin-left: 611px;
            display: block;
            margin-bottom: 20px;
        }

        #userReviewShowAllComments {
            background-color: #dedede;
            padding: 6px 10px;
        }

        .avalie-produto .rating-avalie a span {
            background: url(/arquivos/sprite-star.png) 0 -75px;
            width: 20px;
            height: 15px;
            display: inline-block;
            text-indent: -9999px;
        }
    }

    .top_kit {
        margin: 40px 0;

        > .left {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        .imagem_kit,
        .prateleira-kits ul li {
            background-color: #f8f8f8;
        }

        .imagem_kit {
            &:hover {
                img {
                    transform: scale(4.5);
                }
            }
            width: 33%;
            height: 65px;
            border: 1px solid #939393;
            margin-top: 10px;
            border-radius: 65px;
            display: flex;

            @media screen and (max-width: $mobile) {
                width: 100%;
                &:hover {
                    img {
                        transform: scale(1);
                    }
                }
            }
        }

        .imagem_kit .image,
        .produto-interna .imagem_kit .apresentacao,
        .produto-interna .imagem_kit .apresentacao #image {
            width: 55px !important;
            height: 55px !important;
        }

        .imagem_kit .image {
            margin: 3px 0 0 25px;
        }

        .imagem_kit .image img {
            max-width: 100% !important;
            max-height: 100% !important;
        }

        .imagem_kit .right {
            width: 240px;
            margin-right: 25px;
        }

        .imagem_kit .right h3 {
            font-size: 14px;
            color: #4b4a4a;
            text-transform: uppercase;
            font-family: Lato, sans-serif;
            margin-top: 5px;
            cursor: default;
        }

        .imagem_kit .productReference,
        .imagem_kit .right h3 + p {
            display: none;
        }
    }

    .produto-look .similar_junto .prateleira-basica li {
        margin-right: 80px;
    }

    .box_compre_junto {
        @media screen and (max-width: $mobile) {
            margin: 20px 0;
        }

        h2 {
            display: block;
            font-size: 40px;
            font-weight: 300;
            color: black;
            text-transform: uppercase;
            margin: 10px 0 20px;
            text-align: center;
        }

        .columns {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            .column {
                &.column_1 {
                    width: 75%;

                    @media screen and (max-width: $mobile) {
                        width: 100%;
                    }

                    .prateleira {
                        width: 100%;

                        @media screen and (max-width: $mobile) {
                            padding-bottom: 15px;
                        }

                        h2 {
                            display: none;
                        }

                        /* width */
                        ::-webkit-scrollbar {
                            width: 20px;
                            height: 9px;
                        }

                        /* Track */
                        ::-webkit-scrollbar-track {
                            border-radius: 10px;
                        }

                        /* Handle */
                        ::-webkit-scrollbar-thumb {
                            background-color: $cor-principal;
                            border-radius: 10px;
                        }

                        ul {
                            justify-content: space-between;

                            @media screen and (max-width: $mobile) {
                                display: flex;
                                flex-wrap: nowrap;
                                justify-content: initial;
                                overflow-x: scroll;
                                -webkit-overflow-scrolling: touch;
                                -ms-overflow-style: -ms-autohiding-scrollbar;

                                &:after {
                                    content: "=";
                                    position: absolute;
                                    bottom: 5px;
                                    left: 50%;
                                    transform: translateX(-50%);
                                    font-size: 22px;
                                    font-weight: bold;
                                    color: $cor-principal;
                                } 
                            }
                            @media screen and (min-width: $mobile) {  
                                .slick-track{
                                    .slick-slide{
                                        &:nth-child(2),
                                        &:nth-child(3){
                                            article {
                                                &:before {
                                                    content: "+";
                                                    position: absolute;
                                                    top: 50%;
                                                    left: -17px;
                                                    font-size: 22px;
                                                    font-weight: bold;
                                                    color: $cor-principal;
                                                }
                                            }
                                        }
                                        &:last-child {
                                            li{
                                                &:after {
                                                    content: "=";
                                                    position: absolute;
                                                    top: calc(50% - 20px);
                                                    right: -17px;
                                                    font-size: 22px;
                                                    font-weight: bold;
                                                    color: $cor-principal;
                                                } 
                                            }
                                        }
                                    }
                                }
                            }

                            li {
                                @media screen and (max-width: $mobile) {
                                    width: calc(50% - 5px);
                                    flex: 0 0 auto;
                                    margin-right: 10px;
                                }
                            }
                        }
                    }
                }

                &.column_2 {
                    width: 25%;
                    padding-left: 23px;

                    @media screen and (max-width: $mobile) {
                        width: 100%;
                        padding-left: 0;
                    }

                    article {
                        padding: 20px;
                        margin-top: 50%;
                        text-align: center;
                        background-color: #ebebeb;

                        @media screen and (max-width: $mobile) {
                            margin-top: 2.5%;
                        }

                        p {
                            font-size: 18px;
                            font-weight: bold;

                            strong {
                                display: block;
                                color: #448bcb;

                                &:empty {
                                    font-size: 0;

                                    &:after {
                                        font-size: 18px;
                                        content: "Calculando...";
                                    }
                                }
                            }
                        }

                        .buy {
                            background-color: #37a96d;
                            color: #fff;
                            height: 50px;
                            margin-top: 15px;
                            line-height: 50px;
                            text-align: center;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            font-size: 20px;
                            font-weight: 700;
                            text-transform: uppercase;
                            transition: opacity 300ms;
                        }
                    }
                }
            }
        }
    }
}

.produto { 
    
    .personalizar-faca{
        display: block;
        text-align: center;
        text-transform: uppercase;
        padding: 10px;
        background: #448ccb;
        color: #fff;
        font-size: 17px;
        position: relative;
        top: -10px;
        cursor: pointer;
    }

    .bg-popup {
        height: 300vh;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1000;
        background-color: rgba(0, 0, 0, 0.75);
        display: none;

        &.active {
            display: block;
            @media screen and (max-width: 768px) {
                overflow: scroll;
                -webkit-overflow-scrolling: touch;
            }
        }
        
    }
    .bg-popup.loading {
        .popUp.card {
            *{
                opacity: 0;
            }
            &::before{
                content: 'Aguarde um instante enquanto adicionamos seu produto ao carrinho :)';
                color: #000;
                font-size: 23px;
                font-weight: bold;
                position: absolute;
                text-align: center;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 95%;
            }
            &::after{
                content: '(esta menssagem irá sumir automáticamente e você será redirecionado para o seu carrinho em instantes)';
                color: #000;
                font-size: 12px;
                font-weight: bold;
                position: absolute;
                text-align: center;
                top: 60%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 75%;
            }
        }
    }
    .containerPersonalizar {
        background-color: #fff;
        width: 550px;
        height: fit-content;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        overflow-y: auto;
        padding: 20px;
        @media screen and (max-width: 1024px) {
            height: 57%;
        }
        @media screen and (max-width: 768px) {
            height: 82%;
        }
        @media screen and (max-width: 560px) {
            height: 90%;
            width: 90%;
        }
        .popUp.card {
            font-family: "Source Sans Pro", sans-serif;
            background-color: #F3F3F3;

            width: 100%;
            position: relative;
            padding: 20px 50px;
            // top: 50%;
            // left: 50%;
            // transform: translate(-50%, -50%);
            margin: 0 auto;
            margin-top: 40px;
            z-index: 99999;
            @media screen and (max-width: 768px) {
                // width: 100%;
                // left: 50%;
                // width: auto;
                overflow: scroll;
                -webkit-overflow-scrolling: touch;
            }
            @media screen and (max-width: 560px) {
                height: 100%;
                width: 100%;
                margin-top: 0;
            }
            .close-popup{
                position: absolute;
                top: -35px;
                right: 0px;
                font-size: 18px;
                font-style: normal;
                font-weight: bold;
                line-height: 25px;
                color: #5F5F5F;
                cursor: pointer;
                @media screen and (max-width: 768px) {
                    top: 0;
                }
            }
            .header {
                text-align: center;
                   
                h3 {
                    color: #000;
                    display: none;
                    font-size: 25px;
                    font-weight: 900;
                    text-align: center;
                    padding-bottom: 10px;
                    justify-content: center;
                    // text-transform: uppercase;
    
                    // &:before {
                    //     content: "";
                    //     width: 32px;
                    //     height: 35px;
                    //     margin-right: 10px;
                    //     background-image: url("/arquivos/pen.png");
                    // }
    
                    &.active {
                        display: flex !important;
                    }
                    @media screen and (max-width: 560px) {
                        font-size: 21px;
                    }
                }
    
                p {
                    padding-bottom: 20px;
                    font-size: 14px;
                    color: #000;
                    font-weight: 600;
                    @media screen and (max-width: 560px) {
                        font-size: 13px;
                        padding-bottom: 10px;
                    }
                }
            }
    
            .content {
                .passos {
                    font-family: Source Sans Pro;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 16px;
                    color: #000;
    
                    @media screen and (max-width: 768px) {
                    }
    
                    span {
                        color: #000;
                    }
                }
    
                .impressao {
                    margin-bottom: 5px;
                    display: block;
                    width: 100%;
    
                    @media screen and (max-width: 768px) {
                        width: 100%;
                        margin: 20px 0;
                    }
                    .bordado, 
                    .laser {
                        p {
                            font-size: 16px;
                            margin-bottom: 12px;
                            color: #000;
                        }
                    }
                    .passos {
                        margin-bottom: 10px;
                    }
    
                    // #laser,
                    // #bordado {
                    //     &:checked,
                    //     &:not(:checked) {
                    //         position: absolute;
                    //         left: -9999px;
    
                    //         + label {
                    //             position: relative;
                    //             padding-left: 25px;
                    //             cursor: pointer;
                    //             font-size: 16px;
                    //             display: inline-block;
                    //             color: #000;
    
                    //             &:before {
                    //                 content: "";
                    //                 position: absolute;
                    //                 left: 0;
                    //                 top: 0;
                    //                 width: 18px;
                    //                 height: 18px;
                    //                 border: 1px solid #ddd;
                    //                 border-radius: 100%;
                    //                 background: #eaeaea;
                    //             }
    
                    //             &:after {
                    //                 content: "";
                    //                 width: 10px;
                    //                 height: 10px;
                    //                 background: #40a0dd;
                    //                 position: absolute;
                    //                 top: 4px;
                    //                 left: 4px;
                    //                 border-radius: 100%;
                    //                 -webkit-transition: all 0.2s ease;
                    //                 transition: all 0.2s ease;
                    //             }
                    //         }
                    //     }
    
                    //     &:not(:checked) {
                    //         + label {
                    //             &:after {
                    //                 opacity: 0;
                    //                 -webkit-transform: scale(0);
                    //                 transform: scale(0);
                    //             }
                    //         }
                    //     }
    
                    //     &:checked {
                    //         + label {
                    //             &:after {
                    //                 opacity: 1;
                    //                 -webkit-transform: scale(1);
                    //                 transform: scale(1);
                    //             }
                    //         }
                    //     }
    
                    //     &:disabled {
                    //         cursor: none;
                    //         border: none;
    
                    //         + label {
                    //             color: #eaeaea;
                    //             pointer-events: none;
                    //             cursor: none;
                    //         }
                    //     }
                    // }
    
                    // #laser {
                    //     + label {
                    //         margin-right: 25px;
                    //     }
                    // }
                }

                
    
                .fonte-laser {
                    width: 100%;
                    display: block;
                    margin-bottom: 15px;
    
                    @media screen and (max-width: 768px) {
                        width: 100%;
                        margin: 20px 0;
                    }
    
                    select {
                        width: 100%;
                        margin-top: 10px;
                        padding: 10px 12px;
                        border-radius: none;
                        background-color: #e8e8e8;
                        border-radius: 5px;
                    }
                }
    
                .mensagem-laser {
                    width: 100%;
                    margin-bottom: 15px;
    
                    @media screen and (max-width: 768px) {
                        width: 100%;
                    }
    
                    input {
                        width: 100%;
                        margin-top: 10px;
                        padding: 10px 12px;
                        border: 1px solid #DCDCDC;
                        border-radius: 3px;
                        outline: none;
                    }
                    span {
                        font-size: 12px;
                        color: #000;
                    }
                }
    
                .imagem {
                    width: 100%;
                    margin-bottom: 00px;
                    position: relative;
                    left: 50%;
                    transform: translateX(-50%);
    
                    // @media screen and (max-width: 768px) {
                    //     width: 100%;
                    //     margin: 20px 0;
                    // }
                    span.ex_faca,
                    span.ex_dolma {
                        font-size: 16px !important;
                        color: #000 !important;
                    }
                    .ex_faca {
                        margin-top: 50px;
                    }
                    .containerImagemPersonal {
                        width: 100%;
                        background-color: #fff;
                        img {
                            margin: 0 auto;
                            width: 100%;
                            height: auto;
                            margin-top: 5px;
                            display: none;
                            &.dolma{
                                width: 140px;
                            }
                            &.active {
                                display: block !important;
                            }
                        }
                    }
                    
                }

                .Universidade {
                    margin-top: 20px;
                    margin-bottom: 15px;
                    p {
                        font-size: 16px;
                        color: #000; 
                    }
                    .faculdades {
                        width: 100%;
                        margin-top: 10px;
                        padding: 10px 12px;
                        border: 1px solid #dcdcdc;
                        border-radius: 3px;
                        outline: none;
                        -moz-appearance: none;
                        -webkit-appearance: none;
                        font-size: 14px;
                        color: #5F5F5F;
                        &::-webkit-scrollbar {
                            width: 8px;
                        }
                        &::-webkit-scrollbar-thumb {
                            background: #a3a3a3;
                            border-radius: 10px;
                            transition: all 300ms;
                        }
                        &::-webkit-scrollbar-thumb:hover {
                            background: #5F5F5F;
                        }
                        option {
                            font-style: normal;
                            font-size: 14px;
                            line-height: 32px;
                            color: #5F5F5F;
                        }
                    }
                }
                .gravarLogo {
                    .logoFaca {
                        .bordarLogoFaca {
                            font-size: 15px;
                            margin-top: 30px; 
                            color: #000;
                            @media screen and (max-width: 560px) {
                                margin-top: 20px;
                            }
                            a {
                                color: #000;
                            }
                        }
                    }
                    .LogoFaculdade {
                        .bordarLogoFaculdade {
                            margin-bottom: 6px;
                            color: #000;
                        }
                    }
                }
                .divCheck {
                    display: none;
                    width: 50%;
                    // display: flex;
                    margin-top: 24px;
    
                    @media screen and (max-width: 768px) {
                        width: 100%;
                        margin: 20px 0;
                    }
    
                    #no-gravacao {
                        width: 20px;
                        height: 20px;
                        margin-top: 7px;
                        margin-right: 8px;
    
                        + p {
                            font-size: 15px;
                            margin-top: 7px;
                        }
                    }
                }
    
                .divBtn {
                    width: 100%;
                    position: relative;
                    left: 50%;
                    transform: translateX(-50%);
    
                    @media screen and (max-width: 768px) {
                        width: 100%;
                        margin: 20px 0;
                    }
    
                    button {
                        display: block;
                        float: right;
                        width: 100%;
                        padding: 0 45px;
                        line-height: 50px;
                        text-align: center;
                        font-weight: 700;
                        background-color: #3ca96c;
                        color: #fff;
                        border-radius: 3px;
                        margin: 20px 0 10px;
                        font-size: 19px;
                        text-transform: uppercase;
                        @media screen and (max-width: 560px) {
                            font-size: 16px;
                            padding: 0;
                        }
                    }
    
                    .error_7 {
                        font-size: 18px;
                        font-weight: bold;
                        color: red;
                    }
                }
            }
        }
    }

    .marca-logo{
        text-align: right;
        img{
            max-height: 35px;
            max-width: 90px;
            position: relative;
            top: -5px;
        }
    }
}