$font-principal: 'Source Sans Pro', sans-serif;
$font-secundaria: 'Montserrat', sans-serif;

$branco: #fff;
$cor-principal: #de2328;
$cor-secundaria: #e0662a;
$cor-principal-claro: #6084dc;
$cor-cta: #37a96d;
$cor-texto: #363636;

$mobile: 812px;
$iphone5: 360px;
$tablet-landscape: 768px;
$tablet: 1024px;
$small-monitor: 1366px;